<div id="content">
    <div id="about">

        <div class="video">
          <div class="description">
            <b>BrowserID</b> is an <b>easier</b> way to sign in
          </div>
        </div>

        <div class="row one cf">
            <img src="/i/tutorial_1.png">
            <div>
                <div class="steps"></div> On your favorite website that supports BrowserID, Click the &lsquo;Sign In&rsquo; button
            </div>
        </div>

        <hr>

        <div class="row two cf">
            <img src="/i/tutorial_2.png">
            <div>
                <div class="steps"></div> Select your preferred Email
            </div>

        </div>

        <hr>

        <div class="row three cf">
            <img src="/i/tutorial_3.png">
            <div>
                <div class="steps"></div> No passwords necessary, you're done!
            </div>
        </div>
    </div>
</div>

