<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="content" class="display_always">
    <div id="about">

        <h1 class="center">
          <strong>Persona</strong> is an <strong>easier</strong> way to sign in
        </h1>


        <div class="row one cf">
            <img src="/i/tutorial_1.png">
            <div>
                <div class="steps"></div> On your favorite website that supports Persona, Click the &lsquo;Sign In&rsquo; button
            </div>
        </div>

        <div class="row two cf">
            <img src="/i/tutorial_2.png">
            <div>
                <div class="steps"></div> Select your preferred Email
            </div>

        </div>

        <div class="row three cf">
            <img src="/i/tutorial_3.png">
            <div>
                <div class="steps"></div> No passwords necessary, you're done!
            </div>
        </div>

        <div class="row cf center">
            If you need some help with Persona, head over to our <a href="https://support.mozilla.com/en-US/kb/what-browserid-and-how-does-it-work" target="_blank">support center</a>.
        </div>
    </div>
</div>

