<!DOCTYPE html>
<%- partial('partial/license_with_code_ver') %>
<html>
<head>
  <meta charset="utf-8">
  <title>Persona</title>
  <%- cachify_js('/production/authenticate_with_primary.js') %>
</head>
</html>
