<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
<head><title>non-interactive iframe</title>
  <meta charset="utf-8">
  <% if(production) { %>
    <script type="text/javascript" src="/production/communication_iframe.js"></script>
  <% } else { %>
    <script type="text/javascript" src="/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/lib/jschannel.js"></script>
    <script type="text/javascript" src="/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/lib/vepbundle.js"></script>
    <script type="text/javascript" src="/shared/javascript-extensions.js"></script>
    <script type="text/javascript" src="/shared/browserid.js"></script>
    <script type="text/javascript" src="/shared/storage.js"></script>
    <script type="text/javascript" src="/shared/network.js"></script>
    <script type="text/javascript" src="/shared/user.js"></script>
    <script type="text/javascript" src="/communication_iframe/start.js"></script>
  <% } %>
</head>
<body></body>
</html>
