<!DOCTYPE html>
<%- partial('partial/license_with_code_ver') %>
<html>
<head><title>non-interactive iframe</title>
  <meta charset="utf-8">
  <%- cachify_js('/production/communication_iframe.js') %>
</head>
<body></body>
</html>
