<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <section id="error" class="cookies_disabled">
      <div class="table">
        <div class="vertical contents">
          <h2 id="reason">
            <%= gettext("We are sorry, BrowserID requires cookies") %>
          </h2>

          <p>
            <%= gettext("BrowserID requires your browser's cookies to be enabled to operate. Please enable your browser's cookies and try again") %>
          </p>
          <p>
            <%= gettext("To retry, you will have to close this window and try again.") %>
          </p>
        </div>
      </div>
  </section>
