<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
    <section id="formWrap">
      <form novalidate>
        <div id="favicon">
            <div class="table">
                <div class="vertical">
                    <strong id="sitename"></strong>
                </div>
            </div>
        </div>

        <div id="signIn">
            <div class="table">
              <div class="vertical">
                <div class="contents">
                </div>
              </div>
            </div>
            <div class="arrowContainer">
              <div class="arrow"></div>
            </div>
        </div>
      </form>
    </section>


    <section id="wait">
        <!-- because each section is an absolutely positioned element, we have to use the inner table container element to be able to vertically/horizontally center correctly.  Without the table element, the layout gets all messed up. -->
        <div class="table">
            <div class="vertical contents">
                <h2><%= gettext('Communicating with server') %></h2>
                <p><%= gettext('Just a moment while we talk with the server.') %></p>
            </div>
        </div>
    </section>

    <section id="error">
        <div class="table">
            <div class="vertical contents">
            </div>
        </div>
    </section>

    <section id="delay">
        <div class="table">
            <div class="vertical contents">
            </div>
        </div>
    </section>
