<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div id="vAlign" class="disply_always">
    <%- gettext('This window will now close and account creation will continue.') %>
  </div>

  <script type="text/javascript">
    WinChan.onOpen(function(origin, params, complete) {
      complete("success");
    });
  </script>
