  <div id="vAlign" class="disply_always">
    This window will now close and account creation will continue.
  </div>

  <script type="text/javascript">
    WinChan.onOpen(function(origin, params, complete) {
      complete("success");
    });
  </script>
