<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <!--[if lt IE 9]>
    <script src="/lib/html5shim.js"></script>
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <% if (production) { %>
    <link rel="stylesheet" type="text/css" href="/production/browserid.css">
    <script src="/production/browserid.js" type="text/javascript"></script>
  <% } else { %>
    <link rel="stylesheet" href="/css/common.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/m.css" type="text/css" media="screen">

    <script src="/lib/vepbundle.js" type="text/javascript"></script>
    <script src="/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/lib/underscore-min.js" type="text/javascript"></script>
    <script src="/lib/ejs.js" type="text/javascript"></script>
    <script src="/shared/javascript-extensions.js" type="text/javascript"></script>
    <script src="/shared/browserid.js" type="text/javascript"></script>
    <script src="/lib/dom-jquery.js" type="text/javascript"></script>
    <script src="/lib/jschannel.js" type="text/javascript"></script>
    <script src="/lib/winchan.js" type="text/javascript"></script>

    <script src="/shared/templates.js" type="text/javascript"></script>
    <script src="/shared/renderer.js" type="text/javascript"></script>
    <script src="/shared/error-display.js" type="text/javascript"></script>
    <script src="/shared/screens.js" type="text/javascript"></script>
    <script src="/shared/error-messages.js" type="text/javascript"></script>
    <script src="/shared/storage.js" type="text/javascript"></script>
    <script src="/shared/network.js" type="text/javascript"></script>
    <script src="/shared/provisioning.js" type="text/javascript"></script>
    <script src="/shared/user.js" type="text/javascript"></script>
    <script src="/shared/tooltip.js" type="text/javascript"></script>
    <script src="/shared/validation.js" type="text/javascript"></script>
    <script src="/shared/helpers.js" type="text/javascript"></script>
    <script src="/shared/class.js" type="text/javascript"></script>

    <script src="/dialog/controllers/page.js" type="text/javascript"></script>

    <script src="/pages/page_helpers.js" type="text/javascript"></script>
    <script src="/pages/index.js" type="text/javascript"></script>
    <script src="/pages/start.js" type="text/javascript"></script>
    <script src="/pages/add_email_address.js" type="text/javascript"></script>
    <script src="/pages/verify_email_address.js" type="text/javascript"></script>
    <script src="/pages/forgot.js" type="text/javascript"></script>
    <script src="/pages/manage_account.js" type="text/javascript"></script>
    <script src="/pages/signin.js" type="text/javascript"></script>
    <script src="/pages/signup.js" type="text/javascript"></script>
  <% } %>
  <title>BrowserID: <%- title %></title>
</head>
<body>

<div id="errorBackground"></div>

<div id="wrapper">

    <header id="header" class="cf">
        <ul class="cf">
            <li><a class="home" href="/">BrowserID Home</a></li>
        </ul>

        <ul class="nav cf">
            <li><a href="/about">How it works</a></li>
            <li><a href="https://github.com/mozilla/browserid/wiki/How-to-Use-BrowserID-on-Your-Site" target="_blank">Developers</a></li>

            <li class="signIn"><a class="signIn" href="/signin">Sign In</a></li>
            <li class="signOut"><a class="signOut" href="/">Sign Out</a></li>
        </ul>
    </header>

    <div id="error"><div class="contents"></div></div>

    <%- body %>

    <footer id="footer">
        <ul class="cf">
            <li>By the <a href="http://identity.mozilla.com" target="_blank">Identity Team</a> @ <a href="http://mozillalabs.com" target="_blank">Mozilla Labs</a></li>
            <li>&mdash;</li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/tos">TOS</a></li>
            <li class="help"><a href="https://support.mozilla.com/en-US/kb/what-browserid-and-how-does-it-work" target="_blank">Need Help?</a></li>
        </ul>
    </footer>

</div>

</body>
</html>
