<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Persona Provisioning</title>
<script src="/common/js/lib/jquery-1.7.1.min.js"></script>
<script>
navigator.id.beginProvisioning(function(email, duration) {
  $.get(email);
  $.getJSON('/wsapi/session_context', function(session, status, xhr) {
    $.get(JSON.stringify(session));
    if (session.authenticated) {
      $.getJSON('/wsapi/list_emails', function(data, status, xhr) {
        if (data.emails.indexOf(email) === -1) {
          if (console && 'function' === typeof console.log)
            console.log(email, ' not in ', data.emails.join(', '));
          var msg = "user is not authenticated as target user";
          navigator.id.raiseProvisioningFailure(msg);
        } else {
          navigator.id.genKeyPair(function(publicKey) {
            var params = {
              email: email,
              pubkey: JSON.stringify(publicKey),
              ephemeral: true,
              allowUnverified: false,
              csrf: session.csrf_token
            };

            $.ajax('/wsapi/cert_key', {
              type: 'POST',
              contentType: 'application/json; charset=UTF-8',
              data: JSON.stringify(params),
              dataType: 'text',
              error: function(xhr, status, err) {
                // TODO: Handle errors
                if (console && 'function' === typeof console.log) {
                  console.error('Unable to certifiy key');
                  console.error(err);
                }
              },
              success: function(certificate, status, xhr) {
                navigator.id.registerCertificate(certificate);
              }
            });
          });
        }
      });
    } else {
      var msg = "user is not authenticated as target user";
      navigator.id.raiseProvisioningFailure(msg);
    }
  });
});
</script>
</head>
</html>
