<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="vAlign" class="display_always">
    <div id="signUpFormWrap">
        <!-- XXX this form submits to nowhere -->
        <form id="signUpForm" class="cf authform" novalidate>
            <h1 class="serif">Create Account</h1>

            <ul class="notifications">
                <li class="notification error doh">Doh! Something went wrong :-( </li>

                <li class="notification alreadyRegistered">
                  <strong id="registeredEmail"></strong> is already registered.
                  Would you like to <a class="action" href="/signin">sign in</a> instead?
                </li>

                <li class="notification emailsent">
                  <p>
                    We sent a confirmation email to <strong id="sentToEmail"></strong>.
                  </p>

                  <p>
                    To finish signing up just click the verify link we sent to your email address.
                  </p>

                  <br />
                  <p>
                    If this is a mistake, just ignore the sent email and <a href="/signup" class="action cancelVerify" id="back">use another email address</a>.
                  </p>
                </li>

            </ul>

            <ul class="inputs forminputs">
                <li>
                    <label class="serif" for="email">Email Address</label>
                    <input class="sans" id="email" autofocus placeholder="Your Email" type="email" autocapitalize="off" autocorrect="off" maxlength="254" />

                    <div id="email_format" class="tooltip" for="email">
                      This field must be an email address.
                    </div>

                    <div id="email_required" class="tooltip" for="email">
                      The email field is required.
                    </div>

                    <div id="could_not_add" class="tooltip" for="email">
                      We just sent an email to that address! If you really want to send another, wait a minute or two and try again.
                    </div>
                </li>

                <li class="password_entry">
                    <label class="serif" for="password">Password</label>
                    <input class="sans" id="password" placeholder="Password" type="password" tabindex="2" maxlength="80">

                    <div id="password_required" class="tooltip" for="password">
                        Password is required.
                    </div>

                    <div class="tooltip" id="password_length" for="password">
                        Password must be between 8 and 80 characters long.
                    </div>

                    <div id="could_not_add" class="tooltip" for="password">
                        We just sent an email to that address! If you really want to send another, wait a minute or two and try again.
                    </div>
                </li>

                <li class="password_entry">
                    <label class="serif" for="vpassword">Verify Password</label>
                    <input class="sans" id="vpassword" placeholder="Repeat Password" type="password" tabindex="2" maxlength="80">

                    <div id="password_required" class="tooltip" for="vpassword">
                      Verification password is required.
                    </div>

                    <div class="tooltip" id="passwords_no_match" for="vpassword">
                      Passwords do not match.
                    </div>

                </li>
            </ul>

            <div class="submit cf forminputs">
                <div class="remember cf">
                    <a class="action" href="/signin">Existing account? Sign in.</a>
                </div>
                <button>Verify Email</button>
            </div>

            <ul class="notifications">
                <!-- This has to go down here because of the button.  Firefox clicks the first button in the form whenever the user hits enter in the form, whether the button is shown or not, and even if there is an input[type=submit].  Ghetto.  -->
                <li class="notification" id="primary_verify">
                  <p>
                    To verify that you own <strong id="primary_email">address</strong>, you must
                    sign in with your provider.  A new window will be opened.
                  </p>

                  <p>
                    <button id="authWithPrimary">Verify</button>
                  </p>
                </li>
            </ul>


        </form>

        <div class="notification" id="congrats">
            <p class="serif">Thank you for signing up with <strong>BrowserID</strong>. You can now use your <strong>BrowserID</strong> account to <em>Sign In</em> or <em>Sign Up</em> to websites all across the web!
            </p>
        </div>

    </div>
</div>

<noscript>
  We're sorry, but to sign up for BrowserID, you must have Javascript enabled.
</noscript>



