<!doctype html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html>
	<head>
    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="qunit/qunit.css" />
		<title>BrowserID QUnit Test</title>
  <!--[if lt IE 9]>
    <script src="/lib/html5shim.js"></script>
  <![endif]-->
	</head>
	<body>

		<h1 id="qunit-header">BrowserID Test Suite</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-test-area"></div>

    <div id="qunit-fixture" style="position: absolute; top: -1000px; left: 100px; right: 100px; height: 300px;">
        <a href="#" onclick="$('#contents').hide(); return false;">Close</a>
        <h3>Test Contents, this will be updated and can be safely ignored</h3>

        <div id="page_head">
        </div>

        <div id="controller_head">
          <div id="formWrap">
              <div class="contents"></div>
          </div>

          <div id="wait">
              <div class="contents"></div>
          </div>

          <div id="error">
              <div class="contents"></div>
          </div>

          <div id="delay">
              <div class="contents"></div>
          </div>
        </div>

        <div id="needsTooltip">Tooltip Anchor</div>

        <div id="shortTooltip" class="tooltip" for="needsTooltip">
          short tooltip
        </div>

        <div id="longTooltip" class="tooltip" for="needsTooltip">
          This is a long tooltip.  This should remain on the screen for about 5 seconds.
        </div>
    </div>


    <script type="text/html" id="templateUser">
      <li>{{email}}</li>
    </script>
    <script src="qunit/qunit.js"></script>
    <script src="/include.js"></script>
    <script src="/lib/jquery-1.7.1.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="/lib/ejs.js"></script>
    <script src="/i18n/en_US/client.json"></script>
    <script src="/shared/javascript-extensions.js"></script>
    <script src="/shared/gettext.js"></script>
    <script src="/lib/vepbundle.js"></script>
    <script src="http://testmob.org/include.js"></script>
    <script src="/shared/browserid.js"></script>
    <script src="/lib/dom-jquery.js"></script>
    <script src="/lib/hub.js"></script>
    <script src="/lib/module.js"></script>
    <script src="/lib/jschannel.js"></script>
    <script src="mocks/mocks.js"></script>
    <script src="mocks/xhr.js"></script>
    <script src="mocks/templates.js"></script>
    <script src="mocks/provisioning.js"></script>
    <script src="mocks/window.js"></script>
    <script src="mocks/winchan.js"></script>

    <script src="/shared/renderer.js"></script>
    <script src="/shared/class.js"></script>
    <script src="/shared/mediator.js"></script>
    <script src="/shared/tooltip.js"></script>
    <script src="/shared/validation.js"></script>
    <script src="/shared/helpers.js"></script>
    <script src="/shared/screens.js"></script>
    <script src="/shared/browser-support.js"></script>
    <script src="/shared/enable_cookies_url.js"></script>
    <script src="/shared/wait-messages.js"></script>
    <script src="/shared/error-messages.js"></script>
    <script src="/shared/error-display.js"></script>
    <script src="/shared/storage.js"></script>
    <script src="/shared/xhr.js"></script>
    <script src="/shared/network.js"></script>
    <script src="/shared/provisioning.js"></script>
    <script src="/shared/user.js"></script>
    <script src="/shared/command.js"></script>
    <script src="/shared/history.js"></script>
    <script src="/shared/state_machine.js"></script>

    <script src="/shared/modules/page_module.js"></script>
    <script src="/shared/modules/xhr_delay.js"></script>
    <script src="/shared/modules/xhr_disable_form.js"></script>
    <script src="/shared/modules/cookie_check.js"></script>

    <script src="/dialog/resources/internal_api.js"></script>
    <script src="/dialog/resources/helpers.js"></script>
    <script src="/dialog/resources/state.js"></script>

    <script src="/dialog/controllers/actions.js"></script>
    <script src="/dialog/controllers/pick_email.js"></script>
    <script src="/dialog/controllers/add_email.js"></script>
    <script src="/dialog/controllers/dialog.js"></script>
    <script src="/dialog/controllers/check_registration.js"></script>
    <script src="/dialog/controllers/authenticate.js"></script>
    <script src="/dialog/controllers/forgot_password.js"></script>
    <script src="/dialog/controllers/required_email.js"></script>
    <script src="/dialog/controllers/verify_primary_user.js"></script>
    <script src="/dialog/controllers/generate_assertion.js"></script>
    <script src="/dialog/controllers/provision_primary_user.js"></script>
    <script src="/dialog/controllers/primary_user_provisioned.js"></script>
    <script src="/dialog/controllers/is_this_your_computer.js"></script>

    <script src="/pages/page_helpers.js"></script>
    <script src="/pages/add_email_address.js"></script>
    <script src="/pages/forgot.js"></script>
    <script src="/pages/manage_account.js"></script>
    <script src="/pages/signin.js"></script>
    <script src="/pages/signup.js"></script>
    <script src="/pages/verify_email_address.js"></script>

    <script src="testHelpers/helpers.js"></script>

    <script src="cases/include.js"></script>

    <script src="cases/shared/helpers.js"></script>
    <script src="cases/shared/renderer.js"></script>
    <script src="cases/shared/screens.js"></script>
    <script src="cases/shared/tooltip.js"></script>
    <script src="cases/shared/error-display.js"></script>
    <script src="cases/shared/browser-support.js"></script>
    <script src="cases/shared/enable_cookies_url.js"></script>
    <script src="cases/shared/validation.js"></script>
    <script src="cases/shared/storage.js"></script>
    <script src="cases/shared/xhr.js"></script>
    <script src="cases/shared/network.js"></script>
    <script src="cases/shared/user.js"></script>
    <script src="cases/shared/command.js"></script>
    <script src="cases/shared/history.js"></script>
    <script src="cases/shared/state_machine.js"></script>

    <script src="cases/shared/modules/page_module.js"></script>
    <script src="cases/shared/modules/xhr_delay.js"></script>
    <script src="cases/shared/modules/xhr_disable_form.js"></script>
    <script src="cases/shared/modules/cookie_check.js"></script>

    <script src="cases/pages/browserid.js"></script>
    <script src="cases/pages/page_helpers.js"></script>
    <script src="cases/pages/add_email_address_test.js"></script>
    <script src="cases/pages/verify_email_address_test.js"></script>
    <script src="cases/pages/forgot.js"></script>
    <script src="cases/pages/signin.js"></script>
    <script src="cases/pages/signup.js"></script>
    <script src="cases/pages/manage_account.js"></script>

    <script src="cases/resources/internal_api.js"></script>
    <script src="cases/resources/helpers.js"></script>
    <script src="cases/resources/state.js"></script>

    <script src="cases/controllers/actions.js"></script>
    <script src="cases/controllers/pick_email.js"></script>
    <script src="cases/controllers/add_email.js"></script>
    <script src="cases/controllers/check_registration.js"></script>
    <script src="cases/controllers/authenticate.js"></script>
    <script src="cases/controllers/forgot_password.js"></script>
    <script src="cases/controllers/required_email.js"></script>
    <script src="cases/controllers/verify_primary_user.js"></script>
    <script src="cases/controllers/generate_assertion.js"></script>
    <script src="cases/controllers/provision_primary_user.js"></script>
    <script src="cases/controllers/primary_user_provisioned.js"></script>
    <script src="cases/controllers/is_this_your_computer.js"></script>

    <!-- must go last or all other tests will fail. -->
    <script src="cases/controllers/dialog.js"></script>
	</body>
</html>
