<!doctype html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html>
	<head>
    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="qunit/qunit.css" />
		<title>Persona QUnit Test</title>
  <!--[if lt IE 9]>
    <script src="/common/js/lib/html5shim.js"></script>
  <![endif]-->
	</head>
	<body>

		<h1 id="qunit-header">Persona Test Suite</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-test-area"></div>

    <div id="qunit-fixture" style="position: absolute; top: -1000px; left: 100px; right: 100px; height: 300px;">
        <a href="#" onclick="$('#contents').hide(); return false;">Close</a>
        <h3>Test Contents, this will be updated and can be safely ignored</h3>

        <div id="rp_info">
        </div>

        <div id="page_head">
        </div>

        <div id="controller_head">
          <div id="formWrap">
              <div class="contents"></div>
          </div>

          <div id="wait">
              <div class="contents"></div>
          </div>

          <div id="error">
              <div class="contents"></div>
          </div>

          <div id="delay">
              <div class="contents"></div>
          </div>
        </div>

        <div id="needsTooltip">Tooltip Anchor</div>

        <div id="shortTooltip" class="tooltip" for="needsTooltip">
          short tooltip
        </div>

        <div id="longTooltip" class="tooltip" for="needsTooltip">
          This is a long tooltip.  This should remain on the screen for about 5 seconds.
        </div>
    </div>


    <script type="text/html" id="templateUser">
      <li>{{email}}</li>
    </script>
    <script src="qunit/qunit.js"></script>
    <script src="/include.js"></script>
    <script src="/common/js/lib/jquery-1.7.1.min.js"></script>
    <script src="/common/js/lib/underscore.js"></script>
    <script src="/common/js/lib/ejs.js"></script>
    <script src="/common/js/lib/gobbledygook.js"></script>
    <script src="/common/js/javascript-extensions.js"></script>
    <script src="/common/js/lib/bidbundle.js"></script>
    <script src="http://testmob.org/include.js"></script>
    <script src="/common/js/browserid.js"></script>
    <script src="/common/js/gettext.js"></script>
    <script src="/common/js/lib/dom-jquery.js"></script>
    <script src="/common/js/lib/hub.js"></script>
    <script src="/common/js/lib/module.js"></script>
    <script src="/common/js/lib/jschannel.js"></script>
    <script src="/common/js/lib/urlparse.js"></script>

    <script src="mocks/mocks.js"></script>
    <script src="mocks/xhr.js"></script>
    <script src="mocks/templates.js"></script>
    <script src="mocks/provisioning.js"></script>
    <script src="mocks/window.js"></script>
    <script src="mocks/winchan.js"></script>
    <script src="mocks/cachify.js"></script>

    <script src="/common/js/renderer.js"></script>
    <script src="/common/js/class.js"></script>
    <script src="/common/js/mediator.js"></script>
    <script src="/common/js/tooltip.js"></script>
    <script src="/common/js/validation.js"></script>
    <script src="/common/js/helpers.js"></script>
    <script src="/common/js/dom-helpers.js"></script>
    <script src="/common/js/screens.js"></script>
    <script src="/common/js/browser-support.js"></script>
    <script src="/common/js/enable_cookies_url.js"></script>
    <script src="/common/js/wait-messages.js"></script>
    <script src="/common/js/error-messages.js"></script>
    <script src="/common/js/storage.js"></script>
    <script src="/common/js/xhr.js"></script>
    <script src="/common/js/network.js"></script>
    <script src="/common/js/provisioning.js"></script>
    <script src="/common/js/user.js"></script>
    <script src="/common/js/command.js"></script>
    <script src="/common/js/history.js"></script>
    <script src="/common/js/state_machine.js"></script>

    <script src="/common/js/models/models.js"></script>
    <script src="/common/js/models/interaction_data.js"></script>

    <script src="/common/js/modules/page_module.js"></script>
    <script src="/common/js/modules/xhr_delay.js"></script>
    <script src="/common/js/modules/xhr_disable_form.js"></script>
    <script src="/common/js/modules/cookie_check.js"></script>
    <script src="/common/js/modules/interaction_data.js"></script>
    <script src="/common/js/modules/extended-info.js"></script>

    <script src="/dialog/js/misc/internal_api.js"></script>
    <script src="/dialog/js/misc/helpers.js"></script>
    <script src="/dialog/js/misc/state.js"></script>

    <script src="/dialog/js/modules/actions.js"></script>
    <script src="/dialog/js/modules/pick_email.js"></script>
    <script src="/dialog/js/modules/add_email.js"></script>
    <script src="/dialog/js/modules/dialog.js"></script>
    <script src="/dialog/js/modules/check_registration.js"></script>
    <script src="/dialog/js/modules/authenticate.js"></script>
    <script src="/dialog/js/modules/required_email.js"></script>
    <script src="/dialog/js/modules/verify_primary_user.js"></script>
    <script src="/dialog/js/modules/generate_assertion.js"></script>
    <script src="/dialog/js/modules/provision_primary_user.js"></script>
    <script src="/dialog/js/modules/primary_user_provisioned.js"></script>
    <script src="/dialog/js/modules/is_this_your_computer.js"></script>
    <script src="/dialog/js/modules/set_password.js"></script>
    <script src="/dialog/js/modules/rp_info.js"></script>

    <script src="/pages/js/page_helpers.js"></script>
    <script src="/pages/js/verify_secondary_address.js"></script>
    <script src="/pages/js/forgot.js"></script>
    <script src="/pages/js/manage_account.js"></script>
    <script src="/pages/js/signin.js"></script>
    <script src="/pages/js/signup.js"></script>
    <script src="/pages/js/about.js"></script>

    <script src="testHelpers/helpers.js"></script>

    <script src="cases/include.js"></script>

    <script src="cases/common/js/helpers.js"></script>
    <script src="cases/common/js/dom-helpers.js"></script>
    <script src="cases/common/js/renderer.js"></script>
    <script src="cases/common/js/screens.js"></script>
    <script src="cases/common/js/tooltip.js"></script>
    <script src="cases/common/js/browser-support.js"></script>
    <script src="cases/common/js/enable_cookies_url.js"></script>
    <script src="cases/common/js/validation.js"></script>
    <script src="cases/common/js/storage.js"></script>
    <script src="cases/common/js/xhr.js"></script>
    <script src="cases/common/js/network.js"></script>
    <script src="cases/common/js/user.js"></script>
    <script src="cases/common/js/command.js"></script>
    <script src="cases/common/js/history.js"></script>
    <script src="cases/common/js/state_machine.js"></script>

    <script src="cases/common/js/models/interaction_data.js"></script>

    <script src="cases/common/js/modules/page_module.js"></script>
    <script src="cases/common/js/modules/xhr_delay.js"></script>
    <script src="cases/common/js/modules/xhr_disable_form.js"></script>
    <script src="cases/common/js/modules/cookie_check.js"></script>
    <script src="cases/common/js/modules/interaction_data.js"></script>
    <script src="cases/common/js/modules/extended-info.js"></script>

    <script src="cases/pages/js/browserid.js"></script>
    <script src="cases/pages/js/page_helpers.js"></script>
    <script src="cases/pages/js/verify_secondary_address.js"></script>
    <script src="cases/pages/js/forgot.js"></script>
    <script src="cases/pages/js/signin.js"></script>
    <script src="cases/pages/js/signup.js"></script>
    <script src="cases/pages/js/manage_account.js"></script>
    <script src="cases/pages/js/about.js"></script>

    <script src="cases/dialog/js/misc/internal_api.js"></script>
    <script src="cases/dialog/js/misc/helpers.js"></script>
    <script src="cases/dialog/js/misc/state.js"></script>

    <script src="cases/dialog/js/modules/actions.js"></script>
    <script src="cases/dialog/js/modules/pick_email.js"></script>
    <script src="cases/dialog/js/modules/add_email.js"></script>
    <script src="cases/dialog/js/modules/check_registration.js"></script>
    <script src="cases/dialog/js/modules/authenticate.js"></script>
    <script src="cases/dialog/js/modules/required_email.js"></script>
    <script src="cases/dialog/js/modules/verify_primary_user.js"></script>
    <script src="cases/dialog/js/modules/generate_assertion.js"></script>
    <script src="cases/dialog/js/modules/provision_primary_user.js"></script>
    <script src="cases/dialog/js/modules/primary_user_provisioned.js"></script>
    <script src="cases/dialog/js/modules/is_this_your_computer.js"></script>
    <script src="cases/dialog/js/modules/set_password.js"></script>
    <script src="cases/dialog/js/modules/rp_info.js"></script>

    <!-- must go last or all other tests will fail. -->
    <script src="cases/dialog/js/modules/dialog.js"></script>
	</body>
</html>
