<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <section id="error" style="display: block" class="unsupported">
      <h2>
        We are sorry, but currently your browser is not supported.
      </h2>


      <a href="http://getfirefox.com" target="_blank">
        <img src="/i/firefox_logo.png" width="250" height="88" alt="Firefox logo" />
      </a>

      <p>
        Persona works with <a href="http://getfirefox.com" target="_blank" title="Get Firefox">Firefox</a>
      </p>

      <p class="lighter">
        and other <a href="http://whatbrowser.org" target="_blank">modern browsers.</a>
      </p>


  </section>
