*~
*.pyc
\#*\#
.\#*
/node_modules
/var
/rpmbuild
/npm-debug.log
/resources/static/build
/resources/static/production
/resources/static/i18n
.DS_Store
Thumbs.db
/locale
/resources/email_templates/email-test.html
/automation-tests/bid_selenium
/automation-tests/results
/automation-tests/credentials.yaml
/automation-tests/sauce.yaml
