*~
*.pyc
\#*\#
.\#*
/node_modules
/var
/rpmbuild
/npm-debug.log
/resources/static/build
/resources/static/production
/resources/static/i18n
/resources/static/common/js/lib/bidbundle.js
/resources/static/common/js/lib/gobbledygook.js
/resources/static/dialog/views/site
.DS_Store
Thumbs.db
/locale
/resources/email_templates/email-test.html
/automation-tests/node_modules
/automation-tests/results
/automation-tests/*.jar
