<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="content" class="display_always">
    <div id="legal">
      <h1>Privacy & Persona</h1>

      <ul>
        <li>We need your verified email address to register a Persona Account, but we don't ask for other personal information.</li>

        <li>Your email address is shared with sites you visit to help you sign in, but is never given to anyone without your express consent.</li>

        <li>As part of the normal operation of the Persona service, Mozilla will retain a log of which sites you have disclosed your email to.</li>

        <li>We don't sell your data or use ad networks on the Persona webpages or service.</li>

        <li>In the future, Mozilla will seek to bring email providers into this system, at which point their privacy policies and terms of service will apply (if you use an email provided by them).</li>

        <li>For the full text of our privacy practices and all the "legalese" and details, please read our privacy policy below.</li>
</ul>

      <h3>Persona Privacy Policy</h3>
      <p><em>Last Updated: 13 July 2011</em></p>

      <p>This privacy policy explains to what extent Mozilla Corporation  (*) ("Mozilla") collects and uses information about users of Persona ("Persona Service"), where such users use the Mozilla-created servers and client.</p>

      <h4>Definitions</h4>
      <p>"<b>Personal Information</b>" is information that  you provide to us that personally identifies you, such as your name, phone number, or email address. Except for your email address, Mozilla  does not collect or require end-users of the Persona Service to furnish Personal Information.</p>

      <p>"<b>Non-Personal Information</b>" is information  that cannot by itself be directly associated with a specific person or entity. Non-Personal Information includes but is not limited to your  computer's configuration and the version of Firefox you use.</p>

      <p>"<b>Potentially Personal Information</b>" is  information that is Non-Personal Information in and of itself but that could be used in conjunction with other information to personally  identify you. For example, Uniform Resource Locators ("URLs") (the  addresses of web pages) and Internet Protocol ("IP") addresses (the  addresses of computers on the internet) can be Personal Information when combined with internet service provider ("ISP") records.</p>

      <p>"<b>Operational Data</b>" means aggregated data regarding users' usage of the Services, such as access log  data (such as data about when people access the service and with what piece of software). Mozilla collects Operational Data to help us so  that we can ensure that we have sufficient capacity to meet user needs and otherwise to help with the operations of the Services.
        </p>

      <p>"<b>Usage Statistics</b>" refers to the  Non-Personal Information Mozilla will use to understand your use of the Service. Such information may include but is not limited to the amount of data you are storing with the service, the frequency with which you access the service, bandwidth utilization, and traffic shaping.</p>

      <h4>Gathering, Use and Disclosure of Transmission Data</h4>
      <h5>Account Information</h5>
      <p>Before you are able to access Persona, you will be required to register. To register, the Persona Service will require the following Personal Information and Potentially Personal Information from you: your email address, and password. Your username and email address are  transferred to Mozilla using encryption called SSL. Your email address is used by us to provide you the services, such as allowing us to help you recover your account if you lose your password. Your password is transferred to Mozilla using SSL encryption but is only retained by Mozilla's servers in a hash format (which means a low level of encryption is applied).</p>

      <p>Once you have registered, your password is used to help prevent unauthorized access to your account. </p>

      <h5>Data Used to Provide the Services</h5>
      <p>Mozilla receives and uses the following information for the purpose of providing and improving the Persona Service: IP address, email, date and time of accessing the Persona Service, and various operational data such as the type of client OS and Firefox version (which are also known as the user agent string).</p>

      <h5>Disclosure to Third Parties</h5>
      <p>The Persona Service will disclose your verified email address to a Web site of your choosing, only after you have expressly consented to such disclosure. A Web site is allowed to request a verified email address, which results in you being prompted about the site's request. After you have agreed, the service may remember your choice, so that you may remain signed-in on the site on subsequent visits.</p>

      <p>Mozilla will not otherwise knowingly disclose Personal Information or Potentially Personal Information to other third parties, except when required to do so, such as in order to comply with any law, regulation, or valid legal process, such as a search warrant, subpoena, statute, court order, or if necessary or appropriate to address an unlawful or harmful activity.</p>

      <h5>What Data is Analyzed by Mozilla?</h5>
      <p>Without your explicit approval and opt-in, Mozilla will only use the Usage Statistics to understand your use of the Persona Service.</p>

      <h5>How Are the Usage Statistics Used?</h5>
      <p>Mozilla will use the Usage Statistics gathered through the operation of the Persona Service to improve the service and other related Mozilla products and services. By identifying patterns and trends in usage, Mozilla and its community is able to better design products and services to improve users' experiences, both in terms of content and ease of use.</p>

      <h5>Where is the Operational Data Available?</h5>
      <p>Mozilla is an open organization that believes in sharing as much information as possible about its products, its operations, and its  associations with its wider community. As such, Persona Service users should expect that Mozilla will make all Usage Statistics publicly  available at some point. However, any publicly available Usage Statistics will only be reported on an aggregate, anonymous basis. No Personal Information or Potentially Personal Information will be  available in any of these public reports.</p>

      <h5>How to Disable or Opt-Out of Persona</h5>
      <p>If at any time, you decide you no longer want to use the Persona Service, you may cancel your Persona Account by visiting <kbd>https://login.persona.org/</kbd>, signing in using any of your email addresses and your password, clicking the "edit" button, and clicking "remove" next to each of your email addresses.</p>

      <h5>Other Disclosures</h5>
      <p>In certain other limited situations, Mozilla may disclose your Personal Information, such as when necessary to protect our  websites and operations (e.g., against attacks); to protect the rights, privacy, safety, or property of Mozilla or its users; to enforce our  terms of service; and to pursue available legal remedies. Additionally, Mozilla may need to transfer Personal Information to an affiliate or successor in the event of a change of our corporate structure or status, such as in the event of a restructuring, sale, or bankruptcy.</p>

      <h5>Service Providers</h5>
      <p>We work with third parties who provide services (such as companies that help us determine the number of users of Persona) and content delivery networks and other services of an administrative nature. We may share Personal Information and Potentially Personal Information about you with such third parties for the purpose of enabling these third parties to provide such services.</p>

      <h5>Transfer of Data to the U.S.</h5>
      <p>Mozilla is a global organization and operates in different countries. Privacy laws and common practices vary from country to country. Some countries may provide for less legal protection of your personal data; others may provide more legal protection. By using the Persona Service, you consent to the transfer of the information collected, as outlined by this Policy, to Mozilla in the United States, which may provide a lesser level of data security than in your country of residence.</p>

      <h5>Data Retention</h5>
      <p>We will retain any information collected for the period necessary to fulfill the purposes outlined in this Policy unless a longer retention period is required by law and/or regulations.</p>

      <h5>Privacy Policy Changes</h5>
      <p>Mozilla may change this Privacy Policy from time to time.  Each time you use the Persona Service the current version of this Privacy Policy will apply. Any and all changes will be reflected on this page. You should periodically check this page for any changes to the current policy. To make your review more convenient, we will post an effective date at the top of this page. Material changes will also be announced through the standard mechanisms through which Mozilla communicates with the Mozilla community. It is your responsibility to ensure that you understand the terms of this Privacy Policy.</p>

      <h5>What This Privacy Policy Doesn't Cover</h5>
      <p>This policy does not apply to other Mozilla websites, products, or services. It also does not apply to your use of third-party clients or use of non-Mozilla servers. If you choose to use a third-party Persona client or servers provided by an entity other than Mozilla, this policy does not apply and Mozilla assumes no liability whatsoever for such products or services.</p>

      <h5>For More Information</h5>
<p>You may request access, correction, or deletion of Personal Information or Potentially Personal Information, as permitted by law. We will seek to comply with such requests, provided that we have sufficient information to identify the Personal Information or Potentially Personal Information related to you. Any such requests or other questions or concerns regarding this Policy and Mozilla's data protection practices should be addressed to:</p>
<blockquote><pre>
Mozilla Corporation
Attn: Legal Notices – Privacy
650 Castro Street, Suite 300
Mountain View, CA 94041-2072
Phone: +1-650-903-0800
E-mail: <a href="mailto:privacy@mozilla.com">privacy@mozilla.com</a>
</pre>
</blockquote>
    </div>
</div>
