<div id="content" class="display_always">
  <div id="legal">
  <h1>Terms of Service &mdash; Overview</h1>

  <ul>
    <li>
      The Persona service allows a logged-in user to verify that he is the owner of a certain email address.  Once the user has made this verification and uses that email address at websites utilizing the Persona service, the website can request that Mozilla confirm that the user has verified the email address exists and is owned by him.
    </li>
    <li>
      The Persona service works with websites to confirm that a user has verified a certain email address and with email providers to make the initial user verification.  These Terms of Service apply to both the websites and the email providers who use Persona.
    </li>
    <li>
      You are responsible for the third party software or APIs that you use or have developed to access the Persona Service.  the Persona service are  provided “as is” and there are no warranties of any kind.</li>
    <li>
      There are significant limits on Mozilla’s liability for any damages arising from your use of the Persona service.
    </li>
  </ul>

  <h3>Terms of Service</h3>

  <h4>Acceptance</h4>

  <p>
    These Terms of Service (“TOS”) govern your use of the Persona service (the “Services”). By accessing the materials and APIs necessary to use the Services, and by using the Services you are agreeing to abide by the terms and conditions described below.
  </p>

  <h4>Use of the Services as a Requesting Website or Email Provider</h4>

  <p>
    To use the Services a website must include in their pages a JavaScript library provided by Mozilla and use the provided API to request a verified email address. If a user has chosen to  verify an email address as part of the Services, Mozilla will send a confirmation email to the email address.  When we receive a response from that email account or a confirmation from the email provider, we will store that verification and confirm to the user  that the verification was successful.  After that, if the user is logged into the Services and visits your website and you would like to request a verification of the that the email address, we will issue a verification to you..  The verification will confirm that this user had access at verification time to the specified email address.
  </p>
  <p>You may use the Services only for purposes that are permitted by (i) the TOS and (ii) the laws and regulations in your state and country and any other laws and regulations that apply to your use of the Services (including any laws regarding the export of data or software to and from the United States or other relevant countries).
  </p>

  <p>
    You agree not to:
  </p>
  <ul>
    <li>
      engage in any activity that interferes with or disrupts the Services (or the servers and networks that are connected to the Services),
    </li>
    <li>
      trade or resell the Services for any purpose, unless you have been specifically permitted to do so in writing by Mozilla, or
    </li>
    <li>
      access (or attempt to access) the Services by any means other than the Persona site itself (at persona.org), official Mozilla-branded software (Firefox, Firefox for Mobile, and Firefox Home, referred to in this document as “Firefox Clients”), or third party software that utilizes APIs authorized and provided by Mozilla (“Third Party Clients”), unless you have been specifically allowed to do so in writing by Mozilla.
    </li>
  </ul>

  <h4>Your Acknowledgments</h4>

  <p>You acknowledge and agree that Mozilla has no responsibility for Third Party Clients and that you are solely responsible for your use of them.</p>

  <ul>
    <li>Mozilla does not represent or imply that it endorses any Third Party Clients nor that it believes the operation of any Third Party Clients will be accurate, useful, or non-harmful.</li>
    <li>Third Party Clients may have technical inaccuracies, may cause mistakes or errors, and may transmit, store, or otherwise manipulate data in a manner that you find objectionable. You are responsible for taking precautions to protect yourself and your computer systems in connection with the use of Third Party Clients.</li>
    <li>Third Party Clients may be subject to additional terms and separate privacy policies and practices.  Mozilla’s privacy policy(ies) shall not apply with respect to data stored on, manipulated, or transmitted to or from Mozilla’s servers by means of your use of Third Party Clients.</li>
  </ul>

  <p>You also acknowledge and agree that:</p>

  <ul>
    <li>Mozilla has the right to manage the Services to protect the rights and property of Mozilla and others and to facilitate the proper functioning of the Services, including disabling your account.</li>

    <li>You will not use the Services for any purpose where an accurate verification of identity has critical or life-threatening consequences or has other significant or financial consequences such as in the context of financial services, banking, education, immigration, taxes, or other government functions, or healthcare.</li>

    <li>Mozilla may discontinue or change the Services at its discretion without liability. If we discontinue or change the Services, we will announce it through Mozilla’s usual channels for such announcements such as blog posts and forums.</li>
  </ul>

  <h4>Proprietary Rights</h4>

  <p>
    Mozilla does not grant you any intellectual property rights in the Services that are not specifically stated in this TOS.  For example, this TOS does not provide the right to use any of Mozilla’s copyrights, trade names, trademarks, service marks, logos, domain names, or other distinctive brand features.
  </p>
  <p>
    The Firefox Clients are distributed under and subject to the current version of the <a href="http://www.mozilla.org/MPL">Mozilla Public License</a>, located at <tt><a href="http://www.mozilla.org/MPL">http://www.mozilla.org/MPL</a></tt>.
  </p>

  <h4>Updates to the Terms</h4>

  <p>Mozilla may update this TOS from time to time, for example to address a new feature of the Services or to clarify a provision. The updated TOS will be posted on the Persona site. If the changes are substantive, we will announce the update through Mozilla’s usual channels for such announcements such as blog posts and forums. Your continued use of the Services after the effective date of such changes constitutes your acceptance of such changes. To make your review more convenient, we will post an effective date at the top of this page. These terms may not be modified or cancelled without Mozilla’s written agreement.</p>

  <h4>Disclaimer of Warranty</h4>
  <p><b>The Services are provided “as is” with all faults. To the extent permitted by law, Mozilla, its distributors, contributors, and licensors hereby disclaim all warranties, whether express or implied, including without limitation warranties that the Services are free of defects, merchantable, fit for a particular purpose, and non-infringing. You bear the entire risk as to selecting the Services for your purposes and as to the quality and performance of the Services, including without limitation the risk that your User Data is deleted or corrupted or that someone else uses your username and password to access confirmations of your identity. This limitation will apply notwithstanding the failure of essential purpose of any remedy. Some jurisdictions do not allow the exclusion or limitation of implied warranties, so this disclaimer may not apply to you.</b></p>

  <h4>Limitation of Liability</h4>
  <p><b>Except as required by law, Mozilla, its distributors, contributors, and licensors, will not be liable for any indirect, special, incidental, consequential, or exemplary damages arising out of or in any way relating to this TOS or the use of or inability to use the Services, including without limitation damages for loss of goodwill, work stoppage, lost profits, loss of data, and computer failure or malfunction, even if advised of the possibility of such damages and regardless of the theory (contract, tort, or otherwise) upon which such claim is based. The collective liability of Mozilla, its distributors, contributors, and licensors under this Agreement will not exceed $500 (five hundred dollars). Some jurisdictions do not allow the exclusion or limitation of incidental, consequential, or special damages, so this exclusion and limitation may not apply to you.</b></p>

  <h4>Miscellaneous</h4>
  <p>This TOS constitutes the entire agreement between you and Mozilla Corporation (“Mozilla” or we) concerning the Services. These terms are governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions.  The United Nations Convention on Contracts for the International Sale of Goods is expressly disclaimed.  If any portion of these terms is held to be invalid or unenforceable, the remaining portions will remain in full force and effect. In the event of a conflict between a translated version of these terms and the English language version, the English language version shall control.</p>

  </div>
</div>
