<div id="content" class="display_always">
  <div id="legal">
		<h1>Prywatność Usługi Persona</h1>
		<ul>
			<li>Mozilla
			wykorzystuje zweryfikowany adres email Użytkownika w celu
			utworzenia Konta Persona. Inne informacje osobowe nie są pobierane.
			</li>
			<li>
			Adres
			email Użytkownika jest przekazywany stronom internetowym
			odwiedzanym przez Użytkownika, aby ułatwić mu  logowanie, nie
			jest jednak nigdy udostępniany jakimkolwiek podmiotom bez wyraźnej
			zgody Użytkownika.
			</li>
			<li>
			Mozilla
			zbiera dane dotyczące logowania dotyczące korzystania z Usługi
			Persona, aby usprawnić działanie Usługi Persona. Mozilla
			przechowuje te dane osobno od informacji osobowych, i  usuwa je
			zindywidualizowane dane, po opracowaniu zbiorczych statystyk.
			</li>
			<li>
			Dane nie
			będą sprzedawane, ani wykorzystywane w celach marketingowych na
			stronach internetowych Usługi Persona.</p>
			<li>
			W przyszłości Mozilla pragnie włączyć do niniejszego systemu
			dostawców usług email, co spowoduje, że polityki prywatności
			oraz warunki świadczenia usług miały zastosowanie (jeżeli
			Użytkownik korzysta z ich usługi email).
		  </li>
			<li>
			Poniżej przedstawiany pełny tekst Polityki Prywatności Persona.
			</li>
	  </ul>
		<h3>Polityka Prywatności Persona</h3>
		<p>
		<i>Ostatnia
		aktualizacja: 6 marca 2013 r.</i></p>
		<p>
		Niniejsza
		polityka prywatności przedstawia zakres, w jakim Mozilla Corporation
		(*) („<b>Mozilla</b>”)
		zbiera i wykorzystuje informacje na temat Użytkowników Persona
		(„<b>Usługa
		Persona</b>”),
		korzystających ze&nbsp;stworzonych przez Mozilla serwerów i
		klientów.</p>
		<h4>Definicje</h4>
		<p>
		“<b>Informacje
		Osobowe”</b>
		to informacje, które Użytkownik przekazuje Mozilla i które
		umożliwiają identyfikacje Użytkowania, w szczególności imię i
		nazwisko, numer telefonu, adres email Użytkownika. Mozilla nie
		zbiera i nie wymaga od Użytkowników końcowych Usługi Persona
		innych Informacji Osobowych, poza adresem email.
		</p>
		<p>
		„<b>Informacje
		Nie-Osobowe” </b>to
		informacje, które same w sobie nie pozwalają na bezpośrednią
		identyfikację konkretnej osoby albo podmiotu. Informacje Nie-Osobowe
		obejmują między innymi konfiguracje urządzenia końcowego
		Użytkownika, oraz informacje o przeglądarce, jakiej używa.
		</p>
		<p>
		„<b>Informacje
		Potencjalnie Osobowe” </b>to
		informacje, które w swej istocie są Informacjami Nie-Osobowymi,
		jednak które w połączeniu z innymi informacjami mogą zostać
		wykorzystane do identyfikacji Użytkownika, Na przykład adres strony
		internetowej („adres URL”), numer nadawany komputerowi przy
		wejściu do Internetu („adres IP”), mogą być Informacjami
		Osobowymi w&nbsp;połączeniu z rejestrami dostawcy usługi
		telekomunikacyjnej.</p>
		<p>
		„<b>Dane
		Operacyjne”</b>
		to dane dotyczące korzystania przez Użytkownika z Usługi Persona,
		takie jak dane logowania (np. dane o tym, kiedy Użytkownicy
		korzystają z usługi  oraz za pomocą jakiego oprogramowania).
		Mozilla zbiera Dane Operacyjne, aby zapewnić możliwość
		zaspokojenia potrzeb Użytkowników i wesprzeć działanie Usługi
		Persona.</p>
		<p>
		„<b>Statystyki
		Użytkowe”</b>
		dotyczą Informacji Nie-Osobowych, które Mozilla wykorzystuje, aby
		zapoznać się ze sposobem, w jaki użytkowana jest Usługa Persona.
		Takie informacje obejmują między innymi ilość danych
		przechowywanych przez Użytkownika przy użyciu usługi,
		częstotliwość, z jaką Użytkownik korzysta z usługi,
		wykorzystanie przepustowości, dane dotyczące interakcji
		Użytkownika, <i>traffic
		shaping. </i>
		</p>
		<p>
		W celu
		uniknięcia wątpliwości, Statystyki Użytkowe oraz Dane Operacyjne
		dotyczące korzystania przez Użytkownika Usługi Persona nie są
		przechowywane wraz z Informacjami Osobowymi. Mozilla podejmuje kroki
		w celu zagregowania  lub usunięcia Dane Operacyjne i Statyki
		Użytkowe po ich wykorzystaniu, o ile odpowiednie przepisy prawa nie
		przewidują obowiązku ich przechowywania.
		</p>
		<h4>Zbieranie,
		Przetwarzanie oraz Udostępnianie Danych Transmisyjnych</h4>
		<h5>Informacje dotyczące konta</h5>
		<p>
		Przed
		użyciem Usługi Persona Użytkownik musi się zarejestrować. W tym
		celu Użytkownik musi podać następujące Informacje Osobowe i
		Informacje Potencjalnie Osobowe: adres email oraz hasło. Adres email
		Użytkownika jest przekazywany do Mozilla przy w formie zaszyfrowanej
		zwanej SSL. Adres email Użytkownika jest wykorzystywany do
		świadczenia Użytkownikowi usług, takich jak możliwość
		odzyskania hasła do konta na wypadek jego utraty. Hasło Użytkownika
		jest przekazywane do Mozilla w formie zaszyfrowanej SSL i jest
		przechowywane na serwerach Mozilla tylko w formie zaszyfrowanej (co
		oznacza, że praktycznie nie jest możliwe odzyskanie hasła z danych
		o takim formacie).
		</p>
		<p>
		Po zarejestrowaniu, hasło Użytkownika jest wykorzystywane w celu
		uniemożliwienia dostępu do konta Użytkownika osobom
		nieupoważnionym.
		</p>

		<h5>Dane
		wykorzystywane do świadczenia usług</h5>
		<p>
		Mozilla
		pobiera i wykorzystuje następujące informacje w celu świadczenia i
		udoskonalania Usługi Persona: adres IP, adres email, datę i czas
		korzystania z Usługi Persona oraz różne dane operacyjne, takie
		jak: rodzaj sytemu operacyjnego klienta, wersja przeglądarki (znane
		również jako <i>User
		Agent String</i>).

		</p>

		<h5>Udostępnienie osobom trzecim</h5>
		<p>
		Usługa
		Persona udostępnia zweryfikowany adres email Użytkownika stronie
		internetowej wybranej przez Użytkownika, jedynie w przypadku gdy
		Użytkownik udzieli wyraźnej zgody na takie ujawnienie. Strona
		internetowa może żądać zweryfikowanego adresu email, w wyniku
		czego Użytkownik zostaje poinformowany o takim żądaniu. Po
		uzyskaniu zgody Użytkownika, usługa może zapamiętać wybór
		Użytkownika tak, że pozostaje on zalogowany na stronie w czasie
		kolejnej wizyty. .
		</p>
		<p>
		Poza
		sytuacją opisaną powyżej Mozilla nie ujawnia świadomie Informacji
		Osobowych lub Informacji Potencjalnie Osobowych osobom trzecim, o ile
		nie będzie do tego zobowiązana, np. w związku z obowiązującymi
		przepisami prawa, lub toczącym się postępowaniem sądowym, nakazem
		przeszukania, wezwaniem do stawiennictwa w sądzie, nakazem, nakazem
		sądowym,  lub gdy jest niezbędne lub odpowiednie, aby powstrzymać
		bezprawne lub szkodliwe działanie.</p>
		<h5>Jakie dane są analizowane przez Mozilla?</h5>
		<p>
		Mozilla
		wykorzystuje Statystyki Użytkowe w ceku określenia sposobu
		korzystania przez Użytkownika z Usługi Persona, o ile Użytkownik
		nie wyłączy  udostępniania Mozilla swoich informacji w tym celu.</p>

		<h5>Jak wykorzystywane są Statystyki Użytkowe?</h5>
		<p>
		Mozilla
		wykorzystuje Statystki Użytkowe zbierane przy korzystaniu z Usługi
		Persona w celu udoskonalenia swoich produktów i usług. Poprzez
		ustalenie zbiorczych wzorów i tendencji w korzystaniu, Mozilla i jej
		społeczność mają możliwość lepszego projektowania produktów i
		usług w celu  poprawy  doświadczeń Użytkowników zarówno w
		zakresie zawartości, jak i wygody korzystania z tych produktów i
		usług.
		</p>

		<h5>Gdzie udostępniane są Dane Operacyjne?</h5>
		<p>Mozilla
		jest otwartą organizacją, która wierzy w dzielenie się jak
		najszerszymi informacjami o swoich produktach, swojej działalności
		oraz swoimi powiązaniami z szeroką społecznością. Dlatego
		Użytkownicy Usługi Persona powinni spodziewać się, że Mozilla w
		pewnym momencie udostępni Dane Operacyjne do publicznej wiadomości.
		Jednakże jakiekolwiek publicznie dostępne Dane Operacyjne będą
		przedstawiane jedynie w formie zagregowanych, zanonimizoanwych
		danych. Żadne Informacje Osobowe lub Informacje Potencjalnie Osobowe
		nie będą dostępne w żadnym z publicznie dostępnym raporcie.</p>

		<h5>Jak wyłączyć albo zrezygnować z Usługi Persona?</h5>
		<p>W każdej chwili, jeżeli Użytkownik chce zrezygnować  z korzystania z Usługi
		Persona, może usunąć swoje Konto Persona, wchodząc na stronę
		https://persona.org/,
		logując
		się przy użyciu jednego ze swoich adresów email oraz hasła,
		klikając przycisk „edytuj” a następnie klikając przycisk
		„usuń” znajdujący się przy każdym z adresów email
		Użytkownika. Jeżeli Użytkownik nie pamięta swojego hasła, może
		skorzystać z funkcjonalności pozwalającej na odtworzenia hasła na
		podstawie weryfikacji adresu email, aby odzyskać  dostęp do konta,
		a następnie je usunąć.</p>
		<h5>Inne ujawnienia</h5>
		<p>
		Mozilla
		może ujawnić Informacje Osobowe Użytkownika również w pewnych
		szczególnych przypadkach, takich jak konieczność ochrony stron
		internetowych i działalności Mozilla (np. przeciwko atakom);
		ochrona praw, prywatności, bezpieczeństwa lub własności Mozilla
		oraz jej Użytkowników; realizacja warunków świadczenia usług,
		zastosowanie prawnie dozwolonych środków zapobiegawczych. Ponadto
		Mozilla może przekazać Informacje Osobowe podmiotom stowarzyszonym
		lub następcom prawnym w przypadku zmiany struktury korporacyjnej,
		takiej jak restrukturyzacja, sprzedaż lub upadłość.</p>

		<h5>Usługodawcy</h5>
		<p>
		Mozilla
		współpracuje z osobami trzecimi, które świadczą usługi oraz
		usługi CDN (<i>content
		delivery network</i>)
		oraz inne usługi o charakterze administracyjnym. Mozilla może
		udostępniać informacje o Użytkownikach takim osobom trzecim w celu
		umożliwienia im świadczenia powyższych usług.
		</p>

		<h5>Transfer Danych do Stanów Zjednoczonych</h5>
		<p>
		Mozilla
		jest globalną organizacją działającą w wielu państwach, w
		których obowiązują różne prawa i praktyki dotyczące
		prywatności. Niektóre państwa zapewniają mniejszą ochronę
		prawną danych osobowych Użytkowników, inne – większą.
		Korzystając z Usługi Persona, Użytkownik wyraża zgodę  na
		transfer zebranych informacji, o których mowa w niniejsze Polityce
		do spółki Mozilla z siedzibą w Stanach Zjednoczonych, która może
		zapewniać niższy poziom ochrony danych niż w kraju w którym
		mieszkasz.
		</p>


		<h5>Przechowywania Danych</h5>
		<p>
		Mozilla
		przechowuje wszystkie zebrane informacje jedynie przez okres
		niezbędny do realizacji celów określonych w niniejszej Polityce, o
		ile dłuższe przechowywanie danych nie jest wymagane przez
		odpowiednie przepisy prawa i regulacje.
		</p>

		<h5>Zmiany Polityki Prywatności</h5>
		<p>
		Mozilla
		może w każdej chwili zmieniać niniejszą Politykę Prywatności.
		Za każdym razem, gdy Użytkownik korzysta z Usługi Persona,
		zastosowanie znajduje aktualna Polityka Prywatności. Wszelkie zmiany
		będą umieszczane na niniejszej stronie. Użytkownik powinien
		regularnie sprawdzać niniejszą stronę pod kątem zmian w aktualnej
		Polityce Prywatności. W celu ułatwienia śledzenia zmian Polityki
		Prywatności, Mozilla umieszcza na tej niniejszej stronie datę, od
		której dana Polityka będzie obowiązywała. Istotne zmiany będą
		ogłaszane przy użyciu standardowych mechanizmów, przy pomocy
		których Mozilla komunikuje się ze społecznością Mozilla.
		Użytkownik jest zobowiązany do zapoznania się z zapisami Polityki
		Prywatności.
		</p>

		<h5>Czego niniejsza Polityka Prywatności nie Reguluje?</h5>
		<p>
		Niniejsza
		polityka nie ma zastosowania do innych stron internetowych, produktów
		lub usług Mozilla. Nie ma również zastosowania do klientów
		Użytkownika lub wykorzystania serwerów nie należących do Mozilla.
		Jeżeli Użytkownik wykorzystuje konto osoby trzeciej będącej
		klientem Persona lub serwery podmiotów innych niż Mozilla,
		niniejsza polityka nie będzie miała zastosowania a Mozilla nie
		ponosi żadnej odpowiedzialności za produkty i usługi.
		</p>

		<h5>Dodatkowe	informacje </h5>
		<p>
		Użytkownik
		może zażądać udostępnienia, sprostowania lub usunięcia swoich
		Informacji Osobowych lub Informacji Potencjalnie Osobowych, zgodnie z
		przepisami prawa. Mozilla dołoży wszelkich starań, aby uczynić
		zadość takimi żądaniom Użytkownika, pod warunkiem że będzie
		dysponowała informacjami umożliwiającymi identyfikację Informacji
		Osobowych lub Informacji Potencjalnie Osobowych dotyczących
		Użytkownika. Wszelkie żądania lub inne zapytania, bądź obawy
		związane z niniejszą Polityka Prywatności oraz ochroną danych
		osobowych przez Mozilla, powinny być kierowane na adres:
		</p>
	<blockquote><pre>Mozilla Corporation Attn:
Legal Notices – Privacy
650 Castro Street, Suite 300
Mountain View,
CA 94041-2072
Phone: +1-650-903-0800
<a href="mailto:privacy@mozilla.com">Send us an email</a></pre></blockquote>
  </div>
</div>