<div id="content" class="display_always">
  <div id="legal">
	  <h1>Warunki Świadczenia Usług – Wyciąg </h1>
	  <ul>
	    <li>
				Usługa
				Persona umożliwia zalogowanemu Użytkownikowi uwierzytelnienie, że
				jest on właścicielem konkretnego adresu email. Po dokonaniu
				takiego uwierzytelnienia, gdy użytkownik wykorzystuje
				uwierzytelniony adres email na stronach internetowych korzystających
				z Usługi Persona, strona internetowa może zażądać od Mozilla
				potwierdzenia, że Użytkownik uwierzytelnił, iż ten adres email
				istnieje i jest jego własnością.
				</li>
				<li>Usługa
				Persona współpracuje ze stronami internetowymi, aby potwierdzić,
				że użytkownik uwierzytelnił dany adres email oraz z dostawcami
				usługi email w celu dokonania początkowej weryfikacji użytkownika.
				Niniejsze Warunki Świadczenia Usług znajdują zastosowanie zarówno
				do stron internetowych, jak również do operatorów usługi email,
				korzystających z Usługi Persona.
				</li>
				<li>
				Użytkownik
				jest odpowiedzialny za oprogramowanie niepochodzące od Mozilla oraz
				interfejs programowania aplikacji („<b>API</b>”),
				z którego korzysta lub który stworzył w celu uzyskania dostępu
				do Usługi Persona. Usługa Persona nie jest objęta gwarancją
				żądnego rodzaju.</li>
				<li>
				Nie istnieją żadne znaczące ograniczenia odpowiedzialności Mozilla
				za szkody poniesione w&nbsp;związku z korzystaniem przez
				Użytkownika z Usługi Persona.</li>
			</ul>

		<h3>Warunki Świadczenia Usług</h3>

		<h4>Zgoda</h4>

		<p>Niniejsze
		Warunki Świadczenia Usług („<b>WSU</b>”)
		regulują korzystanie przez użytkownika z Usługi Persona
		(„<b>Usługi</b>”).
		Poprzez dostęp do materiałów i API niezbędnych do korzystania z
		Usług oraz poprzez korzystanie z Usług użytkownik zgadza się
		stosować warunki świadczenia usługi opisane poniżej.</p>

		<h4>Wykorzystanie z Usług
		jako żądająca strona internetowa lub dostawca usługi email</h4>
		<p>W celu
		skorzystania z Usług strona internetowa musi umieścić na swoich
		stronach bibliotekę w języku JavaScript udostępnioną przez
		Mozilla oraz wykorzystać udostępnione API w celu żądania
		uwierzytelnionego adresu email. Jeżeli Użytkownik wybrał możliwość
		uwierzytelnienia adresu email, jako cześć Usług, Mozilla prześle
		email potwierdzający na ten adres email. Wraz z otrzymaniem
		odpowiedzi z tego adresu email lub potwierdzenia od dostawcy usługi
		email, uwierzytelnienie zostanie zapisane a Użytkownik otrzyma
		potwierdzenie, że uwierzytelnienie przebiegło pomyślnie.
		Następnie, jeżeli Użytkownik, będąc zalogowanym do Usług,
		odwiedzi daną stronę internetową, która zażąda uwierzytelnienia
		adresu email, uwierzytelnienie zostanie przesłane stronie
		internetowej. Uwierzytelnienie potwierdzi, że dany użytkownik miał
		w chwili uwierzytelnienia dostęp do danego adresu email.
		</p>

		<p>Usługi
		mogą być wykorzystane jedynie dla celów, które są dozwolone
		przez punkty (i) i (ii) WSU oraz właściwe prawo krajowe, jak
		również inne przepisy prawa, które znajdują zastosowanie do
		korzystania z Usług (w tym wszelkie prawa dotyczące transferu
		danych i oprogramowania do oraz ze Stanów Zjednoczonych oraz innych
		odpowiednich państw).</p>
		<p>Niniejszym Użytkownik zobowiązuje się:</p>
		<ul>
			<li>nie podejmować żadnej działalności, która kolidowałaby z lub
			zakłócałaby Usługi (lub serwerów i sieci, które są związane
			z&nbsp;Usługami),</li>
			<li>nie	handlować i nie odsprzedawać Usług w jakimkolwiek celu, o ile nie
			został do tego specjalnie pisemnie upoważniony przez Mozilla, lub</li>
			<li>nie
			korzystać z (lub nie próbować korzystać z) Usług w sposób inny
			niż za pośrednictwem strony Mozilla Persona (na browserid.org),
			oryginalnego oprogramowania Mozilla (Firefox, Firefox for Mobile,
			Firefox Home, dalej zwane łącznie: „<b>Oprogramowaniem
			Firefox</b>”),
			lub oprogramowania osób trzecich wykorzystujących API autoryzowane
			i dostarczane przez Mozilla („<b>Oprogramowanie
			Zewnętrzne</b>”),
			o ile nie został do tego specjalnie pisemnie upoważniony przez
			Mozilla.</li>
		</ul>
		<h4>Oświadczenia Użytkownika</h4>
		<p>Użytkownik
		oświadcza i przyznaje, że Mozilla nie ponosi odpowiedzialności za
		Oprogramowanie Zewnętrzne oraz że użytkownik jest wyłącznie
		odpowiedzialny za ich wykorzystanie.</p>

		<ul>
			<li>Mozilla
			nie potwierdza w sposób wyraźny ani dorozumiany, że poleca
			jakiegokolwiek Oprogramowania Zewnętrznego, ani też że uważa, iż
			działalnie któregokolwiek Oprogramowania Zewnętrznego będzie
			dokładne, użyteczne i nieszkodliwe.
			</li>
			<li>Oprogramowanie
			Zewnętrzne może zawierać techniczne niedokładności, powodować
			błędy, pomyłki oraz może przekazywać, przechowywać lub w inny
			sposób zmieniać dane w sposób nieakceptowalny dla Użytkownika.
			Użytkownik jest odpowiedzialny za przedsięwzięcie odpowiednich
			środków bezpieczeństwa w celu ochrony siebie oraz swoich systemów
			komputerowych w związku z wykorzystaniem Oprogramowania
			Zewnętrznego.</li>
			<li>Oprogramowanie
			Zewnętrzne może podlegać dodatkowym warunkom i odrębnej polityce
			prywatności i praktykom. Polityka(i) Prywatności Mozilla nie mają
			zastosowania do danych przechowywanych, zmienianych lub
			przekazywanych do oraz z serwerów Mozilla za pomocą Oprogramowania
			Zewnętrznego Użytkownika.
			</li>
		</ul>
		<p>Ponadto,
		Użytkownik oświadcza i przyznaje, że:</p>
		<ul>
			<li>Mozilla ma
			prawo do zarządzania Usługami w celu ochrony praw i własności
			Mozilla oraz innych podmiotów oraz aby zapewnić właściwe
			funkcjonowanie Usług, w tym poprzez zablokowanie konta Użytkownika.</p>
			<li>Użytkownik
			nie będzie wykorzystywał Usług w żadnym celu, w którym dokładne
			ustalenie tożsamości zagrażałoby życiu, finansom, lub mogłoby
			rodzić inne poważne konsekwencje.</p>
			<li>Mozilla
			może zaprzestać świadczenia lub zmienić sposób świadczenia
			Usług bez ograniczeń oraz bez ponoszenia za to odpowiedzialności.
			Mozilla ogłosi informacje o zaprzestaniu lub zmianie sposób
			świadczenia Usług poprzez zwykle kanały komunikacyjne,
			wykorzystywane do takich zawiadomień, takie jak posty na blogach,
			albo forach internetowych.
		</ul>

		<h4>Prawa majątkowe</h4>
		<p>Mozilla nie
		przenosi na Użytkownika żadnych praw własności intelektualnej do
		Usług, o ile nie zostało to wyraźnie stwierdzone w WSU.
		Przykładowo, niniejsze WSU nie upoważniają Użytkownika do
		korzystania z przysługujących Mozilla praw autorskich, praw do nazw
		handlowych, znaków towarowych, znaków usługowych, logo, nazw domen
		lub innych oznaczeń odróżniających.</p>
		<p>Oprogramowanie
		Firefox jest dystrybuowane na podstawie i zgodnie z aktualną wersją
		<a href="http://www.mozilla.org/MPL">Licencji Publicznej Mozilla</a>, dostępnej pod adresem: <a href="http://www.mozilla.org/MPL">http://www.mozilla.org/MPL</a></p>

		<h4>Aktualizacja Warunków</h4>
		<p>Mozilla
		może aktualizować WSU w dowolnym momencie, np. aby uwzględnić
		nową funkcjonalność Usług lub wyjaśnić postanowienia WSU.
		Aktualizacje WSU będą umieszczne na stronie Mozilla Persona. Jeżeli
		zmiany będą miały charakter istotny, zostaną ogłoszone przy
		użyciu zwykłych kanałów komunikacyjnych wykorzystywanych przez
		Mozilla do takich zawiadomień, takich jak posty na blogach oraz
		forach. Dalsze korzystanie przez Użytkownika z Usług po wejściu w
		życie zmian, oznacza akceptację zmian. W celu ułatwienia
		Użytkownikowi śledzenia zmian, Mozilla umieści datę wejścia w
		życie zmian w górnej części swojej strony internetowej. Niniejsze
		warunki nie mogą zostać zmienione lub unieważnione bez pisemnej
		zgody Mozilla.</p>

		<h4>Brak gwarancji</h4>
		<p><b>Usługi
		są świadczone w oferowanej formie przy z uwzględnieniem wszelkich
		błędów. W zakresie dozwolonym przez prawo Mozilla, jej
		dystrybutorzy, współpracownicy oraz licencjodawcy niniejszym nie
		przyjmują jakichkolwiek odpowiedzialności z tytułu gwarancji, czy
		to wyraźnych czy dorozumianych, w tym bez ograniczeń gwarancji
		zapewniających, że Usługa jest wolna od jakichkolwiek wad, może
		być przedmiotem handlu, może być wykorzystywana w celu, do jakiego
		została przeznaczona oraz nie narusza praw osób trzecich.
		Użytkownik ponosi całkowite ryzyko wyboru Usług dla własnych
		celów oraz co do jakości oraz wydajności Usług, w tym bez
		ograniczeń ryzyko, że Dane Użytkownika zostaną utracone lub
		uszkodzone lub że jego login oraz hasło zostaną wykorzystane przez
		osoby nieuprawnione w celu uzyskania dostępu do potwierdzenia
		tożsamości Użytkownika. Powyższe ograniczenie będzie miało
		zastosowanie bez względu na efekty zastosowanych środków prawnych.
		W jurysdykcjach, w których nie jest możliwe ograniczenie lub
		wyłączenie odpowiedzialności z tytułu dorozumianej gwarancji,
		niniejsze zrzeczenie nie ma zastosowania.</b></p>

		<h4>Ograniczenie odpowiedzialności</h4>
		<p><b>O przepisy prawa nie stanowią inaczej, Mozilla jej dystrybutorzy,
		dostawcy, oraz licencjodawcy nie ponoszą odpowiedzialności za
		każdego rodzaju (pośrednie, specjalne, przypadkowe, wynikowe lub
		przykładowe) szkody powstałe w wyniku lub w jakimkolwiek związku z
		niniejszymi WSU lub korzystaniem z niemożnością korzystania z
		Usług, w tym bez ograniczeń szkody związane z utratą reputacji,
		przestojami w pracy, utratą zysków, utratą danych oraz
		uszkodzeniem lub nieprawidłowym działaniem komputera, nawet jeżeli
		Użytkownik był informowany o możliwości powstania takiej szkody,
		oraz bez względu na podstawę (umowną, deliktową czy inną), na
		jakiej oparte jest roszczenie. Solidarna odpowiedzialność Mozilla,
		jej dystrybutorów, dostawców oraz licencjobiorców na podstawie
		niniejszych WSU nie przekracza 500 (pięciuset) dolarów
		amerykańskich. W jurysdykcjach, w których ograniczenie ani
		wyłączenie odpowiedzialności za każdego rodzaju szkody jest
		niedozwolone, niniejszy wyjątek i ograniczenie  nie ma zastosowania.
		</b></p>

		<h4>Inne postanowienia</h4>
		<p>Niniejsze
		WSU regulują całość stosunków pomiędzy Użytkownikiem a Mozilla
		Corporation (“Mozilla”) w związku z Usługami. Niniejsze WSU
		będą interpretowane w świetle prawa Stanu Kalifornia oraz prawa
		Stanów Zjednoczonych Ameryki Północnej z wyłączeniem
		kolidujących przepisów. Wyraźnie wyłącza się stosowanie
		Konwencji Narodów Zjednoczonych z dnia 11 kwietnia 1980 r. o umowach
		międzynarodowej sprzedaży towarów. W przypadku uznania części
		postanowień niniejszych WSU za nbieważne lub niewykonalne, pozostałe
		zapisy pozostają w mocy. W przypadku różnic między wersją
		polskojęzyczną i anglojęzyczną, wersja anglojęzyczna będzie
		wiążąca.
		</p>
  </div>
</div>