/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
  background-image: url('/i/bg.png');
  overflow-y: scroll;
}

/* for floats */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .cf {
  display: block;
}

* html .cf {
  height: 1%;
}

header, section, footer {
  display: block;
}

.sans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.serif {
  font-family: 'Droid Serif', Georgia, serif;
}

.mono {
  font-family: 'Monaco', monospace;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #000;
  background: rgba(0,0,0,.7);
  color: #fff;
  border-radius: 5px;
  padding: 2px 15px;
  border: 2px solid #000;
  font-weight: bold;
  display: none;
  max-width: 275px;
  z-index: 5;
}


a {
  color: #222;
  text-decoration: none;
}

a:hover, button:hover {
  text-decoration: underline;
}

p:last-child {
  margin-bottom: 0 !important;
}

input[type=email],
input[type=password] {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #A3A29D #C6C3B4 #C6C3B4 #A3A29D;
    outline: none;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
       -moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
         -o-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
            box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

input[type=email]:focus,
input[type=password]:focus {
    border: 1px solid #549FDC;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;

    -webkit-box-shadow: 0 0 0 1px #549FDC inset;
       -moz-box-shadow: 0 0 0 1px #549FDC inset;
         -o-box-shadow: 0 0 0 1px #549FDC inset;
            box-shadow: 0 0 0 1px #549FDC inset;
}

input[type=email]:disabled,
input[type=password]:disabled {
    background-color: #f0f0f0;
    color: #4f4f4f;
}

input[type=radio],
input[type=checkbox] {
  cursor: pointer;
}

button,
.button {
    font-size: 14px;
    height: 28px;
    padding: 0 10px;
    float: right;
    vertical-align: middle;
    border: 1px solid #37A6FF;
    font-family: 'Droid Serif', Georgia, serif;
    color: #fff;
    text-shadow: -1px -1px 0 #37A6FF;
    text-transform: lowercase;
    cursor: pointer;

    -webkit-box-shadow: 0 0 0 1px #76C2FF inset;
       -moz-box-shadow: 0 0 0 1px #76C2FF inset;
         -o-box-shadow: 0 0 0 1px #76C2FF inset;
            box-shadow: 0 0 0 1px #76C2FF inset;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;

    background-color: #37A6FF;
    background-image: -moz-linear-gradient(center top , #76C2FF 0pt, #37A6FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76C2FF), color-stop(100%, #37A6FF));
}

button:hover,
button:focus,
.button:hover,
.button:focus{
    background-color: #76c2ff;
    background-image: -moz-linear-gradient(center top , #76C2FF 50%, #37A6FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #76C2FF), color-stop(100%, #37A6FF));

}

button:active,
.button:active {
    background-color: #006EC6;
    border: 1px solid #003E70;
    color: #EEEEEE;
    text-shadow: -1px -1px 0 #006EC6;

    -webkit-box-shadow: 0 0 5px #003763 inset;
       -moz-box-shadow: 0 0 5px #003763 inset;
         -o-box-shadow: 0 0 5px #003763 inset;
            box-shadow: 0 0 5px #003763 inset;

    background-image: -moz-linear-gradient(center top , #3AA7FF 0%, #006EC6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3AA7FF), color-stop(100%, #006EC6));
}

button::-moz-focus-inner, .button::-moz-focus-inner {
  padding: 0;
  border: 0
}

button[disabled] {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
}



hr {
  height: 1px;
  border: none;
  background-color: #eee;
  width: 700px;
}


.right {
  text-align: right;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

header ul li {
  display: inline-block;
  float: left;
}

header a {
  color: #222;
}

header a.home {
  width: 80px;
  height: 21px;
  background-image: url('/i/icon.png');
  display: block;
  background-position: left 4px;
  background-repeat: no-repeat;
  text-indent: -999px;
}

footer {
  color: #aaa;
}

footer a {
  color: #aaa;
}

footer ul li {
  display: inline-block;
  float: left;
  margin: 0 10px 0 0;
}

footer .help {
    float: right;
    color: #62615F;
    cursor: help;
}

.cancelVerify {
  font-weight: bold;
}
