/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media screen and (max-width: 936px) {
  #wrapper {
    width: 100%;
  }

  #vAlign, #hAlign, #signUp, #signUpForm, #congrats {
    width: 475px;
  }

  header, footer {
    width: 100%;
    padding: 20px;
  }

  footer .cf {
    width: auto;
  }

  .headline-main {
    font-size: 33px;
  }
}


@media screen and (max-width: 505px) {
  hr {
    width: 300px;
  }

  #content {
    margin: 10px;
    padding: 0;
  }

  #about {
    padding: 10px;
    border-radius: 5px;
  }

  .headline-main {
    font-size: 37px;
  }

  #vAlign, #hAlign, #signUp, #signUpForm, #congrats {
    width: 320px;
  }

  header ul {
    margin: 20px 0 0 0;
    float: none;
    display: block;
    text-align: center;
  }

  header ul li {
    margin: 0 10px 0 0;
  }

  #signUp {
    padding: 0;
    font-size: 16px;
  }

  #card {
    background-position: center top;
    background-size: 50%;
    position: relative;
    margin: 0 auto;
    top: auto;
    height: 120px;

    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
  }

  button.create {
    font-size: 14px;
    height: 28px;
    padding: 0 12px;
  }

  #card.insert {
    background-position: center top;
  }

  #card img {
    display: none;
  }

  #hint,
  #status {
    display: none;
  }

  #legal {
    padding: 20px;
    text-align: left;
  }

  #legal li {
    list-style-position: inside;
  }

  #about .video,
  #about .video img {
    width: 300px;
    height: auto;
  }

  .row {
    padding: 20px 20px 0;
    margin: 0;
  }

  .row div {
    width: auto;
    height: auto;
    vertical-align: inherit;
    display: block;
    padding: 20px 0;
  }

  .row img {
    float: none;
    width: 260px;
    height: auto;
  }

  .row p {
    float: none;
    display: block;
    width: 260px;
    text-indent: -33px;
    padding-left: 33px;
  }

  #signUpFormWrap {
    margin: 122px 10px 122px;
  }

  #manage {
    padding: 20px;
    text-align: left;
  }

  #manage .edit {
    margin: 36px 0 14px;
  }

  #manage #emails {
    margin: 0 0 36px;
  }

  #emails .email,
  #emails .activity {
    display: block;
    width: 260px;
  }

  #emails .activity span {
    float: left;
  }

  #disclaimer {
    text-align: left;
  }


  #emailList .email {
    width: auto;
    float: left;
  }

  #emailList .activity {
    width: auto;
    float: right;
  }

  .newsbanner {
    margin: 115px 0 28px 0; /* put a margin-top on so that it does not go under the header */

  }

  input[type=email],
  input[type=password] {

      /* Fix webkit putting an inner box shadow on the input elements. Issue #1313 */
      -webkit-appearance: caret;
  }
}

