/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media screen and (max-width: 936px) {
  #wrapper {
    width: 100%;
  }

  #vAlign, #hAlign, #signUp, #signUpForm, #congrats {
    width: 475px;
  }

  header, footer {
    padding: 20px;
  }

  footer .cf {
    width: auto;
  }

  .headline-main {
    font-size: 33px;
  }
}

@media screen and (max-width: 600px) {
  header ul {
    margin: 0;
    float: none;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 505px) {
  header, footer {
    padding: 10px;
  }

  h1 {
    font-size: 25px;
  }

  .home {
    background-size: 75%;
    width: 154px;
    height: 38px;
  }

  #content {
    margin: 10px;
    padding: 0;
  }

  #about {
    padding: 10px;
    border-radius: 5px;
  }

  .headline-main {
    font-size: 37px;
    text-align: center;
  }

  #hAlign {
    width: 300px;
    padding: 0 10px;
  }

  #vAlign, #signUp, #signUpForm, #congrats {
    width: 100%;
  }

  header ul li {
    margin: 0 5px 0 0;
  }

  header .nav a {
    font-size: 13px;
    white-space: nowrap;
    padding: 5px 10px;
  }

  #signUp {
    padding: 0;
    font-size: 16px;
  }

  #card {
    background-position: center top;
    background-size: 50%;
    position: relative;
    margin: 0 auto;
    top: auto;
    height: 120px;

    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
  }

  button.create {
    font-size: 14px;
    height: 28px;
    padding: 0 12px;
  }

  #card.insert {
    background-position: center top;
  }

  #card img {
    display: none;
  }

  .tour .button {
    font-size: 18px;
    padding: 5px 15px;
  }

  #hint,
  #status {
    display: none;
  }

  #legal {
    padding: 20px;
    text-align: left;
  }

  #legal li {
    list-style-position: inside;
  }

  #about .video,
  #about .video img {
    width: 300px;
    height: auto;
  }

  .row {
    padding: 20px 20px 0;
    margin: 0;
  }

  .row div {
    width: auto;
    height: auto;
    vertical-align: inherit;
    display: block;
    padding: 20px 0;
  }

  .row img {
    float: none;
    width: 260px;
    height: auto;
  }

  .row p {
    float: none;
    display: block;
    width: 260px;
    text-indent: -33px;
    padding-left: 33px;
  }

  #signUpFormWrap {
    margin: 122px 10px 122px;
  }

  #manage {
    padding: 20px;
    text-align: left;
  }

  #disclaimer {
    text-align: left;
  }


  #emailList .email {
    width: auto;
    float: left;
  }

  #emailList .activity {
    width: auto;
    float: right;
  }

  .submit .remember {
    margin-top: 10px;
  }


  .newuser .newsbanner {
    margin-bottom: 20px;
  }

}

