/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


noscript {
  position: fixed;
  display: block;
  background-color: #ef1010;
  top: 0;
  left: 0;
  padding: 1px;
  width: 100%;
  color: #fff;
  text-align: center;
}

#errorBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: -2;
  background: #000;
  zoom: 1;
  -webkit-transition: opacity 750ms;
  -moz-transition: opacity 750ms;
  -ms-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  transition: opacity 750ms;
}

.waiting #errorBackground, .error #errorBackground, .delay #errorBackground {
  z-index: 1001;
  display: block;
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  opacity: .6;
}

#error, #wait, #delay {
  z-index: -2;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 750ms;
  -moz-transition: opacity 750ms;
  -ms-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  transition: opacity 750ms;
  position: absolute;  /* For a couple of browsers without position: fixed support */
  position: fixed;
  top: 35%;
  left: 20%;
  right: 20%;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
}


.waiting #wait {
  z-index: 1002;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.delay #delay {
  z-index: 1003;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.error #error {
  z-index: 1004;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}


#error > div, #wait > div, #delay > div {
  padding: 10px;
  z-index: 1001;
}


#wrapper {
  width: 700px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#content {
  padding: 84px 0;
}

#about {
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 14px;
  line-height: 21px;
  color: #444;

  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  padding: 0 0 50px 0;
  background-color: #fff;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
       -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
       -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}

.video {
  margin: 0 0 25px 0;
  width: 700px;
  font-size: 2em;
  line-height: 1.3em;
  padding: 1em 2em 1em 2em;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.video img, .video iframe {
  display: block;
}

.row {
  margin: 0 0 25px 0;
  padding: 25px 50px 0 50px;
  position: relative;
}

.row:last-child {
  margin: 0;
}

.row h2 {
  font-size: 21px;
  font-weight: normal;
  color: #222;
  line-height: 32px;
  display: inline-block;
}

.row div {
  height: 140px;
  width: 500px;
  padding: 0 0 0 20px;
  display: table-cell;
  vertical-align: middle;
}

.row p {
  width: 380px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  float: left;
}

.row img {
  float: left;
}

.row button, .row .button {
  float: right;
  display: inline-block;
}

div.steps {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url('/i/count.png');
  float: left;
}

.one .steps {
  background-position: left 0;
}

.two .steps {
  background-position: left -24px;
}

.three .steps {
  background-position: left -48px;
}

.sumo {
  text-align: center;
}

.sumo > a {
  font-weight: bold;
  color: #444;
}

#legal {
  padding: 75px 125px;
}

#newuser {
  background-color: #faca33;
  line-height: 32px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
  color: #626160;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  height: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
}

.newuser #newuser {
  height: 32px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#manage {
  padding: 75px;
}

#legal, #manage {
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  background-color: #fff;
  text-align: justify;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
       -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

#legal p,
#legal h2,
#legal ul {
  padding: 0 0 21px 0;
}

#legal li {
  border-bottom: 1px solid #EEEEEE;
  margin: 7px 0 0;
  padding: 0 0 7px;
  list-style-type: square;
}

#legal li:last-child {
  border: none;
}

#legal h2 {
  font-size: 21px;
  color: #222;
}

#legal h3 {
  font-size: 18px;
  color: #222;
  padding: 49px 0 7px;
}

#legal h4 {
  font-size: 14px;
  margin: 14px 0 7px 0;
  color: #222;
}

#legal h5,
#legal strong {
  font-size: 12px;
  color: #666;
}

#legal p,
#legal ul {
  color: #666;
}

#legal h2,
#legal h3 {
  font-family: 'Droid Serif', Georgia, serif;
  font-weight: normal;
}

#manage section {
  margin-bottom: 20px;
}

.buttonrow {
  margin: 0 0 14px;
}

.buttonrow > h2 {
  display: inline-block;
  font-size: 1em;
}

#manage button {
  line-height: 20px;
  height: 24px;
  font-size: 12px;
}

/*
.buttonrow > button {
  width: 48px;
}
*/
.buttonrow > .edit { }

.edit .buttonrow > .edit {
  display: none;
}

.buttonrow > .done {
  display: none;
  background-color: #006EC6;
  border: 1px solid #003E70;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #006EC6;

  -webkit-box-shadow: 0 0 5px #003763 inset;
     -moz-box-shadow: 0 0 5px #003763 inset;
       -o-box-shadow: 0 0 5px #003763 inset;
          box-shadow: 0 0 5px #003763 inset;

  background-image: -moz-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -o-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3AA7FF), color-stop(100%, #006EC6));
}

.edit .buttonrow > .done {
  display: inline-block;
}

#manage #emailList {
  list-style-type: none;
  border-top: 1px solid #eee;
}

#emailList li {
  padding: 10px 0;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

#emailList .email,
.activity {
  display: inline-block;
  float: left;
  white-space: nowrap;
}

#emailList .email {
  width: 275px;
}

.activity {
  width: 275px;
  color: #aaa;
  text-align: right;
}

.activity button,
.activity abbr {
  float: right;
  display: inline-block;
}

.activity button {
  width: 60px;
  margin-left: 10px;
  margin-right: -70px;

  -webkit-transition: margin 0.4s ease;
     -moz-transition: margin 0.4s ease;
       -o-transition: margin 0.4s ease;
          transition: margin 0.4s ease;
}

.edit .activity button {
  margin-right: 0;
}

button.delete {
  background-color: #EA7676;
  border: 1px solid #B13D3D;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  text-shadow: -1px -1px 0 #C84343;
  cursor: pointer;

  -webkit-box-shadow: 0 0 0 1px #EA7676 inset;
     -moz-box-shadow: 0 0 0 1px #EA7676 inset;
       -o-box-shadow: 0 0 0 1px #EA7676 inset;
          box-shadow: 0 0 0 1px #EA7676 inset;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;

  background-image: -moz-linear-gradient(#EA7676 0%, #C84343 100%);
  background-image: -o-linear-gradient(#EA7676 0%, #C84343 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EA7676), color-stop(100%, #C84343));
}

button.delete:active {
  background-color: #C84343;
  border: 1px solid #672424;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #AA3D3D;

  -webkit-box-shadow: 0 0 5px #003763 inset;
     -moz-box-shadow: 0 0 5px #003763 inset;
       -o-box-shadow: 0 0 5px #003763 inset;
          box-shadow: 0 0 5px #003763 inset;

  background-image: -moz-linear-gradient(center top , #C84343 0%, #AA3D3D 100%);
  background-image: -o-linear-gradient(#C84343 0%, #AA3D3D 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C84343), color-stop(100%, #AA3D3D));
}

#edit_password {
  margin-bottom: 10px;
  display: none;
}

.canSetPassword #edit_password {
  display: block;
}

#edit_password label {
  width: 40%;
  display: inline-block;
}

#edit_password input[type=password] {
  width: 40%;
}

.showedit {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.edit .showedit {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

#disclaimer {
  color: #888;
  text-align: right;
}

#disclaimer a {
  color: #549FDC;
}

h1 {
  margin-bottom: 20px;
}

#vAlign {
  width: 700px;
  display: table-cell;
  vertical-align: middle;
}

#signUp {
  margin: 122px 0;
  width: 700px;
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 24px;
  line-height: 32px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  position: relative;
  padding: 0 0 0 250px;
}

#signUp .info {
  color: #549FDC;
  text-decoration: underline;
}

#signUp p {
  margin: 0 0 16px 0;
}

.create {
  background-color: #37A6FF;
  height: 32px;
  line-height: 27px;
  padding: 0 16px;
  font-size: 16px;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

#card {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -100px;
  background-image: url('/i/card.png');
  background-position: 0px center;
  background-repeat: no-repeat;

  -webkit-transition: background-position 0.4s ease;
     -moz-transition: background-position 0.4s ease;
       -o-transition: background-position 0.4s ease;
          transition: background-position 0.4s ease;
}

#card.insert {
  background-position: 170px center;
}

#card img {
  float: right;
}

#status {
  width: 6px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 214px;
  background-image: url('/i/blink.gif');
  background-position: left center;
  background-repeat: no-repeat;

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;

  -webkit-box-shadow: 0 0 4px #c15151;
     -moz-box-shadow: 0 0 4px #c15151;
       -o-box-shadow: 0 0 4px #c15151;
          box-shadow: 0 0 4px #c15151;
}

#status.green {
  background-position: right center;

  -webkit-box-shadow: 0 0 4px #3bb421;
     -moz-box-shadow: 0 0 4px #3bb421;
       -o-box-shadow: 0 0 4px #3bb421;
          box-shadow: 0 0 4px #3bb421;
}

#hint { /* put hints on rollover */
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -100px;
  z-index: 0;
  background-image: url('/i/hint.png');
  background-repeat: no-repeat;
}

#hint.info{
  background-position: left center;
}

#hint.signUp {
  background-position: right center;
}

#signUpFormWrap {
  margin: 122px 115px;
}

#signUpFormWrap a.signUpIn {
  color: #549FDC;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#signUpFormWrap a.space {
  margin: 10px 20px 0;
  display: inline-block;
}

#signUpForm, #congrats {
  padding: 20px;
  background-color: #e1deda;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

#signUpForm ul {
  list-style-type: none;
  margin: 0 0 20px;
}

#signUpForm li {
  margin: 0 0 10px;
  padding: 0;
}

#signUpForm label {
  display: block;
  color: #62615F;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

#signUpForm .red {
  color: red;
}

#signUpForm .submit {
  height: 28px;
}

#signUpForm .error {
  margin-top: 20px;
  color: red;
  background-color: rgba(255,0,0,0.25);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fff0000,endColorstr=#3fff0000);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fff0000,endColorstr=#3fff0000);
  zoom: 1;
  padding: 5px;
  line-height: 16px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

#signUpForm > .siteinfo {
  margin-bottom: 10px;
}

.siteinfo, #congrats, #signUpForm > .password_entry, .enter_password .hint, #unknown_secondary, #primary_verify, .verify_primary .submit {
  display: none;
}

.enter_password #signUpForm > .password_entry, .known_secondary #signUpForm > .password_entry,
.unknown_secondary #unknown_secondary, .verify_primary #verify_primary {
  display: block;
}

#congrats p {
    color: #62615F;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#congrats .siteinfo {
    margin-top: 10px;
}

#congrats .website {
    display: block;
    text-align: center;
}


a.forgot {
  color: #888784;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 11px;
}

.notifications {
  list-style-type: none;
}

.notifications > .notification {
  margin-top: 20px;
  padding: 5px;
  line-height: 21px;
  color: #62615F;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
  display: none;
  text-align: center;
}

.notifications > .notification a, .notifications > .notification strong {
  color: #222;
}

.notifications .notification.error {
  color: red;
  background-color: rgba(255,0,0,0.25);
}


#wrapper > header {
  position: absolute;
  top: 0;
  font-weight: bold;
}

header ul {
  display: inline-block;
}

header ul.nav {
  float: right;
}

header ul.nav li {
  margin: 0 0 0 10px;
}


header a.signIn, header a.signOut {
  background-color: #d1ceca;
  padding: 4px 8px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

header a.signIn:hover, header a.signOut:hover {
  background-color: #b0afae;
  text-decoration: none;
}

.authenticated .signIn, .signOut {
  display: none;
}

.authenticated .signOut {
  display: inline;
}

#wrapper > header,
footer {
  display: block;
  width: 100%;
  padding: 20px 0;
}

footer {
  position: absolute;
  bottom: 0;
}

#newsbanner {
  margin-top: 60px; /* put a margin-top on so that it does not go under the header */
  background-color: #faca33;
  line-height: 32px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
  color: #626160;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
