/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


noscript {
  position: fixed;
  display: block;
  background-color: #ef1010;
  top: 0;
  left: 0;
  padding: 1px;
  width: 100%;
  color: #fff;
  text-align: center;
}

body {
  background-color: #6a7b86;
  background-image: url("/i/marketplace-header.png"), url("/i/grain.png");
  background-position: center top, center top;
  background-repeat: repeat-x, repeat;
  color: #fff;
}

#errorBackground {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: alpha(opacity=0); /* Needed for IE6 and IE7 on the main site */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: -2;
  background: #000;
  zoom: 1;
  -webkit-transition: opacity 750ms;
  -moz-transition: opacity 750ms;
  -ms-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  transition: opacity 750ms;
}

.waiting #errorBackground, .error #errorBackground, .delay #errorBackground {
  z-index: 1001;
  display: block;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: .6;
}

#error, #wait, #delay {
  z-index: -2;
  filter: alpha(opacity=0); /* Needed for IE6 and IE7 on the main site */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 750ms;
  -moz-transition: opacity 750ms;
  -ms-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  transition: opacity 750ms;
  position: absolute;  /* For a couple of browsers without position: fixed support */
  position: fixed;
  top: 35%;
  left: 20%;
  right: 20%;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  color: #333;
}


.waiting #wait {
  z-index: 1002;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.delay #delay {
  z-index: 1003;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.error #error {
  z-index: 1004;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}


#error > div, #wait > div, #delay > div {
  padding: 10px;
  z-index: 1001;
}


#wrapper {
  width: 896px;
  margin: 0 auto;
}

#content {
  padding: 50px 0;
}

#about {
  color: #444;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  padding: 50px 75px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

h1 {
  margin-bottom: 35px;
}

.headline-main, h1 {
  font-weight: 300;
}

.row {
  margin: 25px 0 0 0;
  padding: 0 0 25px 0;
  position: relative;
  border-bottom: 1px solid #eee;
}




.row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.row div {
  height: 140px;
  width: 500px;
  padding: 0 0 0 20px;
  display: table-cell;
  vertical-align: middle;
}

.row p {
  width: 380px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  float: left;
}

.row img {
  float: left;
}

.row button, .row .button {
  float: right;
  display: inline-block;
}

div.steps {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url('/i/count.png');
  float: left;
}

.one .steps {
  background-position: left 0;
}

.two .steps {
  background-position: left -24px;
}

.three .steps {
  background-position: left -48px;
}


#legal {
  padding: 75px 125px;
}

#manage {
  padding: 75px;
}

#legal, #manage {
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  background-color: #fff;
  text-align: justify;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #444;
}

#legal p,
#legal h2,
#legal ul {
  padding: 0 0 21px 0;
}

#legal li {
  border-bottom: 1px solid #EEEEEE;
  margin: 7px 0 0;
  padding: 0 0 7px;
  list-style-type: square;
}

#legal li:last-child {
  border: none;
}

#legal h2 {
  font-size: 21px;
  color: #222;
}

#legal h3 {
  font-size: 18px;
  color: #222;
  padding: 49px 0 7px;
}

#legal h4 {
  font-size: 14px;
  margin: 14px 0 7px 0;
  color: #222;
}

#legal h5,
#legal strong {
  font-size: 12px;
  color: #666;
}

#legal p,
#legal ul {
  color: #666;
}

#manage section {
  margin-top: 20px;
}

.buttonrow {
  margin: 0 0 14px;
}

.buttonrow > h2 {
  display: inline-block;
  font-size: 1em;
}

.edit .buttonrow > .edit {
  display: none;
}

.buttonrow > .done {
  display: none;
  background-color: #006EC6;
  border: 1px solid #003E70;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #006EC6;

  -webkit-box-shadow: 0 0 5px #003763 inset;
     -moz-box-shadow: 0 0 5px #003763 inset;
       -o-box-shadow: 0 0 5px #003763 inset;
          box-shadow: 0 0 5px #003763 inset;

  background-image: -moz-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -o-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3AA7FF), color-stop(100%, #006EC6));
}

.edit .buttonrow > .done {
  display: inline-block;
}

#manage #emailList {
  border-top: 1px solid #eee;
}

#emailList li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  line-height: 30px;
  min-height: 30px;
}

#emailList .email {
  display: inline-block;
  float: left;
  white-space: nowrap;
}

#emailList button {
  display: none;
}

.edit #emailList button {
  display: inline-block;
}

#logout_everywhere .completion_text {
    float: right;
    display: none;
    color: #090;
}


button.delete {
  background-color: #EA7676;
  border: 1px solid #B13D3D;
  text-shadow: -1px -1px 0 #C84343;
  box-shadow: 0 0 0 1px #EA7676 inset;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EA7676), color-stop(100%, #C84343));
  background-image: -moz-linear-gradient(#EA7676 0%, #C84343 100%);
  background-image: -ms-linear-gradient(#EA7676 0%, #C84343 100%);
  background-image: -o-linear-gradient(#EA7676 0%, #C84343 100%);
}

button.delete:hover {
  background-color: #f07979;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f07979), color-stop(100%, #c34141));
  background-image: -moz-linear-gradient(#f07979 0%, #c34141 100%);
  background-image: -ms-linear-gradient(#f07979 0%, #c34141 100%);
  background-image: -o-linear-gradient(#f07979 0%, #c34141 100%);
}

button.delete:active {
  background-color: #C84343;
  border: 1px solid #672424;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #AA3D3D;

  -webkit-box-shadow: 0 0 5px #003763 inset;
     -moz-box-shadow: 0 0 5px #003763 inset;
       -o-box-shadow: 0 0 5px #003763 inset;
          box-shadow: 0 0 5px #003763 inset;

  background-image: -moz-linear-gradient(center top , #C84343 0%, #AA3D3D 100%);
  background-image: -o-linear-gradient(#C84343 0%, #AA3D3D 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C84343), color-stop(100%, #AA3D3D));
}


#edit_password {
  margin-bottom: 10px;
  display: none;
}

.canSetPassword #edit_password {
  display: block;
}

#edit_password label {
  width: 40%;
  display: inline-block;
}

#edit_password input[type=password] {
  width: 40%;
}

.showedit {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.edit .showedit {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

#disclaimer {
  text-align: right;
}

#hAlign {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

#vAlign {
  height: 1000px;
  width: 700px;         /* the width here is to keep the cell from collapsing */
  display: table-cell;
  vertical-align: middle;
}

#signUp {
  padding: 0 0 0 250px;
}

.tour a[href="/about"] {
  color: #6dc7ff;
}

.tour a[href="/about"]:hover {
  color: #58a7e7;
}

#signUp h1 {
  max-width: 390px;
}

.tour {
  font-size: 18px;
  line-height: 39px;
}

.tour a {
  margin: 0 7px;
  text-shadow: 0 1px 0 #555;
}

.tour .button {
  font-size: 19px;
  border: 1px solid;
  border-radius: 7px;
  border-color: #68b8e8 #5da8dc #2f597b #5aa4d9;
  padding: 5px 25px;
  background-image: -webkit-linear-gradient(top, #42a5e1, #2970aa);
  background-image:    -moz-linear-gradient(top, #42a5e1, #2970aa);
  background-image:     -ms-linear-gradient(top, #42a5e1, #2970aa);
  background-image:      -o-linear-gradient(top, #42a5e1, #2970aa);
  background-image:         linear-gradient(top, #42a5e1, #2970aa);
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.tour .button:hover {
  color: #fff;
  border-color: #338fd1 #277ec4 #0e6bb6 #277ec4;
  background-image: -webkit-linear-gradient(top, #338fd1, #0e6bb6);
  background-image:    -moz-linear-gradient(top, #338fd1, #0e6bb6);
  background-image:     -ms-linear-gradient(top, #338fd1, #0e6bb6);
  background-image:      -o-linear-gradient(top, #338fd1, #0e6bb6);
  background-image:         linear-gradient(top, #338fd1, #0e6bb6);
}

.create {
  float: none;
  vertical-align: middle;
}

#card {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
  left: 0;
  background-image: url('/i/badge.png');
  background-position: 0px center;
  background-repeat: no-repeat;

  -webkit-transition: background-position 0.4s ease;
     -moz-transition: background-position 0.4s ease;
       -o-transition: background-position 0.4s ease;
          transition: background-position 0.4s ease;
}

#card.insert {
  background-position: 170px center;
}

#card img {
  float: right;
}


#signUpForm, #congrats {
  margin: 0 auto;
  width: 475px;
  padding: 20px;
  background-color: #556875;
  background-color: rgba(0,0,0,0.1);

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

#signUpForm a {
  color: #6dc7ff;
  text-shadow: 0 1px 0 #888;
}

#signUpForm a:hover {
  color: #58a7e7;
}


#signUpForm ul {
  margin: 0 0 20px;
}

#signUpForm li {
  margin: 0 0 10px;
  padding: 0;
}

#signUpForm .red {
  color: red;
}

#signUpForm .submit {
  height: 28px;
}

#signUpForm .error {
  margin-top: 20px;
  color: red;
  background-color: rgba(255,0,0,0.25);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fff0000,endColorstr=#3fff0000);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fff0000,endColorstr=#3fff0000);
  zoom: 1;
  padding: 5px;
  line-height: 16px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

#signUpForm > .siteinfo {
  margin-bottom: 10px;
}

.siteinfo, #congrats, .password_entry, #verify_password, .enter_password .hint, #unknown_secondary, #primary_verify, .verify_primary .submit {
  display: none;
}

.submit .remember {
  float: left;
}

.enter_password .password_entry, .enter_verify_password #verify_password, .known_secondary .password_entry,
.unknown_secondary #unknown_secondary, .verify_primary #verify_primary {
  display: block;
}

#congrats .siteinfo {
    margin-top: 10px;
}

#congrats .website {
    display: block;
    text-align: center;
}


.notifications > .notification {
  border-radius: 3px;
  display: none;
  text-align: center;
}

.notifications .notification.error {
  color: red;
  background-color: rgba(255,0,0,0.25);
}


#wrapper > header {
  font-weight: bold;
  z-index: 1;
}

header .nav a {
  font-size: 16px;
  padding: 4px 8px;
  color: #fff;
  text-shadow: 0 1px 0 #999;
}

header .nav a:hover {
  color: #383838;
  background-color: #f4f3f0;
  border-radius: 3px;
}

header ul {
  float: right;
  line-height: 37px;
}

header li {
  margin: 0 0 0 10px;
}


.home {
  width: 205px;
  height: 50px;
  background: url("/i/persona-logo-wordmark.png") 0 0 no-repeat;
  text-indent: -9999px;
  display: inline-block;
}

header a.signIn, header a.signOut {
  border-radius: 6px;
  padding: 6px 20px;
  border-radius: 7px;
  border: 1px solid #333;
  box-shadow: 0 0 1px #777;
}

.authenticated .signIn, .signOut {
  display: none;
}

.authenticated .signOut {
  display: inline;
}

header, footer {
  padding: 20px 0;
}

section > header {
  padding: 0;
}

footer {
  background-color: #eff1f3;
  margin-top: 10px;
}

footer .cf {
  width: 896px;
  margin: 0 auto;
}

footer ul li:first-child {
  margin-right: 35px;
}

footer ul li:first-child a {
  color: #484848;
}

footer ul li:first-child a:hover {
  border-bottom: 1px dotted #000;
}

.newsbanner {
  display: none;
  background-color: #faca33;
  line-height: 32px;
  border-radius: 4px;
  text-align: center;
  color: #626160;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

.newuser .newsbanner {
  margin-bottom: 50px;
  display: block;
}

