  <h2> Add a new email address </h2>
  <div class="content">
    <div class="summary">Setting up a new email address is easy, tell us what it is and we'll get started:</div>
    <div class="formRow">
      <label for="email_input">Email</label>
      <input type="email" id="email_input" />
      <span class="note"></span>
    </div>
  </div>
