  <!-- This takes care of the core user creation/authentication.  When the user 
        enters an email address and hits "next", the address will be checked
        against the currently registered addresses.  If the address exists,
        the password container is shown, if the address does not exist, the
        option to create a new account is given.
      -->

  <div class="content">
    <p class="prompt">Signing into <span class="sitename bad"><%= sitename %></span>:</p>
    <img src="<%= siteicon %>" alt="NYTimes Logo" width="75" height="75"/>

    <div class="formRow">
      <label for="email_input"> Email </label>
      <input type="email" id="email_input" autocapitalize="off" autocorrect="off" required />
      <a href="#" id="enterEmailNext">Next</a>
    </div>

    <!-- Bryan, I am depending on the ids, not the classes-->
    <div class="formRow" id="createContainer">
      <strong>Welcome to BrowserID</strong>
      This email looks new, so let's get you set up
      <a href="#" id="create">Create Account</a>
    </div>

    <div class="formRow" id="passwordContainer">
      <label for="password_input"> Password </label>
      <input type="password" id="password_input" pattern=".{5,}" required/>
      <a href="#" id="forgotpassword">I forgot my password</a>
      <a href="#" id="authenticate">Sign In</a>
    </div>

    <div id="cannotAuthenticate">
      The account cannot be logged in with this username and password.
    </div>

  </div>
