  <strong>Sign in using</strong>
  <ul class="inputs">

      <li>
          <label for="email" class="serif">Email</label>
          <input id="email" class="sans" type="email" autocapitalize="off" autocorrect="off" value="<%= email %>" />

          <div id="email_format" class="tooltip" for="email">
            This field must be an email address.
          </div>

          <div id="email_required" class="tooltip" for="email">
            The email field is required.
          </div>
      </li>

      <li id="hint_section" class="start">
          <p>Enter your email address to sign in to <strong><%= sitename %></strong></p>
      </li>

      <li id="create_text_section" class="newuser">
          <p><strong>Welcome to BrowserID!</strong></p>
          <p>This email looks new, so let's get you set up.</p>
      </li>

      <li id="password_section" class="returning">

          <label for="password" class="half serif">Password</label>
          <div class="half right">
              <a id="forgotPassword" href="#">forgot your password?</a>
          </div>
          <input id="password" class="sans" type="password" maxlength="80">


          <div id="password_required" class="tooltip" for="password">
            The password field is required.
          </div>

          <div id="cannot_authenticate" class="tooltip" for="password">
            The account cannot be logged in with this username and password.
          </div>
      </li>
  
  </ul>

  <div class="submit cf">
      <button class="start">next</button>
      <button class="newuser">Verify Email</button>

      <button class="returning">sign in</button>

      <button class="forgot">Reset Password</button>
      <button id="cancel_forgot_password" class="forgot">Cancel</button>
  </div>
