  <!-- This takes care of the core user creation/authentication.  When the user 
        enters an email address and hits "next", the address will be checked
        against the currently registered addresses.  If the address exists,
        the password container is shown, if the address does not exist, the
        option to create a new account is given.
      -->

    <div id="favicon">
        <div class="table">
            <div class="vertical">
                <img src="<%= siteicon %>">
                <strong><%= sitename %></strong>
            </div>
        </div>
    </div>

    <div id="signIn">
        <div class="arrow"></div>
        <div class="table">
            <form class="vertical">
                <strong>Sign in using</strong>
                <ul id="inputs">

                    <li class="section">
                        <label for="email" class="serif">Email</label>
                        <input id="email" class="sans" placeholder="Your email" type="email" autocapitalize="off" autocorrect="off" autofocus required x-moz-errormessage="an email address is required">
                    </li>

                    <li class="section">

                        <div id="password_section" class="returning">
                            <label for="password" class="half serif">Password</label>
                            <div class="half right">
                                <a id="forgotpassword" class="forgot" href="#">forgot your password?</a>
                            </div>
                            <input id="password" class="sans" placeholder="Your password" type="password">
                        </div>

                        <div id="hint_section" class="start">
                            <p>Enter your email address to sign in to <strong><%= sitename %></strong></p>
                        </div>

                        <div id="create_text_section" class="new">
                            <p><strong>Welcome BrowserID!</strong></p>
                            <p>This email looks new, so let's get you set up</p>
                        </div>

                        <div id="cannot_authenticate">
                          The account cannot be logged in with this username and password.
                        </div>
                    </li>
                
                </ul>

                <div class="submit cf">
                    <button id="next" class="start">next</button>
                    <button id="create" class="new">Create Account</button>

                    <div class="add left half cf" style="display:none;">
                        <a id="useDifferentEmail" href="#">Use a different email</a>
                        <div id="differentEmail" class="cf">
                            <input id="newEmail" type="email"/>
                            <button id="addDifferentEmail">Add</button>
                        </div>
                    </div>

                    <button id="signInButton" class="returning">sign in</button>
                </div>
            </form>
        </div>
    </div>


