  <!-- This takes care of the core user creation/authentication.  When the user 
        enters an email address and hits "next", the address will be checked
        against the currently registered addresses.  If the address exists,
        the password container is shown, if the address does not exist, the
        option to create a new account is given.
      -->

    <div id="favicon">
        <div class="table">
            <div class="vertical">
                <strong><%= sitename %></strong>
            </div>
        </div>
    </div>

    <div id="signIn">
        <div class="arrow"></div>
        <div class="table">
            <div class="vertical">
                <strong>Sign in using</strong>
                <ul id="inputs">

                    <li class="section">
                        <label for="email" class="serif">Email</label>
                        <input id="email" class="sans" type="email" autocapitalize="off" autocorrect="off" autofocus required x-moz-errormessage="an email address is required">
                    </li>

                    <li class="section">

                        <div id="password_section" class="returning">
                            <label for="password" class="half serif">Password</label>
                            <div class="half right">
                                <a id="forgotPassword" href="#">forgot your password?</a>
                            </div>
                            <input id="password" class="sans" type="password">
                        </div>

                        <div id="hint_section" class="start">
                            <p>Enter your email address to sign in to <strong><%= sitename %></strong></p>
                        </div>

                        <div id="create_text_section" class="newuser">
                            <p><strong>Welcome BrowserID!</strong></p>
                            <p>This email looks new, so let's get you set up</p>
                        </div>

                        <div id="cannot_authenticate">
                          The account cannot be logged in with this username and password.
                        </div>
                    </li>
                
                </ul>

                <div class="submit cf">
                    <button class="start">next</button>
                    <button class="newuser">Create Account</button>

                    <button class="returning">sign in</button>

                    <button class="forgot">Reset Password</button>
                    <button id="cancel_forgot_password" class="forgot">Cancel</button>
                </div>
            </div>
        </div>
    </div>


