<div id="header">
  <div class="title"><img src="/i/browserid_logo_lil.png"></div><div class="subtitle">A better way to sign in.</div>
</div>

<div id="dialog" class="dialog">
</div>

<div id="bottom-bar">
</div>

<div id="terms">
BrowserID is a <a target="_blank" href="http://mozillalabs.org">Mozilla Labs</a> service.
See our <a target="_blank" href="https://browserid.org/tos">terms</a> and <a target="_blank" href="https://browserid.org/privacy">privacy policy</a>, or <a target="_blank" href="https://browserid.org/users">learn more</a>.
</div>