<header id="header">
  <hgroup>
      <h1 id="logo" class="sprite">BrowserID</h1>
      <h2 id="subtitle" class="sprite">A better way to sign in.</h2>
  </hgroup>
  <div id="labs_logo" class="sprite"></div>
</header>

<form action="" onsubmit="return false;"> <!-- using the form element to hook into with js -->
  <div id="dialog" class="dialog">
  </div>

  <div id="bottom-bar">
  </div>
</form>

<footer id="terms">
    BrowserID is a <a target="_blank" href="http://mozillalabs.com">Mozilla Labs</a> service.
    See our <a target="_blank" href="https://browserid.org/tos">terms</a> and <a target="_blank" href="https://browserid.org/privacy">privacy policy</a>, or <a target="_blank" href="https://browserid.org/users">learn more</a>.
</footer>
