  <div id="checkemail">
      <div class="table">
          <div class="vertical">
              <p style="margin:20px auto;font-size:150%;"><strong style="color:#222">Check your email!</strong></p>
              <p>We sent a confirmation email to <span id="displayemail"><%= email %></span></p>
              <p>To finish signing in just click the verify link we sent to your email address.</p>
          </div>
      </div>
  </div>

