    <h2>Check your email!</h2>
    <p>We sent a confirmation email to <strong><%= email %></strong></p>
    <p>To finish signing in just click the verify link we sent to your email address.</p><br />
    <p>If this is a mistake, <a href="#" id="back">cancel this email</a>.</p>

