
<div class="formRow">
  <label for="email">Email Address</label>
  <input type="email" id="email" name="email" disabled/>
</div>

<div class="formRow">
  <label for="pass">New Password</label>
  <input type="password" id="pass" name="pass" />
</div>

<div class="formRow">
  <label for="pass2">Verify Password</label>
  <input type="password" id="pass2" name="pass2" />
</div>

<button id="submit" class="action">Finish</button>
