  <div class="content">
    <div class="summary"><b>Forgot your password?</b>  No problem!  Enter your email address, pick a new password, and we'll get you set up again!</div>
    <div class="formRow">
      <label for="email_input"> Email </label>
      <input id="email_input" type="email" autocapitalize="off" autocorrect="off" required/>
      <span class="note" id="email_input_note" style="display:none;"><span class="good">Not registered</span></span>
    </div>
    <div class="formRow">
      <label for="password_input"> Password </label>
      <input id="password_input" type="password" pattern=".{5,}" required/>
    </div>
    <div class="formRow">
      <label for="password_verify_input"> Verify </label>
      <input id="password_verify_input" type="password" pattern=".{5,}" required/>
      <span class="note passwordnote" id="enter_a_password"><span class="bad">Enter a password</span></span>
      <span class="note passwordnote" id="passwords_different" style="display:none;"><span class="bad">Passwords different</span></span>
      <span class="note passwordnote" id="password_too_short" style="display:none;"><span class="bad">Password too short</span></span>
      <span class="note passwordnote" id="password_too_long" style="display:none;"><span class="bad">Password too long</span></span>
      <span class="note passwordnote" id="password_ok" style="display:none;"><span class="good">Password OK</span></span>
    </div>
    <div class="attention_lame" style="display:none;" id="emailinuse_message">
      <span id="in_use_email">Email</span> in use, If this email is yours you can <a tabindex="0" href="#">sign in</a> with it?
    </div>
  </div>
