    <h2>Reset Password</h2>

    <ul id="inputs">
      <li>
        <label for="email_input"> Email </label>
        <input id="email_input" type="email" value="<%= email %>"/>
      </li>

      <li class="submit cf">
        <button>Reset Password</button>
        <button id="back">Cancel</button>
      </li>
    </ul>


