    <strong>Reset Password</strong>

    <ul id="inputs">
      <li>
        <label for="email_input"> Email </label>
        <input id="email_input" type="email" value="<%= email %>"/>
      </li>
    </ul>

    <div class="submit cf">
        <button>Reset Password</button>
    </div>

