    <div class="formRow">
      <label for="email_input"> Email </label>
      <input id="email_input" type="email" value="<%= email %>"/>
    </div>

    <div class="submit cf">
        <button>Reset Password</button>
    </div>

