<p class="hint">Finish signing into <span class="website"><strong><%= sitename %></strong></span></p>
<h1 class="serif">Last step!</h1>

<ul class="inputs">
    <li>
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" class="sans" value="<%= email %>" disabled/>
    </li>

    <li>
      <label for="pass">New Password</label>
      <input type="password" id="pass" name="pass" />
    </li>

    <li>
      <label for="pass2">Verify Password</label>
      <input type="password" id="pass2" name="pass2" />
    </li>
</ul>
  
<button id="submit" class="action">Finish</button>
