/static/css/browserid.css
/static/css/browserid.min.css
/static/dialog/css/production.css
/static/dialog/css/production.min.css
/static/dialog/production.js
/static/include.orig.js
/static/js/lib.js
/static/js/lib.min.js
/static/relay/production.js
