                    <tr class="spacer">
                      <td height="20px"> </td>
                    </tr>
                </table><!-- /white area-->
              </td>
            </tr>

            <tr class="spacer">
              <td height="2px"></td>
            </tr>

            <tr>
              <td align="center" valign="top" bgcolor="#fff" style="border-collapse: collapse; color: #3d3d3f; background-color:rgba(255,255,255,0.6);">
                <table border="0" cellpadding="10" cellspacing="0"><!-- footer area -->
                  <tr>
                    <td>
                      <%- format(gettext('<a %s><strong>Mozilla Persona.</strong></a> Simple sign-in from the non-profit behind Firefox.'), ["href='https://login.persona.org/about' target='_blank' style='color:#3d3d3f; text-decoration: none;'"]) %>
                    </td>
                  </tr>
                </table><!-- /footer area -->
              </td>
            </tr>

            <tr class="spacer">
              <td height="60px"></td>
            </tr>

          </table><!-- /bg color area -->

        </td>
      </tr>
    </table><!-- /body area -->
    </center>
  </body>
</html>

