<div id="content" class="display_always">
    <div id="legal">
      <h1>Privacidad y Mozilla Persona</h1>

<ul>
 <li>Precisamos verificar su dirección
     de e-mail para registrar una cuenta Mozilla Persona, sin embargo, no solicitamos
     otras informaciones personales.</li>

 <li>Para auxiliarlo durante el
     acceso, su dirección de email es compartida con los web sites visitados; sin
     embargo, esas informaciones no son transmitidas sin su consentimiento
     expreso.</li>
 <li>Con base en su uso del servicio
     Mozilla Persona, Mozilla recolecta algunos datos de análisis de registros con el
     fin de mejorar el servicio ofrecido. Esos datos no se almacenan con sus informaciones personales, además,
     los puntos de datos individuales se excluyen una vez que sus datos son
     insertados en las estadísticas.</li>
 <li>No vendemos sus datos o
     utilizamos redes de anuncios en páginas Web o Servicios Mozilla Persona.</li>

 <li>Mozilla planea integrar
     proveedores de e-mail en el sistema, pasando a incluir también sus
     políticas de privacidad y términos de servicio (si Ud. usa uno de sus
     proveedores de e-mail).</li>
 <li>Para ver integralmente el
     texto sobre nuestras prácticas de privacidad y todos los detalles y condiciones
     legales, lea nuestra política de privacidad abajo.</li>
</ul>

<h3>Política de Privacidad de Mozilla Persona </h3>

<p><em>Última Actualización: 6 de marzo de 2013</em></p>

<p>Esta política de privacidad explica hasta qué punto Mozilla Corporation (*)
(&quot;Mozilla&quot;) recolecta y usa informaciones sobre los usuarios de
Mozilla Persona (&quot;Servicio Mozilla Persona&quot;) cuando esos usuarios utilizan los
clientes y servidores creados por Mozilla.</p>

<h4>Definiciones</h4>
<p><b>&quot;Informaciones Personales&quot;</b> son las
informaciones que Ud. nos provee, identificándose personalmente, como nombre,
número de teléfono o dirección de e-mail. Excepto por la dirección de e-mail,
Mozilla no recolecta o solicita informaciones personales a los usuarios finales del Servicio Mozilla Persona.</p>

<p><b>&quot;Informaciones no personales&quot;</b> son las
informaciones que no pueden por si solas ser directamente asociadas a una persona o entidad específica. Las Informaciones No Personales incluyen, pero no se limitan a, la configuración de su computadora y tipo de navegador que Ud. usa.</p>

<p><b>&quot;Informaciones Potencialmente Personales&quot;</b> son
informaciones no personales que pueden ser usadas en conjunto con otras informaciones para identificarlo personalmente. Por ejemplo, los Localizadores Uniformes de
Recursos (&quot;URLs&quot;) (direcciones de páginas web) y las direcciones de
Protocolos de Internet (&quot;IP&quot;) (direcciones de computadoras en la
internet) pueden ser consideradas informaciones personales cuando se las
combina con los registros del proveedor de servicios de internet
(&quot;ISP&quot;).</p>

<p><b>&quot;Datos operacionales&quot;</b> son datos
sobre el uso de los Servicios por parte de un usuario, tales como datos de
registro de &#8203;&#8203;acceso (datos sobre la hora en que las personas ingresan
al servicio y el software utilizado). Mozilla recolecta datos operacionales
para garantizar capacidad suficiente con el fin de satisfacer las necesidades del
usuario y auxiliar las operaciones de los Servicios.</p>

<p><b>&quot;Estadísticas de uso&quot;</b> se refieren
a informaciones no personales utilizadas por Mozilla para comprender cómo Ud.
utiliza el servicio. Esas informaciones pueden incluir, pero no se limitan a la
cantidad de datos que Ud. está almacenando con el servicio, frecuencia con la
cual Ud. ingresa en el servicio, utilización del ancho de banda, datos de
interacción del usuario, y <i>traffic
shaping</i>.</p>

<p>De forma más
objetiva, las Estadísticas de Uso y los Datos Operacionales concernientes a su
uso del Servicio Mozilla Persona no son juntamente almacenados con sus informaciones personales.
Tomamos medidas para agregar o excluir Datos Operacionales y Estadísticas de
Uso cuando estos no son más necesarios, a menos que seamos obligados por ley a
mantenerlos por más tiempo.</p>

<h4>Recolección, uso y divulgación de datos de transmisión</h4>
<h5>Informaciones de la Cuenta</h5>
<p>Antes de
utilizar Mozilla Persona, es preciso registrarse. Para tal fin, el Servicio Mozilla Persona va
a solicitarle las siguientes informaciones personales y potencialmente personales
suyas: una dirección de e-mail y contraseña. Su dirección de email se transfiere
a Mozilla utilizando criptografía SSL. Su dirección de e-mail es utilizada por
la empresa para servicios como la recuperación de cuenta en el caso de pérdida
de contraseña. Su contraseña se transfiere a Mozilla usando criptografía SSL,
siendo almacenada por los servidores de Mozilla solo en formato criptográfico (lo
que significa que no es posible identificar la contraseña en ese formato).</p>

<p>Después de registrarse, su contraseña se utiliza para ayudar a prevenir accesos no autorizados a su cuenta.</p>

<h5>Datos
usados &#8203;&#8203;para prestar los servicios</h5>
<p>Mozilla recibe y utiliza las siguientes informaciones con el fin de proporcionar y mejorar
el Servicio Mozilla Persona: Dirección IP, e-mail, fecha y hora de acceso al Servicio Mozilla Persona, además de diversos datos operacionales, como el tipo de sistema
operacional del cliente y versión del navegador (también conocidos como
secuencia del agente del usuario - <i>user
agent string</i>).</p>

<h5>Divulgación a Terceros</h5>
<p>El Servicio
Mozilla Persona sólo puede divulgar su dirección de e-mail confirmado a los web sites
de su elección después de obtener su consentimiento expreso para tal fin. Los web
sites pueden solicitar una dirección de e-mail confirmada a través de notificaciones.
Después que Ud. haya concordado, el servicio puede recordar su elección,
permitiendo que Ud. permanezca registrado en el web site durante las visitas
subsecuentes.</p>

<p>Mozilla no
divulga informaciones personales o potencialmente personales a terceros de
forma deliberada, salvo con el fin a cumplir con cualquier ley, reglamento o
proceso legal vigente, como mandatos de búsqueda, intimaciones, estatutos,
órdenes judiciales, o incluso si es necesario o apropiado para tratar de una
actividad ilegal o perjudicial.</p>

<h5>¿Qué datos son analizados &#8203;&#8203;por Mozilla?</h5>
<p>Mozilla recurre a las Estadísticas de Uso para comprender su utilización del Servicio
Mozilla Persona, a menos que Ud. decida compartir más informaciones con nosotros para
esa finalidad.</p>

<h5>¿Cómo se utilizan las estadísticas de uso?</h5>
<p>Mozilla utiliza las Estadísticas de Uso reunidas a través de la operación del Servicio
Mozilla Persona para mejorar nuestros productos y servicios. Al identificar los estándares
globales y las tendencias de uso, Mozilla y su comunidad son capaces de desarrollar
productos y servicios más eficientes para mejorar la experiencia de los
usuarios, tanto en términos de contenido como de facilidad de uso.</p>

<h5>¿Dónde están dispuestos los datos operacionales?</h5>
<p>Mozilla es
una organización abierta que cree en compartir las informaciones sobre sus
productos y operaciones, así como sus asociaciones con la su comunidad. Así, los
utilizadores del Servicio Mozilla Persona deben estar conscientes de que, en algún
momento, Mozilla va a disponer públicamente las Estadísticas de Uso. Sin
embargo, todas las informaciones disponibilizadas al público serán relatadas de
forma anónima y agregada. Ninguna información personal o potencialmente personal
estará disponible en cualquiera de esos informes públicos.</p>

<h5>Cómo deshabilitar o Salir de Mozilla Persona</h5>
<p>Si en cualquier momento, Ud. decide que no quiere usar más el Servicio Mozilla Persona, es posible cancelar su cuenta Mozilla Persona a través de la dirección <kbd>https://persona.org/,</kbd> ingresando
con cualquiera de sus direcciones de e-mail y su contraseña, clicando en el botón &quot;editar&quot; y después &quot;excluir&quot; al lado de cada una de sus direcciones de e-mail. Si Ud. no recuerda la contraseña, es posible usar el recurso de
redefinición de contraseña por e-mail para recuperar el acceso a su cuenta y enseguida excluirla.</p>

<h5>Otras Divulgaciones</h5>
<p>En algunos otros casos limitados, Mozilla puede divulgar sus informaciones personales para proteger nuestros web sites y operaciones (por ejemplo, contraataques); para proteger los derechos, privacidad, seguridad o propiedad de Mozilla o de sus usuarios; para hacer valer nuestros términos de servicio; y para buscar los recursos jurídicos disponibles. Además de eso, Mozilla puede precisar transferir informaciones personales a una filial o sucesora en el caso de un cambio en nuestra estructura societaria o status, como en el caso de una reestructuración, venta o falencia.</p>

<h5>Proveedores de Servicios</h5>
<p>Trabajamos con empresas tercerizadas que proveen redes de entrega de contenido y servicios,
así como demás servicios de naturaleza administrativa. La posibilidad de compartir esas informaciones tiene como finalidad viabilizar la prestación de esos servicios por parte de los referidos terceros.</p>

<h5>Transferencia de datos a los EEUU</h5>
<p>Mozilla es una organización global y opera en diferentes países. Las leyes de privacidad y
prácticas comunes varían de país a país. Algunos países pueden asegurar menos
protección legal a sus datos personales, otros más. Al utilizar el Servicio Mozilla Persona, Ud. concuerda con la transferencia de las informaciones recolectadas, conforme a lo descripto por esta Política, a Mozilla en Estados Unidos, pudiendo
haber menor nivel de protección de datos que en su país de residencia.</p>

<h5>Retención de Datos</h5>
<p>Retendremos todas las informaciones recolectadas durante el período necesario para el cumplimiento
de los propósitos descriptos en esta Política, a menos que un período de retención más largo sea exigido por ley y/o reglamentos.</p>

<h5>Cambios en la Política de Privacidad</h5>
<p>Mozilla podrá alterar esta Política de Privacidad de tiempo en tiempo. Siempre que Ud. use el Servicio Mozilla Persona, será aplicada la versión vigente de esta Política de
Privacidad. Toda y cualquier alteración será reflejada en esta página. Esta
página debe ser periódicamente verificada con el fin de identificar cualquier
alteración en la política actual. Para tornar su análisis más conveniente,
colocaremos una fecha de vigencia en la parte superior de esta página. Los
cambios materiales también serán anunciados a través de los mecanismos
convencionales utilizados por Mozilla para comunicarse con la comunidad
Mozilla. Es su responsabilidad certificarse de que comprende los términos de esta Política de Privacidad.</p>

<h5>Qué no está cubierto por esta política de privacidad</h5>
<p>Esta política no se aplica a otros web sites, productos o servicios de Mozilla. La política también no se aplica a la utilización de clientes de terceros o servidores no disponibilizados por Mozilla. Si Ud. opta por servidores o clientes Mozilla Persona de terceros, no disponibles a través de Mozilla, esta política no será aplicable y Mozilla no asumirá ninguna responsabilidad por tales productos o servicios.</p>

<h5>Para Más Informaciones</h5>
<p>Es posible
solicitar acceso, corrección o exclusión de informaciones personales o
Potencialmente Personales, conforme a lo previsto por ley. Buscaremos
satisfacer esos requisitos, siempre que tengamos las informaciones necesarias
para identificar las Informaciones Personales o Potencialmente Personales
relacionadas a Ud. Cualquier pedido o demás pregunta o cuestión relacionada a
esta política y a las prácticas de protección de datos de Mozilla deben ser
encaminados a:</p>

<blockquote><pre>
Mozilla Corporation dirigido a:
Avisos Legales &#8211; Privacidad
650 Castro Street Suite 300 Mountain View, CA 94041-2072
Teléfono: +1-650-903-0800
<a href="http://www.mozilla.org/en-US/privacy/#contactus">Envíenos
un e-mail</a>
</pre></blockquote>
    </div>
</div>
