<div id="content" class="display_always">
  <div id="legal">
  <h1>Términos de Servicio - Visión general</h1>

<ul>
  <li>El Servicio Mozilla Persona de Mozilla permite que un
     usuario conectado confirme si él es el propietario de una determinada dirección
     de e-mail. Después de que el usuario haya realizado la confirmación y
     utilizado la dirección de email en web sites que hacen uso del Servicio Mozilla
     Persona de Mozilla, los web sites pueden solicitar a Mozilla que se
     certifique sobre la confirmación de la existencia y titularidad de la dirección
     de e-mail por parte del usuario.
  </li>
  <li>El Servicio Mozilla Persona de Mozilla actúa junto a los
     web sites para confirmar si un usuario validó una determinada dirección de
     e-mail, y con proveedores de e-mail para realizar la verificación inicial del
     usuario. Los Términos de Servicio se aplican tanto a los web sites como a
     los proveedores de e-mail que usan Mozilla Persona de Mozilla.
  </li>
  <li>Ud. es responsable por softwares o APIs de
     terceros utilizados o desarrollados por Ud. para ingresar en el Servicio
     Persona de Mozilla. El Servicio Mozilla Persona de Mozilla es suministrado &quot;en
     el estado en que está&quot;, no habiendo garantías de ningún tipo.
  </li>
  <li>Hay límites significativos en las
     responsabilidades de Mozilla por cualquier daño derivado de la utilización
     del Servicio Mozilla Persona por parte del usuario.</li>
</ul>

<h3>Términos de Servicio</h3>
<h4>Aceptación</h4>
<p>Estos Términos de Servicio (&quot;TOS&quot;) rigen el uso del Servicio Mozilla Persona de Mozilla (los &quot;Servicios&quot;).
Al ingresar los materiales y APIs necesarios para la utilización de los Servicios y al utilizar los Servicios Ud. está concordando en cumplir los términos y condiciones descriptos abajo.</p>

<h4>El uso de los Servicios como un proveedor de e-mail o web site solicitante</h4>
<p>Para utilizar los servicios, un web site debe incluir en sus páginas una biblioteca JavaScript suministrada por Mozilla
y usar la API provista para solicitar una dirección de e-mail confirmada. Si un usuario decide confirmar una dirección de e-mail como parte de los Servicios,
Mozilla va a enviarle un e-mail de confirmación a la dirección de e-mail.
Cuando recibimos una respuesta de esa cuenta de e-mail o una confirmación por
parte del proveedor de e-mails, almacenamos esa confirmación y transmitimos al usuario que la confirmación fue exitosa. Después de eso, si el usuario está
conectado a los Servicios y visita su web site, y Ud. desea solicitar una
confirmación de la dirección de e-mail, emitiremos esa confirmación para Ud. La confirmación sirve para comprobar que este usuario tenía acceso en el momento de
la confirmación de la dirección de e-mail especificado.</p>

<p>Los Servicios sólo pueden ser usados para los fines previstos por los (i) Términos de Servicio y (ii) leyes y
reglamentos en su estado y país, así como cualquier otra ley y reglamento que
se aplique a su uso de los Servicios (incluyendo cualquier ley relativa a la
exportación de datos o software de y para los Estados Unidos u otros países
relevantes).</p>

<p>Ud. concuerda en respetar los puntos especificados abajo:</p>
<ul>
  <li>no involucrarse en ninguna actividad que
     interfiera o interrumpa los Servicios (o servidores y redes conectados a
     los Servicios),
  </li>
  <li>no comercializar o revender los Servicios para
     cualquier finalidad, a menos que esté específicamente autorizado por
     Mozilla, por escrito, para hacerlo, o
  </li>
  <li>no ingresar (o intentar ingresar) a los Servicios
     por ningún medio que no sea el propio web site de Mozilla Persona de Mozilla
     (browserid.org), softwares con la marca oficial Mozilla (Firefox, Firefox
     para Dispositivos Móviles, y Firefox Home, mencionados en este documento
     como &quot;Clientes Firefox&quot;), o softwares de terceros que utilicen
     APIs autorizadas y suministradas por Mozilla (&quot;Clientes de
     Terceros&quot;), a menos que esté específicamente autorizado por Mozilla,
     por escrito, para hacerlo.
  </li>
</ul>

<h4>Ud. reconoce y concuerda en que</h4>
<p>Mozilla no es responsable por
clientes de Terceros y que Ud. es el único responsable por el uso de los
mismos.</p>

<ul>
  <li>Mozilla no declara o indica la aprobación de ningún
     cliente de Terceros, ni que cree en la precisión, utilidad o seguridad de la utilización de ningún Cliente de Terceros.
  </li>
  <li>Los Clientes de Terceros pueden presentar
     imprecisiones técnicas, generar errores o fallas y transmitir, almacenar o
     manipular datos de manera cuestionable. Ud. debe tomar las precauciones
     necesarias para protegerse a sí y a sus sistemas al conectarse a Clientes
     de Terceros.
  </li>
  <li>Los Clientes de Terceros pueden estar
     condicionados a términos adicionales, así como prácticas y políticas de
     privacidad distintas. La(s) Política(s) de privacidad de Mozilla no se
     aplica(n) en el caso de datos almacenados, manipulados o transmitidos para
     o a partir de los servidores de Mozilla, a través de la utilización de
     Clientes de Terceros por parte del usuario.
  </li>
</ul>

<p>Ud. también reconoce y concuerda en que:</p>

<ul>
  <li>Mozilla tiene el derecho de administrar los servicios
     con el fin de proteger los derechos y propiedades de Mozilla y de otros, y
     facilitar el buen funcionamiento de los servicios, incluyendo la desactivación
     de su cuenta.
  </li>
  <li>Los Servicios no serán utilizados para ninguna
     finalidad en la que una confirmación precisa de identidad pueda generar
     consecuencias fatales, financieras o críticas.
  </li>
  <li>Mozilla puede interrumpir o alterar los servicios
     a su criterio, sin ninguna obligación. Si los servicios son interrumpidos o
     alterados, haremos una declaración a través de los canales habituales de
     Mozilla, como blogs y foros.
  </li>
</ul>

<h4>Derechos de Propiedad</h4>
<p>Mozilla no le concede a Ud. ningún
derecho de propiedad intelectual sobre los servicios, que no estén
específicamente previstos en estos términos de servicio. Por ejemplo, este
documento no concede derecho de uso de ningún derecho de autor, nombre
comercial, marca registrada, marca de servicio, logotipo, nombre de dominio y
otros elementos característicos de la marca Mozilla.</p>
<p>Los clientes del Firefox están sujetos a las condiciones de la versión vigente de la <a href="http://www.mozilla.org/MPL">Licencia Pública de Mozilla,</a> localizada en <tt><a href="http://www.mozilla.org/MPL">http://www.mozilla.org/MPL.</a></tt></p>

<h4>Actualizaciones de los Términos</h4>
<p>Mozilla puede actualizar los Términos
de Servicio, de tiempo en tiempo, para lidiar, por ejemplo, con un nuevo
recurso de los Servicios o para esclarecer una disposición. Los términos de servicio actualizados serán publicados en el web site de Mozilla Persona de Mozilla. Si los cambios son sustanciales, vamos a anunciar la actualización a través de los canales habituales de Mozilla para esas declaraciones, como blogs y foros. El uso
continuado de los Servicios después de la fecha efectiva de tales cambios
constituye la aceptación de las mismas. Para hacer su análisis más conveniente, colocaremos una fecha de vigencia en la parte superior de esta página. Los términos no pueden ser modificados o cancelados sin el consentimiento por escrito de
Mozilla.</p>

<h4>Exención de Garantía</h4>
<p><b>Los Servicios son suministrados &quot;en el estado en que están&quot;, con todas las fallas. En la medida de lo permitido por ley, Mozilla, sus
distribuidores, colaboradores y licenciadores renuncian a todas las garantías, expresas o implícitas, incluyendo, sin limitación, garantías de que los servicios son libres de defectos, comercializables, autorizados y compatibles con
finalidades específicas. Ud. asume todo el riesgo en cuanto a la selección de
los Servicios para sus fines y en cuanto a la calidad y desempeño de los Servicios, incluyendo, sin limitación, el riesgo de perder sus datos de usuario, o de que alguien utilice su nombre de usuario y contraseña para acceder a las confirmaciones de su identidad. Esa limitación se aplica, no obstante la falla de propósito esencial de cualquier solución. Algunas jurisdicciones no permiten la exclusión o limitación de garantías implícitas, por lo tanto este aviso de exención puede no aplicarse a Ud.</b></p>

<h4>Limitación de Responsabilidad</h4>
<p><b>Salvo conforme a lo previsto por ley, Mozilla, sus distribuidores,
colaboradores y licenciadores, no serán responsables de ningún daño indirecto,
especial, accidental, consecuencial o ejemplar, derivado o de alguna forma
relacionado a estos Términos de Servicio, o incluso al uso o incapacidad de
usar los Servicios, incluyendo, sin limitación, daños por pérdida de
credibilidad, paralización del trabajo, lucros cesantes, pérdida de datos y
falla o mal funcionamiento del computador, incluso si son avisados
&#8203;&#8203;de la posibilidad de tales daños e independientemente de la
teoría (contrato, acto ilícito, u otros) en que tal afirmación se basa. La
responsabilidad colectiva de Mozilla, sus distribuidores, colaboradores y
licenciados, prevista por los términos de este Contrato, no debe exceder US$
500 (quinientos dólares). Algunas jurisdicciones no permiten la exclusión o
limitación de daños accidentales, consecuenciales o especiales, por lo tanto la exclusión o limitación puede no aplicarse a Ud.</b></p>

<h4>Disposiciones generales</h4>
<p>Los Términos de Servicio constituyen la totalidad del acuerdo entre Ud. y Mozilla Corporation
(&quot;Mozilla&quot; o nosotros) con relación a los Servicios. Estos términos son
regidos por las leyes del Estado de California, EEUU, excepto por las disposiciones
de Derecho Internacional Privado. La Convención de las Naciones Unidas para
Contratos de Venta Internacional de Mercaderías está expresamente renunciada.
Si cualquier parte de estos Términos de Servicio se considera inválida o
inexequible, las partes restantes permanecerán en pleno vigor y efecto. En el
caso de un conflicto entre una versión traducida de estos términos y la versión
en Inglés, la versión en Inglés prevalecerá.</p>
  </div>
</div>
