/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * These fixes are specific to IE8 for the main site
 */

body {
  background-image: url("/pages/i/marketplace-header.png");
  background-position: center top;
  background-repeat: repeat-x;
}


