/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.home {
  width: 205px;
  height: 50px;
  background: url("/pages/i/persona-logo-wordmark.png") 0 0 no-repeat;
  text-indent: -9999px;
  display: inline-block;
}

header {
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  background-color: #eff1f3;
  bottom: 0;
  color: #484848;
  left: 0;
  margin-top: 10px;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 100%;
}

footer .cf {
  width: 100%;
  margin: 0 auto;
}

#wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

.notice {
  align-self: center;
  background: #8A241B;
  border: 1px solid #710B02;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding: 5px;
  text-align: center;
}

.notice p {
  padding: 0.4em;
}

.notice a {
  border-bottom: 1px dotted #fff;
  color: #fff;
  font-weight: normal;
}

