@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: normal;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url('sil.ttf') format('truetype');
}

@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Tenor Sans'), local('TenorSans'), url('ts.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Tenor Sans', arial, serif;
}

#splash .header {
    height: 4px;
    background-color: #333;
    padding: 0 20% 0 20%;
}

#splash .tophalf, #splash .topquarter {
    background: #008;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 230px;
    min-width: 900px;
}

#splash .tophalf .title {
    padding-top: .7em;
    font-size: 6em;
    font-weight: bold;
}

#splash .tophalf .subtitle {
    font-family: 'Shadows Into Light', arial, serif;
    font-size: 3em;
}

#splash .topquarter {
    height: 50px;
}

#splash .topquarter > div {
    width: 900px;
    margin: auto;
}

#splash .topquarter .title {
    padding-top: .2em;
    font-size: 3em;
    font-weight: bold;
    float: left;
}

#splash .topquarter .subtitle {
    font-family: 'Shadows Into Light', arial, serif;
    font-size: 2em;
    margin: .4em 0 0 .5em;
    float: left;
}

#splash .header .manage {
    float: right;
    background-color: #333;
    color: #fff;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#splash .bottomhalf {
    width: 900px;
    margin: auto;
}

#splash .bottomhalf .why {
    height: 130px;
    padding: 10px 100px 10px 100px;
}

#splash .bottomhalf .why p {
    font-size: 2em;
    text-align: center;
}

#splash .bottomhalf a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

#splash .bottomhalf a:hover {
    color: #000;
    opacity: 1;
}

#splash .tophalf > div {
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

#splash .footer {
    background-color: #F1F1F1;
    border-top: 2px solid #ddd;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    height: 200px;
    font-size: 1.1em;
}

#splash .footer > div {
    width: 900px;
    margin: auto;
}

#splash .footer > div > div {
    width: 400px;
    padding: 10px;
}

#splash .footer .right {
    padding-top: 20px;
    float: right;
}

#splash .footer a {
    color: #666;
}

#splash .footer .right p {
    text-align: right;
}

#splash .footer .copyright {
    font-weight: bold;
    font-size: .8em;
}

.bottomhalf .step .number {
    font-family: 'Shadows Into Light', arial, serif;
    font-size: 4em;
    float: left;
    font-weight: bold;
    margin-top : -.4em;

    width: 50px;
}

.bottomhalf .step  {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 14px;
}

.bottomhalf .step > p {
    margin-left: 50px;
}

.bottomhalf .prose {
    font-size: 1.5em;
}

pre code {
    padding: 30px;
    margin: 1em 100px 1em 100px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;

}
