body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Tenor Sans', arial, serif;
}

#splash .header {
    height: 4px;
    background-color: #333;
    padding: 0 20% 0 20%;
}

#splash .title {
    padding-top: .7em;
    font-size: 6em;
    font-weight: bold;
}

#splash .subtitle {
    font-family: 'Shadows Into Light', arial, serif;
    font-size: 3em;
}

#splash .header .manage {
    float: right;
    background-color: #333;
    color: #fff;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#splash .tophalf {
    background: #008;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 230px;
    min-width: 900px;
}

#splash .bottomhalf {
    width: 900px;
    margin: auto;
}

#splash .bottomhalf .why {
    height: 130px;
    padding: 10px 100px 10px 100px;
}

#splash .bottomhalf .why p {
    font-size: 2em;
    text-align: center;
}

#splash .bottomhalf a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

#splash .bottomhalf a:hover {
    color: #000;
    opacity: 1;
}

#splash .tophalf > div {
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

#splash .footer {
    background-color: #F1F1F1;
    border-top: 2px solid #ddd;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    height: 200px;
    font-size: 1.1em;
}

#splash .footer > div {
    width: 900px;
    margin: auto;
}

#splash .footer > div > div {
    width: 400px;
    padding: 10px;
}

#splash .footer .right {
    padding-top: 20px;
    float: right;
}

#splash .footer a {
    color: #666;
}

#splash .footer .right p {
    text-align: right;
}

#splash .footer .copyright {
    font-weight: bold;
    font-size: .8em;
}

