  <div class="title"> Add a new email address </div>
  <div class="content">
    <div class="summary">Setting up a up a new email address is easy, tell us what it is and we'll get started:</div>
    <div class="input">
      <div class="label"> Email </div>
      <div class="input"> <input type="text" id="email_input"></input></div>
      <div class="note"></div>
    </div>
  </div>
