  <div class="content">
    <p class="prompt">Logging into <span class="sitename bad"><%= sitename %></span>:</p>
    <div class="input">
      <div class="label"> Email </div>
      <div class="input"> <input type="text" id="email_input"></input></div>
    </div>
    <div class="input">
      <div class="label"> Password </div>
      <div class="input"> <input type="password" id="password_input"></input></div>
      <div class="note"> <a href="#">I forgot my password</a> </div>
    </div>
    <div class="attention_lame" id="nosuchaccount" style="display:none;">
      No such account exists with that email and/or password
    </div>
    <div class="actions">
      <div class="action"><a href="#">Don't have a BrowserID yet?</a></div>
    </div>
  </div>
