<div id="header">
  <div class="title"><img src="/i/browserid_logo_lil.png"></div><div class="subtitle">A better way to log in.</div>
</div>

<div id="dialog" class="dialog">
</div>

<div id="bottom-bar">
</div>
