  <div class="content">
    <div class="summary">BrowserID makes logging in <b>safer and easier</b>.  To begin, please provide an email address and pick a password:</div>
    <div class="input">
      <div class="label"> Email </div>
      <div class="input"> <input id="email_input" type="text"></input></div>
      <div class="note"></div>
    </div>
    <div class="input">
      <div class="label"> Password </div>
      <div class="input"> <input id="password_input" type="password"></input></div>
    </div>
    <div class="input">
      <div class="label"> Verify </div>
      <div class="input"> <input id="password_verify_input" type="password"></input></div>
      <div class="note"><span class="bad">Enter a password</span></div>
    </div>
    <div class="attention_lame" style="display:none;">
      <span id="in_use_email">Email</span> in use, If this email is yours you can <a href="#">sign in</a> with it?
    </div>
  </div>
