@media screen and (max-width: 640px) {

  #wrapper {
      min-width: 320px;
      width: 100%;
      margin: 0 auto;
  }

  header, footer {
    padding: 5px 20px;
  }

  header ul li:nth-child(2) {
      display: none;
  }

  button {
    height: 40px;
    font-size: 18px;
  }

  input[type=email],
  input[type=password] {
    font-size: 17px;
  }

  section {
    position: static;
    overflow: visible;
  }

  .inputs > li > label {
    font-size: 18px;
  }

  .vertical > strong {
    font-size: 20px;
  }

  #signIn,
  #favicon {
      display: block;
      width: 100%;
      position: relative;
      padding: 10px;
  }

  #signIn {
      max-width: none;
      padding: 10px;
  }

  #signIn .table {
      width: 100%;
      margin: 0;
  }

  #signIn form {
      padding: 0;
  }

  #favicon {
      border-bottom: 1px solid rgba(0,0,0,0.05);
      background-image: url('/i/bg.png');
      text-align: center;
      left: 0;
  }

  #favicon img {
      width: 32px;
      height: auto;
      display: inline;
      margin: 0;
      vertical-align: middle;
  }

  #formWrap {
      background-color: transparent;
  }

  .error #formWrap, .waiting #formWrap {
      display: none;
  }

  .arrow {
      display: none;
  }

  #checkemail p {
      height: 250px;
  }

  #signIn .vertical {
    padding-bottom: 0;
  }

  #signIn .vertical ul li {
    margin-top: 20px;
  }

  #signIn .submit > p {
    font-size: 14px;
  }

  #content, .pickemail .form_section, .pickemail .inputs, .vertical {
    height: auto;
    overflow: visible;
  }

  #wait .vertical {
      height: 250px;
  }

  #error .vertical {
    width: auto;
  }
  #error .vertical > div {
    display: block;
    height: auto;
    padding: 10px;
  }

  #error #borderbox {
    border-left: none;
    padding: 0;
  }



