
* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
    background-image: url('/i/bg.png');
}


.sans {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.serif {
    font-family: 'Droid Serif', Georgia, serif;
}

.mono {
    font-family: 'Monaco', monospace;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p:last-child {
    margin-bottom: 0 !important;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

hr {
    height: 1px;
    border: none;
    background-color: #eee;
    width: 700px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    text-shadow: 1px 1px 0 rgba(255, 255, 255,0.5);
}

h2 {
    margin-bottom: 20px;
    font-size: 150%;
    color: #222;
    font-weight: bold;
}


.right {
    text-align: right;
}

#wrapper {
    min-width: 640px;
    position: relative;
}


.table {
    display: table;
    width: 100%;
}

.vertical {
    height: 250px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#content {
    position: relative;
    height: 250px;
    overflow: hidden;
}

section {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

section > .contents {
    display: table-cell;
    vertical-align: middle;
    height: 250px;
}

#wait, #error {
    text-align: center;
}

#wait {
    z-index: 1;
    background-image: url("/i/bg.png");
}

#error {
    display: none;
    z-index: 2;
    background-color: #fff;
}

#wait strong, #error strong {
    color: #222;
    font-weight: bold;
}


#error .vertical {
    width: 630px;
    margin: 0 auto;
    display: block;
}


#error .vertical > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    height: 250px;
}

#error #alternative a {
    color: #549FDC;
    text-decoration: underline;
}

#error #borderbox {
    border-left: 1px solid #777;
    padding: 20px 0;
}

#error #borderbox img {
    border: none;
}

#error #alternative .lighter {
    color: #777;
}


#formWrap {
    background-color: #fff;
    background-image: none;
    display: block;
}

#signIn {
    background-image: url('/i/bg.png');
    position: absolute;
    left: 0;
    top: 0;
}

#signIn .table {
    width: 325px;
    margin-right: 40px;
}

#signOut {
  display: none;
  margin-right: 10px;
}

.authenticated #signOut {
  cursor: pointer;
  display: inline;
}

.arrow {
    width: 40px;
    height: 250px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    background-image: url('/i/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

#favicon {
    position: absolute;
    left: 450px;
    top: 0;
    z-index: 10;
}

#favicon strong {
    font-size: 1.5em;
}

#favicon img {
    display: block;
    margin: 0 auto 10px;
}

#signIn .vertical {
    padding: 15px 20px 20px 20px;
}

#signIn .vertical ul {
  list-style-type: none;
  position: relative;
}

#signIn .vertical ul li {
  margin-top: 10px;
}

#signIn .vertical ul li:first-child {
  margin-top: 0;
}

#signIn .submit {
    margin-top: 10px;
    line-height: 28px;
}

#signIn .submit > p {
  line-height: 13px;
  clear: right;
  text-align: center;
}

#signIn .remember {
    display: inline-block;
    line-height: 28px;
}

#signIn .remember .checkAlign {
    float: left;
}

#signIn .remember label {
    margin-left: 5px;
    float: left;
}

#signIn label.half,
.half {
    width: 50%;
    display: inline-block;
    float: left;
}

#forgotPassword {
    color: #888784;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 11px;
}

#signIn button.create {
    font-size: 14px;
    height: 28px;
    padding: 0 10px;
    float: right;
}

label {
    display: block;
    color: #62615F;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

.inputs > li > label {
    cursor: pointer;
    color: #333;
}

.inputs > li:only-child > label {
    cursor: default;
}

input[type=email],
input[type=password] {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border-width: 1px;
    border-style: solid; 
    border-color: #A3A29D #C6C3B4 #C6C3B4 #A3A29D; 
    outline: none;
    
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
    
    -webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
       -moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
         -o-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
            box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

input[type=email]:focus,
input[type=password]:focus {
    border: 1px solid #549FDC;
    
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
    
    -webkit-box-shadow: 0 0 0 1px #549FDC inset;
       -moz-box-shadow: 0 0 0 1px #549FDC inset;
         -o-box-shadow: 0 0 0 1px #549FDC inset;
            box-shadow: 0 0 0 1px #549FDC inset;
}

button {
    font-size: 14px;
    height: 28px;
    padding: 0 10px;
    float: right;
    background-color: #37A6FF;
    vertical-align: middle;
    border: 1px solid #37A6FF;
    font-family: 'Droid Serif', Georgia, serif;
    color: #fff;
    text-shadow: -1px -1px 0 #37A6FF;
    text-transform: lowercase;
    cursor: pointer;
    
    -webkit-box-shadow: 0 0 0 1px #76C2FF inset;
       -moz-box-shadow: 0 0 0 1px #76C2FF inset;
         -o-box-shadow: 0 0 0 1px #76C2FF inset;
            box-shadow: 0 0 0 1px #76C2FF inset;
    
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    
    background-image: -moz-linear-gradient(center top , #76C2FF 0pt, #37A6FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76C2FF), color-stop(100%, #37A6FF));
}

button[disabled=disabled] {
    opacity: .5;
}


button:active {
    background-color: #006EC6;
    border: 1px solid #003E70;
    color: #EEEEEE;
    text-shadow: -1px -1px 0 #006EC6;
    
    -webkit-box-shadow: 0 0 5px #003763 inset;
       -moz-box-shadow: 0 0 5px #003763 inset;
         -o-box-shadow: 0 0 5px #003763 inset;
            box-shadow: 0 0 5px #003763 inset;
    
    background-image: -moz-linear-gradient(center top , #3AA7FF 0%, #006EC6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3AA7FF), color-stop(100%, #006EC6));
}

.learn {
    display: inline-block;
    font-size: 12px;
    color: #62615F;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

footer .learn a {
    color: #549FDC;
}

.checkregistration p {
    color: #62615F;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

    /*
#favicon {
    text-align: center;
    max-width: 940px;
}
*/
header {
    padding: 20px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    
    -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1) inset;
         -o-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1) inset;
}

header ul {
    display: block;
    float: left;
}

header ul.nav {
    float: right;
}

header ul li {
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    color: #222;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

header ul.nav li {
    margin: 0 0 0 10px;
}

header a {
    color: #222;
}

header a.home {
    width: 80px;
    height: 21px;
    background-image: url('/i/icon.png');
    display: block;
    background-position: left 4px;
    background-repeat: no-repeat;
}

header a.signIn {
    background-color: rgba(0,0,0,0.1);
    padding: 4px 8px;
    
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

header a.signIn:hover {
    background-color: rgba(0,0,0,0.25);
    text-decoration: none;
}

header,
footer {
    display: block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer {
    padding: 20px;
    color: #aaa;   
}

footer ul {
    display: inline-block;
    float: left;
    display: none;
}

footer ul li {
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}

footer a {
    color: #aaa;
}

footer .help {
    float: right;
    color: #62615F;
    cursor: help;
}

/* for floats */
.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .cf {
	display: block;
}

* html .cf {
	height: 1%;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #000;
  background: rgba(0,0,0,.7);
  color: #fff;
  border-radius: 5px;
  padding: 2px 15px;
  border: 2px solid #000;
  font-weight: bold;
  display: none;
  max-width: 275px;
  z-index: 5;
}

.inputs {
    margin: 1em 0 .5em;
    padding: 0 1em;
    line-height: 18px;
    min-height: 110px;
}

.pickemail .inputs {
    height: 110px;
    min-height: 0;
    overflow-y: auto;
}

.pickemail .form_section {
    height: 176px;
}

.add {
    font-size: 80%;
}

.inputs > li:only-child input[type=radio] {
    display: none;
}

#thisIsNotMe {
  margin-right: 10px;
}

#addEmail {
    display: none;
}

.submit > button {
    margin: 0 5px 15px 0;
}

#newEmail {
    -moz-box-flex: 1;
}

.newuser,
.forgot,
.returning {
    display: none;
}

#create_text_section {
    color: #222;
}

#checkemail {
    text-align: center;
}

