<div id="content">
    <div id="about">

        <div class="video">
          <div class="description">
            <b>BrowserID</b> is an <b>easier</b> way to sign into websites.  Sign in with
            a <b>single click</b> without per-site passwords.
          </div>
        </div>

        <div class="row one cf">
            <img src="/i/tutorial_1.png">
            <div>
                <p><span class="steps"></span> On your favorite website that supports BrowserID, Click the &lsquo;Sign In&rsquo; button.</p>
            </div>
        </div>

        <hr>

        <div class="row two cf">
            <img src="/i/tutorial_2.png">
            <div>
                <p><span class="steps"></span> Select your preferred Email.</p>
            </div>

        </div>

        <hr>

        <div class="row three cf">
            <img src="/i/tutorial_3.png">
            <div>
                <p><span class="steps"></span> No passwords necessary, you're done!</p>
            </div>
        </div>
    </div>
</div>

