<div id="content">
    <div id="about">

        <div class="video">
            <!-- <iframe width="700" height="300" src="https://www.youtube.com/embed/l0t9yDLAmFo" frameborder="0" allowfullscreen></iframe> -->
            <img src="http://placehold.it/700x300/eee/ccc">
        </div>

        <div class="row cf">
            <h2>Sign In. Simply.</h2>
            <a href="/signin" class="button create signIn">sign in</a> <!-- XXX: remove this button if user is signed in -->
        </div>
        <div class="row one cf">
            <img src="http://placehold.it/200x140/eee/ccc">
            <div>
                <p><span class="steps"></span> Click the <em>BrowserID</em> &lsquo;Sign In&rsquo; button.</p>
            </div>
        </div>

        <hr>

        <div class="row two cf">
            <img src="http://placehold.it/200x140/eee/ccc">
            <div>
                <p><span class="steps"></span> Select your preferred Email.</p>
            </div>

        </div>

        <hr>

        <div class="row three cf">
                <img src="http://placehold.it/200x140/eee/ccc">
            <div>
                <p><span class="steps"></span> No passwords necessary, you're done!</p>
            </div>
        </div>
    </div>

</div>

