  <script src="js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
    <div class="why">
      <p>
        BrowserID provides a <strong>simple</strong> and <strong>sophisticated</strong>
        sign-in process that your <strong>users will love</strong>.  It can be
        integrated in three easy steps:
      </p>
    </div>
    <ol id="steps">
      <li class="step">
        <div class="number">1.</div>
        <h3>Enable BrowserID:</h3>
        Include the BrowserID JavaScript library in your site by adding a script tag to your <tt>&lt;head&gt;</tt>

        <pre><code>&lt;script src="https://browserid.org/include.js" type="text/javascript"&gt;&lt;/script&gt;</code></pre>
      </li>
      <li class="step">
        <div class="number">2.</div>
        <h3>Identify the User:</h3>
        Instead of displaying a form on your
          site which takes a username and password, use the BrowserID
          JavaScript API when the user clicks your sign-in button:
<pre><code class="javascript">navigator.id.getVerifiedEmail(function(assertion) {
    if (assertion) {
        // This code will be invoked once the user has successfully
        // selected an email address they control to sign in with.
    } else {
        // something went wrong!  the user isn't logged in.
    }
});
</code></pre>
        <p>
          Upon a successful sign-in, you'll be called back with
          an <i>assertion</i>, a string containing a signed claim that proves
          the user is who they say they are.
        </p>
        <p>
          <strong>NOTE:</strong> While completely optional, you might consider
          replacing your sign-in button with a pretty BrowserID button:

          <div class="buttonbox">
            <div><img src="i/sign_in_red.png"></div>
            <div><img src="i/sign_in_blue.png"></div>
            <div><img src="i/sign_in_orange.png"></div>
            <div><img src="i/sign_in_green.png"></div>
            <div><img src="i/sign_in_grey.png"></div>
          </div>
        </p>
      </li>
      <li class="step">
        <div class="number">3.</div>
        <h3>Verify the User's Identity:</h3> 
          You must verify the <i>assertion</i>
          is authentic, and extract the user's email address from it.
          The easiest way to do these is to use the
          free verification service provided by BrowserID.
        <p>
          To use it, you send a request
          to <tt>https://browserid.org/verify</tt> with two POST parameters:
        </p>
        <ol>
          <li> <tt>assertion</tt>: The encoded assertion
          <li> <tt>audience</tt>: The hostname and optional port of your site
        </ol>
        <p>
          The verifier will check the the assertion was meant for your site and
          is valid, here's an example:
        </p>
        <pre><code>$ curl -d "assertion=&lt;ASSERTION&gt;&audience=mysite.com" "https://browserid.org/verify"
{
    "status": "okay",
    "email": "lloyd@mozilla.com",
    "audience": "mysite.com",
    "valid-until": 1308859352261,
    "issuer": "browserid.org:443"
}
</pre></code>
        </p>
        <p>
          <strong>NOTE:</strong> You may choose to validate assertions on your own
          server.  While a bit more complicated you can reduce your
          dependencies on others.  Refer
          to <a href="https://wiki.mozilla.org/Identity/Verified_Email_Protocol">the
          specification</a> and the <a href="https://github.com/mozilla/browserid/tree/master/verifier">source for the reference
          validator</a>.
        </p>
      </li>
      <li class="step">
        <h3>Complete the sign in!</h3>
        Having completed the steps
          above, you can trust that the present user really owns the
          email address returned by the verifier.  You don't need to
          perform any additional authentication unless you want to!
          From here, you can perform whatever post-authentication steps
          you like.
      </li>
    </ol>
    <div class="why">
      <p>
        You're done!  <strong>Welcome to BrowserID!</strong>  For more details, have a look at
        our <a href="http://myfavoritebeer.org/">demonstration</a>, and view
        <a href="https://github.com/lloyd/myfavoritebeer.org/">the code</a> behind it.
      </p>
    </div>
