    <section id="formWrap">
      <form novalidate> 
        <div id="favicon">
            <div class="vertical">
                <strong id="sitename"></strong>
            </div>
        </div>

        <div id="signIn">
            <div class="arrow"></div>
            <div class="table">
                <div class="vertical contents">
                </div>
            </div>
        </div>
      </form>
    </section>


    <section id="wait">
        <div class="table">
            <div class="vertical contents">
                <h2>Communicating with server</h2>
                <p>Just a moment while we talk with the server.</p>
            </div>
        </div>
    </section>


    <section id="error">
        <div class="table">
            <div class="vertical contents">
            </div>
        </div>
    </section>
