<!doctype html>
<html>
<head>
	<head>
		<title>Browser ID</title>
		<script type='text/javascript' src='steal/steal<%= production ? ".production" : "" %>.js?dialog'></script>
        <!--[if lt IE 9]>
        <script src="/dialog/html5shim.js"></script>
        <![endif]-->
        <script>
            $(function() {
                $('body').dialog().show();
            });
        </script>
	</head>
    <body>
	</body>
</html>
