<!doctype html>
<html>
<head>
  <!--[if lt IE 9]>
    <script src="/js/html5shim.js"></script>
  <![endif]-->
  <title>Browser ID</title>
</head>
  <body>
	</body>
</html>
<script type='text/javascript' src='/vepbundle'></script>
<script type='text/javascript' src='steal/steal<%= production ? ".production" : "" %>.js?dialog'></script>
