<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">  
  <!--[if lt IE 9]>
    <script src="/js/html5shim.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <title>Browser ID</title>
</head>
  <body class="standardbg">
	</body>
</html>
<script type='text/javascript' src='/vepbundle'></script>
<script type='text/javascript' src='steal/steal<%= production ? ".production" : "" %>.js?dialog'></script>
