    <div id="content" style="display:none;">
        <div id="manage">
            <h1 class="serif">Account Manager</h1>
            <div class="edit cf">
                <strong>Your Accounts</strong>

                <a id="manageAccounts" href="javascript:void(0);">edit</a>
                <a id="cancelManage" href="javascript:void(0);">done</a>
            </div>
            <ul id="emailList">
                <li class="cf">
                    <div class="email">me@andychung.ca</div>
                    <div class="activity cf">
                        <button class="delete">remove</button>
                        <span class="status">Last login at 15:55:57, 6/2/2011</span>
                    </div>
                </li>
                <li class="cf">
                    <div class="email">animalyouth@gmail.com</div>
                    <div class="activity cf">
                        <button class="delete">remove</button>
                        <span class="status">Last login at 8:34:31, 6/1/2011</span>
                    </div>
                </li>
            </ul>
            <!-- <div id="disclaimer">You may, at any time, <a href="#">cancel your account</a></div> -->
        </div>
    </div>

    <div id="vAlign">
        <div id="signUp">
            <div id="card"><img src="/i/slit.png"></div>
            <div id="hint"></div>
            <div id="status"></div>

            <p>Connect with <em>BrowserID</em>, the safest &amp; easiest way to sign in.</p>
            <p><a class="granted info" href="/about">Take the tour</a> or <button class="granted create">sign up</button></p>
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function () {
    $('.granted').hover(function() {
        $('#card').toggleClass('insert');
        $('#status').delay(400).toggleClass('green');
    });

    $('.create').hover(function() {
        $('#hint').addClass('signUp').removeClass('info');
    }).click(function () {
        document.location = '/signup';
    });

    $('.info').hover(function() {
        $('#hint').removeClass('signUp').addClass('info');
    });
});
</script>
