    <div class="why">
      <img style="float: right;" src="i/people.png">
      <p>For <b>users</b>, BrowserID provides a <b>safer and easier</b> way to log in.  <a href="/users">How it works.</a></p>
    </div>
    <div class="why">
      <img style="float: left;" src="i/developers.png">
      <p>For <b>developers</b>, BrowserID offers a world class login experience with only a couple lines of code. <a href="developers">Get Started.</a></p>
    </div>
    <div class="why">
      <img style="float: right;" src="i/id.png">
      <p>For <b>identity providers</b>, BrowserID lets your give your users an identity they can <b>use everywhere</b>. <a href="primaries">Dig Deeper.</a> </p>
    </div>
