<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <!--[if lt IE 9]>
    <script src="/js/html5shim.js"></script>
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <script src="/vepbundle" type="text/javascript"></script>
  <% if (production) { %>
    <link rel="stylesheet" type="text/css" href="/css/browserid.min.css">
    <script src="/js/lib.min.js" type="text/javascript"></script>
  <% } else { %>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/m.css" type="text/css" media="screen">

    <script src="/js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="/js/json2.js" type="text/javascript"></script>
    <script src="/dialog/resources/underscore-min.js" type="text/javascript"></script>
    <script src="/dialog/resources/browserid-extensions.js" type="text/javascript"></script>
    <script src="/js/browserid.js" type="text/javascript"></script>
    <script src="/js/pages/index.js" type="text/javascript"></script>
    <script src="/dialog/resources/storage.js" type="text/javascript"></script>
    <script src="/dialog/resources/network.js" type="text/javascript"></script>
    <script src="/dialog/resources/user.js" type="text/javascript"></script>
    <script src="/dialog/resources/tooltip.js" type="text/javascript"></script>
    <script src="/dialog/resources/validation.js" type="text/javascript"></script>
    <script src="/js/pages/add_email_address.js" type="text/javascript"></script>
    <script src="/js/pages/verify_email_address.js" type="text/javascript"></script>
    <script src="/js/pages/forgot.js" type="text/javascript"></script>
    <script src="/js/pages/manage_account.js" type="text/javascript"></script>
    <script src="/js/pages/signin.js" type="text/javascript"></script>
    <script src="/js/pages/signup.js" type="text/javascript"></script>
  <% } %>
  <title><%- title %></title>
</head>
<body>

<div id="wrapper">

    <header id="header">
        <ul class="cf">
            <li><a class="home" href="/"></a></li>
        </ul>
        <ul class="nav cf">
            <li><a href="/about">How it works</a></li>
            <li><a href="https://github.com/mozilla/browserid/wiki/How-to-Use-BrowserID-on-Your-Site" target="_blank">Developers</a></li>

            <li class="signIn"><a class="signIn" href="/signin">Sign In</a></li>
            <li class="signOut"><a class="signOut" href="/">Sign Out</a></li>
        </ul>
    </header>

    <%- body %>

    <footer id="footer">
        <ul class="cf">
            <li>By the <a href="http://identity.mozilla.com" target="_blank">Identity Team</a> @ <a href="http://mozillalabs.com" target="_blank">Mozilla Labs</a></li>
            <li>&mdash;</li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/tos">TOS</a></li>
            <!--<li>Copyright © 2011 Mozilla.  All rights reserved</li>-->
        </ul>
    </footer>

</div>

<script type="text/html" id="templateTooltip">
  <div class="tooltip">
    {{ contents }}
  </div>
</script>

</body>
</html>
