    <div class="why">
      <p>
        Manage your email addresses in BrowserID.
      </p>
    </div>
    <div id="emailList">
    </div>
    <div id="cancelaccount">
      You may, at any time, <a href="#" id="cancellink">cancel your account</a>.
    </div>
