    <div class="why">
      <p>
        This page is dedicated to the <b>Identity Providers</b>.
        These are dudes like Yahoo!, Google, Twitter, Facebook, and
        even github.  If someone new wants to join they party, hey,
        they <a href="http://www.mozilla.org/about/manifesto">should
        be able to</a>.
      </p>
      <p>
        But there's a catch.  This page hasn't been written yet!  No no, don't
        get frustrated, just go write something and
        then <a href="https://github.com/mozilla/browserid/blob/master/authority/static/primaries.html">contribute
        it on github</a>.
      </p>
      <br><br><br>
    </div>
