    <div class="why">
      <p>
        This page is dedicated to the <b>Identity Providers</b> who certify users' email addresses without requiring a mailback. These are dudes like Yahoo!, Google, Twitter, Facebook, and
        even github.  If someone new wants to join they party, hey,
        they <a href="http://www.mozilla.org/about/manifesto">should
        be able to</a>.
      </p>
      <p>
      We'll have more information on this in the near future.
      </p>
      <br><br><br>
    </div>
