<div id="content">
    <div class="why">
      <p>
        Email Verification
      </p>
    </div>
    <div class="status">
      One moment while we attempt to confirm your email address...
    </div>
</div>
<script>
function getParameterByName( name )
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if( results == null )
    return "";
  else
    return decodeURIComponent(results[1].replace(/\+/g, " "));
}

function success() {
  $("div.status").text("Address confirmed!");
  $("body").delay(1000).fadeOut(1500, function() {
    // if the close didn't work, then let's redirect the the main page where they'll
    // get to see the ids that they've created.
    document.location = '/';
  });
}

function failure(why) {
  $("div.status").text("Error encountered while attempting to confirm your address.  please try again.  (error message: " + why + ")");
}

$(document).ready(function() {
    $.ajax({
      url: '/wsapi/prove_email_ownership?token=' + getParameterByName('token'),
      success: function(status, textStatus, jqXHR) {
        var obj = JSON.parse(status);
        if (obj) {
          success();
        } else {
          failure("unknown");
        }
      },
      error: function() {
        failure("Error Communicating With Server!");
      }
    });
});

</script>
