<!doctype html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>Browser ID</title>
</head>
  <body>
      Relay iframe.  Woohoo!
      <% if (production) { %>
        <script type='text/javascript' 
          src='https://browserid.org/relay/production.js'></script>

      <% } else { %>
        <script type='text/javascript' 
          src='https://browserid.org/dialog/resources/jschannel.js'></script>
        <script type='text/javascript' 
          src='https://browserid.org/relay/relay.js'></script>
      <% } %>
	</body>
</html>
