<!doctype html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>Browser ID</title>
</head>
  <body>
      Relay iframe.  Woohoo!
      <script type='text/javascript' src='https://browserid.org/steal/steal<%= production ? ".production" : "" %>.js?relay'></script>
	</body>
</html>
