<!doctype html>
<html>
<head>
	<head>
		<title>Browser ID</title>
      <script type='text/javascript' src='steal/steal<%= production ? ".production" : "" %>.js?dialog'></script>
      <script type="text/javascript">
        var ipServer = "https://browserid.org";

        var chan = Channel.build( {
          window: window.parent,
          origin: "*",
          scope: "mozid"
        } );

        var transaction;

        chan.bind("getVerifiedEmail", function(trans, s) {
          trans.delayReturn(true);

          transaction = trans;
        });

        function browserid_relay(status, error) {
            console.log("relay being called");
            if(error) {
              errorOut(transaction, error);
            }
            else {
              transaction.complete(status);
            }
        }
    </script>
	</head>
    <body>
      Relay iframe.  Woohoo!
	</body>
</html>
