<!doctype html>
<html>
<head>
	<head>
		<title>Browser ID</title>
	</head>
    <body>
      Relay iframe.  Woohoo!
	</body>
  <script type='text/javascript' src='steal/steal<%= production ? ".production"
  : "" %>.js?relay'></script>
</html>
