<div id="vAlign">   
    <div id="signUpFormWrap">
        <!-- XXX this form submits to nowhere -->
        <form id="signUpForm" class="cf authform">
            <h1 class="serif">Create Account</h1>

            <div id="forminputs">
                <ul class="inputs">
                    <li>
                        <label class="serif" for="email">Email Address</label>
                        <input class="sans" id="email" autofocus required placeholder="Your Email" type="email" x-moz-errormessage="Please enter the email address you would like to use">
                    </li>
                </ul>

                <div class="submit cf">
                    <div class="remember cf">
                        <a class="signUpIn" href="/signin">Existing account? Sign in.</a>
                    </div>
                    <input type="submit" class="create" value="Verify Email"/>
                </div>

                <ul class="notifications">
                    <li class="notification error doh">Doh! Something went wrong :-( </li>
                    <li class="notification alreadyRegistered"><strong id="registeredEmail"></strong> is already registered. Would you like to <a class="signUpIn" href="/signin">sign in</a> instead?</li>
                    <li class="notification emailsent">A confirmation email has been sent to you at <strong id="sentToEmail"></strong>. Check it!</li>
                </ul>

            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
  var ANIMATION_SPEED = 250;

  function replaceWithMessage(selector) {
      $('#forminputs').fadeOut(ANIMATION_SPEED, function() {
        $(selector).fadeIn(ANIMATION_SPEED);
      });
  }

  function showNotice(selector) {
    $(selector).fadeIn(ANIMATION_SPEED);
  }

  function onFailure() {
    replaceWithMessage(".doh");
  }


  $(function () {
    var identities = BrowserIDIdentities;

    $("form input[autofocus]").focus();

    $("#email").bind("keyup", function(event) {
      if (event.which !== 13) {
        $(".notification").fadeOut(ANIMATION_SPEED);
      }
    });

    $("#signUpForm").bind("submit", function(event) {
      event.preventDefault();

      var email = $("#email").val();
      identities.emailRegistered(email, function(registered) {
        if (!registered) {
          identities.createUser(email, function onSuccess(keypair) {
            $('#sentToEmail').html(email);
            replaceWithMessage(".emailsent");
          }, onFailure);
        }
        else {
          $('#registeredEmail').html(email);
          showNotice(".alreadyRegistered");
        }
      }, onFailure);
    });

  });
</script>
