<div id="vAlign">   
    <div id="signUpFormWrap">
        <!-- XXX this form submits to nowhere -->
        <form id="signUpForm" class="cf authform" novalidate>
            <h1 class="serif">Create Account</h1>

            <ul class="notifications">
                <li class="notification error doh">Doh! Something went wrong :-( </li>
                <li class="notification alreadyRegistered"><strong id="registeredEmail"></strong> is already registered. Would you like to <a class="signUpIn" href="/signin">sign in</a> instead?</li>
                <li class="notification emailsent">A confirmation email has been sent to you at <strong id="sentToEmail"></strong>. Check it!</li>
            </ul>

            <ul class="inputs forminputs">
                <li>
                    <label class="serif" for="email">Email Address</label>
                    <input class="sans" id="email" autofocus placeholder="Your Email" type="email" />

                    <div id="email_format" class="tooltip" for="email">
                      This field must be an email address.
                    </div>

                    <div id="email_required" class="tooltip" for="email">
                      The email field is required.
                    </div>
                </li>
            </ul>

            <div class="submit cf forminputs">
                <div class="remember cf">
                    <a class="signUpIn" href="/signin">Existing account? Sign in.</a>
                </div>
                <input type="submit" class="create" value="Verify Email"/>
            </div>

        </form>
    </div>
</div>

