  <section id="error" style="display: block">
      <div class="table">
          <div class="vertical contents">
              <div id="reason">
                We're sorry, but currently your browser isn't supported.
              </div>

              <div id="alternative">

                <div id="borderbox">
                  <a href="http://getfirefox.com" target="_blank">
                    <img src="/i/firefox_logo.png" width="250" height="88" alt="Firefox logo" />
                  </a>

                  <p>
                    BrowserID works with <a href="http://getfirefox.com" target="_blank" title="Get Firefox">Firefox</a>
                  </p>

                  <p class="lighter">
                    and other <a href="http://whatbrowser.org" target="_blank">modern browsers.</a>
                  </p>
                </div>

              </div>

          </div>
      </div>
  </section>
