    <div class="why">
      <p>
        This page is dedicated to the <b>Users</b>.  They matter <b>a
        lot</b>.  This page hasn't been written yet, but rather than
        getting frustrated that the content doesn't exist, you should
        go write it,
        then <a href="https://github.com/mozilla/browserid/blob/master/browserid/static/users.html">contribute
        it on github</a>.
      </p>
    </div>
