<div id="content">
    <div class="why">
      <p>
        Email Verification
      </p>
    </div>
    <div class="status">
      One moment while we attempt to confirm your email address...
    </div>
</div>
