<noscript>
  <!-- IE8 has a rendering bug with noscript tags, content must be placed
       inside of another element to be styled -->
  <p id="noscript-warning">
    <%- gettext('We\'re sorry, Persona requires that Javascript is enabled.') %>
  </p>
</noscript>


