/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/21px 'Open Sans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  overflow-y: auto;
  background-color: #6a7b86;
  background-image: url("/pages/i/marketplace-header.png"), url("/common/i/grain.png");
  background-position: center top, center top;
  background-repeat: repeat-x, repeat;
  color: #fff;
}


/* for floats */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .cf {
  display: block;
}

* html .cf {
  height: 1%;
}


ul, li {
  list-style-type: none;
}

a {
  color: #348fd0;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

a:hover {
  color: #000;
}


footer ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}
