/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media screen and (max-width: 640px) {

  #wrapper {
      min-width: 320px;
      width: 100%;
      margin: 0 auto;
  }

  header, footer {
    padding: 5px 20px;
  }

  header ul li:nth-child(2) {
      display: none;
  }

  button {
    height: 40px;
    font-size: 18px;
  }

  input[type=email],
  input[type=password] {
    font-size: 17px;
  }

  section {
    position: static;
    overflow: visible;
  }

  .inputs > li > label {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .vertical > strong {
    font-size: 20px;
  }

  #signIn,
  #favicon {
      display: block;
      width: 100%;
      position: relative;
      padding: 10px;
  }

  #signIn {
      max-width: none;
      padding: 10px;
  }

  #signIn .table {
      width: 100%;
      margin: 0;
  }

  #signIn form {
      padding: 0;
  }

  #favicon {
      border-bottom: 1px solid rgba(0,0,0,0.05);
      background-image: url('/i/bg.png');
      text-align: center;
      left: 0;
  }

  #favicon img {
      width: 32px;
      height: auto;
      display: inline;
      margin: 0;
      vertical-align: middle;
  }

  #favicon .vertical {
      height: auto;
      line-height: 20px;
  }

  #formWrap {
      background-color: transparent;
  }

  .error #formWrap, .error #wait, .waiting #formWrap {
      display: none;
  }

  .arrow {
      display: none;
  }

  #checkemail p {
      height: 250px;
  }

  #signIn .vertical {
    padding-bottom: 0;
  }

  #signIn .vertical ul li {
    margin-top: 20px;
  }

  #signIn .submit {
    position: static;
    line-height: 40px;
    margin-top: 40px;
  }

  #signIn .submit > p {
    font-size: 14px;
  }

  label[for=remember] {
    display: block;
    font-size: 15px;
    margin: 13px;
  }

  .form_section {
    margin-top: 20px;
  }

  #content, .form_section, .inputs, .vertical {
    height: auto;
    max-height: none;
    overflow: visible;
  }

  .authenticated .vertical a, #cancel {
    font-size: 1.2em;
  }

  #useNewEmail {
    margin-top: 18px;
  }

  #error {
    position: static;
  }

  #error .vertical, #wait .vertical {
      height: 250px;
  }

  #error .vertical {
    width: auto;
  }

  #error .vertical > div {
    display: block;
    height: auto;
    padding: 10px;
  }

