/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* If the max-width changes, the size given in screen_size_hacks.js must be
 * updated as well.
 */
@media screen and (max-width: 640px) {

  html, body {
    height: auto;
    -webkit-text-size-adjust: none;
  }

  /* Remove background image gradients set in style.css which cause
   * horizontal lines to appear while the dialog is loading.
   */
  body {
    /*background-image: url('/common/i/grain.png');*/
  }


  header, footer {
    position: static;
    padding: 5px 20px;
  }

  footer{
    padding: 10px 20px;
  }

  button {
    height: 40px;
    font-size: 18px;
  }

  input[type=email],
  input[type=password] {
    font-size: 17px;
  }

  section, .arrow, .arrowContainer {
    display: none;
  }

  .inputs > li > label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .vertical > strong {
    font-size: 20px;
  }

  #selectEmail {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    overflow-y: inherit;
    position: static;
    width: auto;
  }

  #signIn {
    top: auto;  /* this will be set in JS to be at the bottom of the header */
    right: 0;
    width: auto;
    padding: 0;
  }

  #favicon {
      overflow: inherit;
      display: block;
      width: 100%;
      /* Changed this from relative to static to fix issue #1309 - tooltips
       * being partially cut off by the site URL bar
       */
      position: static;
      padding: 10px;
      /*border-bottom: 1px solid rgba(0,0,0,0.05);*/
      text-align: center;
      left: 0;
  }

  #favicon img {
      max-width: 32px;
      max-height: 32px;
      display: inline;
      margin: 0 10px 0 0;
      vertical-align: middle;
  }

  #favicon h2, #favicon h3 {
      margin: 0 5px;
      height: auto;
      line-height: 32px;
      font-size: 20px;
      display: inline;
      vertical-align: middle;
  }

  #favicon h3 {
      font-size: 16px;
  }

  #favicon .vertical {
      height: auto;
      line-height: 32px;
      vertical-align: middle;
  }


  #signIn .table, #signIn .container {
      width: 100%;
  }

  #signIn .table{
    padding: 20px;
  }

  #signIn .vertical {
    position: static;
  }

  #signIn form {
      padding: 0;
  }

  #formWrap {
      background-color: transparent;
  }

  .form #formWrap, .waiting #wait, .delay #delay, #error #error {
      display: block;
  }

  .waiting #formWrap, .delay #formWrap, .error #formWrap, .delay #wait, .error #wait, .error #delay {
      display: none;
  }

  #selectEmail > .inputs > li > label {
    margin: 0;
    padding: 8px 0;
  }

  #signIn .submit > p {
    font-size: 14px;
    display: block;
    margin-top: 20px;
  }

  #signIn .submit > p:first-child {
    padding: 0;
    margin-top: 0;
  }

  #content {
    position: relative;
    top: 0;
    bottom: 0;
  }

  .form_section,
  .vertical {
    position: relative;
    height: auto;
    width: 100%;
    max-height: none;
    overflow: visible;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .submit #cancel, #signIn .submit #cancel {
    line-height: 40px; /* Match the height of the buttons on the right */
    font-size: 18px;
  }

  .submit #cancel.emphasize, #signIn .submit #cancel.emphasize {
    line-height: 22px; /* override the default cancel button height for
                          desktop or else the button looks huge */
  }

  #error .vertical {
    width: auto;
  }

  #error .vertical > div {
    display: block;
    height: auto;
    padding: 10px;
  }

  a.emphasize {
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
  }

  /* Since mobile devices are narrow, the buttons and their corresponding text
   * should stack one on top of the other, center both.
   */
  #your_computer_content li {
    margin: 15px 0;
    min-height: 40px;
    text-align: center;
  }

  #your_computer_content button {
    display: block;
    margin: 0 auto;
  }


  .inputs > li {
    margin-top: 12px;
  }

  /* The unsupported and cookies_disabled dialogs have to be position: static
   * or else their content is not displayed on mobile devices. See issue #1998
   */
  #error.unsupported, #error.cookies_disabled {
    position: static;
    height: 250px;
  }
}

