/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* If the max-width changes, the size given in screen_size_hacks.js must be
 * updated as well.
 */
@media screen and (max-width: 640px) {

  html, body {
    height: auto;
    -webkit-text-size-adjust: none;
  }

  /* Remove background image gradients set in style.css which cause
   * horizontal lines to appear while the dialog is loading.
   */
  body {
    background: #eff0f2 none;
  }


  header, footer, #favicon, .persona_intro {
    display: none;
  }

  button {
    height: 40px;
    font-size: 18px;
  }

  input[type=email],
  input[type=password] {
    font-size: 17px;
    padding: 11px 5px;
    border-radius: 5px;
  }

  section, .arrow, .arrowContainer {
    display: none;
  }

  h2 {
    font-size: 19px;
    margin: 20px 0 15px 0;
  }

  .inputs > li > label {
    font-size: 15px;
  }

  .vertical > strong {
    font-size: 20px;
  }

  #selectEmail {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    overflow-y: inherit;
    position: static;
    width: auto;
  }

  #signIn {
    top: 0;
    right: 0;
    width: auto;
    padding: 0;
  }

  #signIn .table, #signIn .container {
      width: 100%;
      display: block;
      /*
      height: 100%;
      */
  }

  #signIn .table{
    padding: 20px;
  }

  #signIn .vertical {
    display: block;
    vertical-align: top;
  }

  #signIn form {
      padding: 0;
  }

  #formWrap {
      background-color: transparent;
  }

  /**
   * XXX We may want to replace this with the "wait" screen to reduce
   * complexity.
   */
  #load, #wait {
    opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .85);
  }

  #load h2, #wait h2 {
    font-size: 15.5px;
    text-align: center;
  }

  .form #formWrap, .waiting #wait, .delay #delay, .error #error, .loading #load {
      display: block;
  }

  .waiting #formWrap, .delay #formWrap, .error #formWrap, .delay #wait, .error #wait, .error #delay {
      display: none;
  }

  #emailList {
    border-bottom: 1px dotted #cbcbcb;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  #emailList > li > label {
    margin: 0;
    padding: 8px 0;
  }

  #signIn .buttonrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #dcdcdc;
    border-top: 1px solid #bcbcbc;
    box-shadow: 0px 1px #fff inset;
  }

  #signIn .submit > p {
    font-size: 14px;
    display: block;
    margin-top: 20px;
  }

  #signIn .submit > p:first-child {
    padding: 0;
    margin-top: 0;
  }

  #content {
    position: relative;
    top: 0;
    bottom: 0;
  }

  .form_section,
  .vertical {
    position: absolute;
    width: 100%;
    max-height: none;
    overflow: visible;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
  }

  .form_section {
    font-size: 14px;
    padding: 0 20px;
  }

  .form_section p {
    margin-top: 0;
  }

  /*
   * The first p directly after the input should have a margin
   */
  .form_section .inputs + p {
    margin-top: 17px;
  }

  .buttonrow a {
    line-height: 40px; /* Match the height of the buttons on the right */
    font-size: 18px;
  }

  .submit #cancel.emphasize, #signIn .submit #cancel.emphasize {
    line-height: 22px; /* override the default cancel button height for
                          desktop or else the button looks huge */
  }

  #error .vertical {
    width: auto;
  }

  #error .vertical > div {
    display: block;
    height: auto;
    padding: 10px;
  }

  a.emphasize {
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
  }

  /* Since mobile devices are narrow, the buttons and their corresponding text
   * should stack one on top of the other, center both.
   */
  #your_computer_content li {
    margin: 15px 0;
    min-height: 40px;
    text-align: center;
  }

  #your_computer_content button {
    display: block;
    margin: 0 auto;
  }


  .inputs > li {
    margin-top: 12px;
  }

  /* The unsupported and cookies_disabled dialogs have to be position: static
   * or else their content is not displayed on mobile devices. See issue #1998
   */
  #error.unsupported, #error.cookies_disabled {
    position: static;
    height: 250px;
  }

  .tospp {
    font-size: 12px;
    line-height: 1.5;
    color: #323232;
  }

}

