@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/OpenSans-Italic.eot');
  src: local('Open Sans Italic'),
       local('OpenSans-Italic'),
       url('/fonts/OpenSans-Italic.eot') format('embedded-opentype'),
       url('/fonts/OpenSans-Italic.woff') format('woff'),
       url('/fonts/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/OpenSans-LightItalic.eot');
  src: local('Open Sans Light Italic'),
       local('OpenSans-LightItalic'),
       url('/fonts/OpenSans-LightItalic.eot') format('embedded-opentype'),
       url('/fonts/OpenSans-LightItalic.woff') format('woff'),
       url('/fonts/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenSans-Regular.eot');
  src: local('Open Sans'),
       local('OpenSans'),
       url('/fonts/OpenSans-Regular.eot') format('embedded-opentype'),
       url('/fonts/OpenSans-Regular.woff') format('woff'),
       url('/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'),
       local('OpenSans-Light'),
       url('/fonts/OpenSans-Light.eot') format('embedded-opentype'),
       url('/fonts/OpenSans-Light.woff') format('woff'),
       url('/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url('/fonts/OpenSans-Bold.eot') format('embedded-opentype'),
       url('/fonts/OpenSans-Bold.woff') format('woff'),
       url('/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/OpenSans-BoldItalic.eot');
  src: local('Open Sans Bold Italic'),
       local('OpenSans-BoldItalic'),
       url('/fonts/OpenSans-BoldItalic.eot') format('embedded-opentype'),
       url('/fonts/OpenSans-BoldItalic.woff') format('woff'),
       url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
}
