
* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
  background-image: url('/i/bg.png');
  overflow-y: scroll;
}

/* for floats */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .cf {
  display: block;
}

* html .cf {
  height: 1%;
}

.sans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.serif {
  font-family: 'Droid Serif', Georgia, serif;
}

.mono {
  font-family: 'Monaco', monospace;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #000;
  background: rgba(0,0,0,.7);
  color: #fff;
  border-radius: 5px;
  padding: 2px 15px;
  border: 2px solid #000;
  font-weight: bold;
  display: none;
  max-width: 275px;
  z-index: 5;
}


a {
  color: #222;
  text-decoration: none;
}

a:hover, button:hover, input[type=submit]:hover {
  text-decoration: underline;
}

p:last-child {
  margin-bottom: 0 !important;
}

button::-moz-focus-inner, .button::-moz-focus-inner {
  padding: 0;
  border: 0
}

hr {
  height: 1px;
  border: none;
  background-color: #eee;
  width: 700px;
}

.right {
  text-align: right;
}

#wrapper {
  width: 700px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#content {
  padding: 84px 0;
  display: none;
}

#about {
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 14px;
  line-height: 21px;
  color: #444;

  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  padding: 0 0 50px 0;
  background-color: #fff;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
       -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
       -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}

.video {
  margin: 0 0 25px 0;
  width: 700px;
  font-size: 2em;
  line-height: 1.3em;
  padding: 1em 2em 1em 2em;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.video img, .video iframe {
  display: block;
}

.row {
  margin: 0 0 25px 0;
  padding: 25px 50px 0 50px;
  position: relative;
}

.row:last-child {
  margin: 0;
}

.row h2 {
  font-size: 21px;
  font-weight: normal;
  color: #222;
  line-height: 32px;
  display: inline-block;
}

.row div {
  height: 140px;
  width: 500px;
  padding: 0 0 0 20px;
  display: table-cell;
  vertical-align: middle;
}

.row p {
  width: 380px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  float: left;
}

.row img {
  float: left;
}

.row button, .row .button {
  float: right;
  display: inline-block;
}

div.steps {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url('/i/count.png');
  float: left;
}

.one .steps {
  background-position: left 0;
}

.two .steps {
  background-position: left -24px;
}

.three .steps {
  background-position: left -48px;
}

#legal {
  padding: 75px 125px;
}

#manage {
  padding: 75px;
}

#legal, #manage {
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  background-color: #fff;
  text-align: justify;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
       -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

#legal p,
#legal h2,
#legal ul {
  padding: 0 0 21px 0;
}

#legal li {
  border-bottom: 1px solid #EEEEEE;
  margin: 7px 0 0;
  padding: 0 0 7px;
  list-style-type: square;
}

#legal li:last-child {
  border: none;
}

#legal h2 {
  font-size: 21px;
  color: #222;
}

#legal h3 {
  font-size: 18px;
  color: #222;
  padding: 49px 0 7px;
}

#legal h4 {
  font-size: 14px;
  margin: 14px 0 7px 0;
  color: #222;
}

#legal h5,
#legal strong {
  font-size: 12px;
  color: #666;
}

#legal p,
#legal ul {
  color: #666;
}

#legal h2,
#legal h3 {
  font-family: 'Droid Serif', Georgia, serif;
  font-weight: normal;
}

#manage .edit {
  margin: 72px 0 14px;
}

#manageAccounts,
#cancelManage {
  float: right;
  display: inline-block;
  text-align: center;
  line-height: 21px;
  font-weight: bold;
  width: 48px;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

#manageAccounts {
  background-color: #37A6FF;
  border: 1px solid #37A6FF;
  text-shadow: -1px -1px 0 #37A6FF;
  cursor: pointer;

  -webkit-box-shadow: 0 0 0 1px #76C2FF inset;
     -moz-box-shadow: 0 0 0 1px #76C2FF inset;
       -o-box-shadow: 0 0 0 1px #76C2FF inset;
          box-shadow: 0 0 0 1px #76C2FF inset;

  background-image: -moz-linear-gradient(#76C2FF 0pt, #37A6FF 100%);
  background-image: -o-linear-gradient(#76C2FF 0pt, #37A6FF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76C2FF), color-stop(100%, #37A6FF));
}

#cancelManage {
  display: none;
  background-color: #006EC6;
  border: 1px solid #003E70;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #006EC6;

  -webkit-box-shadow: 0 0 5px #003763 inset;
     -moz-box-shadow: 0 0 5px #003763 inset;
       -o-box-shadow: 0 0 5px #003763 inset;
          box-shadow: 0 0 5px #003763 inset;

  background-image: -moz-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -o-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3AA7FF), color-stop(100%, #006EC6));
}

#manage #emailList {
  list-style-type: none;
  margin: 0 0 72px 0;
  border-top: 1px solid #eee;
}

#emailList li {
  padding: 10px 0;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

#emailList .email,
#emailList .activity {
  display: inline-block;
  float: left;
  white-space: nowrap;
}

#emailList .email {
  width: 275px;
}

#emailList .activity {
  width: 275px;
  color: #aaa;
  text-align: right;
}

#emailList .activity button,
#emailList .activity abbr {
  float: right;
  display: inline-block;
}

#emailList .activity button {
  width: 60px;
  margin-left: 10px;
  margin-right: -70px;

  -webkit-transition: margin 0.4s ease;
     -moz-transition: margin 0.4s ease;
       -o-transition: margin 0.4s ease;
          transition: margin 0.4s ease;
}

#emailList.remove .activity button {
  margin-right: 0;
}

button.delete {
  background-color: #EA7676;
  height: 24px;
  vertical-align: middle;
  border: 1px solid #B13D3D;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  text-shadow: -1px -1px 0 #C84343;
  cursor: pointer;

  -webkit-box-shadow: 0 0 0 1px #EA7676 inset;
     -moz-box-shadow: 0 0 0 1px #EA7676 inset;
       -o-box-shadow: 0 0 0 1px #EA7676 inset;
          box-shadow: 0 0 0 1px #EA7676 inset;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;

  background-image: -moz-linear-gradient(#EA7676 0%, #C84343 100%);
  background-image: -o-linear-gradient(#EA7676 0%, #C84343 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EA7676), color-stop(100%, #C84343));
}

button.delete:active {
  background-color: #C84343;
  border: 1px solid #672424;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #AA3D3D;

  -webkit-box-shadow: 0 0 5px #003763 inset;
     -moz-box-shadow: 0 0 5px #003763 inset;
       -o-box-shadow: 0 0 5px #003763 inset;
          box-shadow: 0 0 5px #003763 inset;

  background-image: -moz-linear-gradient(center top , #C84343 0%, #AA3D3D 100%);
  background-image: -o-linear-gradient(#C84343 0%, #AA3D3D 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C84343), color-stop(100%, #AA3D3D));
}

#disclaimer {
  color: #888;
  text-align: right;
}

#disclaimer a {
  color: #549FDC;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

#vAlign {
  width: 700px;
  display: table-cell;
  vertical-align: middle;
}

#signUp {
  margin: 122px 0;
  width: 700px;
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 24px;
  line-height: 32px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  position: relative;
  padding: 0 0 0 250px;
}

#signUp .info {
  color: #549FDC;
  text-decoration: underline;
}

#signUp p {
  margin: 0 0 16px 0;
}

.create {
  background-color: #37A6FF;
  height: 32px;
  line-height: 27px;
  display: inline-block;
  padding: 0 16px;
  vertical-align: middle;
  border: 1px solid #37A6FF;
  font-size: 16px;
  font-family: 'Droid Serif', Georgia, serif;
  color: #fff;
  text-shadow: -1px -1px 0 #37A6FF;
  cursor: pointer;

  -webkit-box-shadow: 0 0 0 1px #76C2FF inset;
     -moz-box-shadow: 0 0 0 1px #76C2FF inset;
       -o-box-shadow: 0 0 0 1px #76C2FF inset;
          box-shadow: 0 0 0 1px #76C2FF inset;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;

  background-image: -moz-linear-gradient(#76C2FF 0pt, #37A6FF 100%);
  background-image: -o-linear-gradient(#76C2FF 0pt, #37A6FF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76C2FF), color-stop(100%, #37A6FF));
}

.create:active {
  background-color: #006EC6;
  border: 1px solid #003E70;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #006EC6;

  -webkit-box-shadow: 0 0 5px #003763 inset;
     -moz-box-shadow: 0 0 5px #003763 inset;
       -o-box-shadow: 0 0 5px #003763 inset;
          box-shadow: 0 0 5px #003763 inset;

  background-image: -moz-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -o-linear-gradient(#3AA7FF 0%, #006EC6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3AA7FF), color-stop(100%, #006EC6));
}

#card {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -100px;
  background-image: url('/i/card.png');
  background-position: 0px center;
  background-repeat: no-repeat;

  -webkit-transition: background-position 0.4s ease;
     -moz-transition: background-position 0.4s ease;
       -o-transition: background-position 0.4s ease;
          transition: background-position 0.4s ease;
}

#card.insert {
  background-position: 170px center;
}

#card img {
  float: right;
}

#status {
  width: 6px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 214px;
  background-image: url('/i/blink.gif');
  background-position: left center;
  background-repeat: no-repeat;

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;

  -webkit-box-shadow: 0 0 4px #c15151;
     -moz-box-shadow: 0 0 4px #c15151;
       -o-box-shadow: 0 0 4px #c15151;
          box-shadow: 0 0 4px #c15151;
}

#status.green {
  background-position: right center;

  -webkit-box-shadow: 0 0 4px #3bb421;
     -moz-box-shadow: 0 0 4px #3bb421;
       -o-box-shadow: 0 0 4px #3bb421;
          box-shadow: 0 0 4px #3bb421;
}

#hint { /* put hints on rollover */
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -100px;
  z-index: 0;
  background-image: url('/i/hint.png');
  background-repeat: no-repeat;
}

#hint.info{
  background-position: left center;
}

#hint.signUp {
  background-position: right center;
}

#signUpFormWrap {
  margin: 122px 160px;
}

#signUpFormWrap a.signUpIn {
  color: #549FDC;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#signUpFormWrap a.space {
  margin: 10px 20px 0;
  display: inline-block;
}

#signUpForm, #congrats {
  padding: 20px;
  background-color: rgba(0,0,0,0.035);

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

#signUpForm ul {
  list-style-type: none;
  margin: 0 0 20px;
}

#signUpForm li {
  margin: 0 0 10px;
  padding: 0;
}

#signUpForm label {
  display: block;
  color: #62615F;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

#signUpForm label.half,
.half {
  width: 50%;
  display: inline-block;
  float: left;
}

#signUpForm .red {
  color: red;
}

#signUpForm input[type=email],
#signUpForm input[type=password] {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #A3A29D #C6C3B4 #C6C3B4 #A3A29D;
  outline: none;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;

  -webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
     -moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
       -o-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
          box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

#signUpForm input[type=email]:focus,
#signUpForm input[type=password]:focus {
  border: 1px solid #549FDC;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;

  -webkit-box-shadow: 0 0 0 1px #549FDC inset;
     -moz-box-shadow: 0 0 0 1px #549FDC inset;
       -o-box-shadow: 0 0 0 1px #549FDC inset;
          box-shadow: 0 0 0 1px #549FDC inset;
}

#signUpForm .submit {
  height: 28px;
}

#signUpForm .remember {
  display: inline-block;
  line-height: 28px;
}

#signUpForm .remember .checkAlign {
  float: left;
}

#signUpForm .remember label {
  margin-left: 5px;
  float: left;
}

#signUpForm .create {
  font-size: 14px;
  height: 28px;
  padding: 0 10px;
  float: right;
}

#signUpForm .error {
  margin-top: 20px;
  color: red;
  background-color: rgba(255,0,0,0.25);
  padding: 5px;
  line-height: 16px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}


#congrats #siteinfo, #congrats {
  display: none;
}

#congrats p {
    color: #62615F;
    display: block;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#congrats .website {
    display: block;
    text-align: center;
}


a.forgot {
  color: #888784;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 11px;
}

.notifications {
  list-style-type: none;
}

.notifications > .notification {
  margin-top: 20px;
  padding: 5px;
  line-height: 16px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
  display: none;
  text-align: center;
}

.notifications .notification.error {
  color: red;
  background-color: rgba(255,0,0,0.25);
}


#header {
  position: absolute;
  top: 0;
  font-weight: bold;
}

#header ul {
  display: inline-block;
}

#header ul.nav {
  float: right;
}

#header ul li {
  display: inline-block;
  float: left;
}

#header ul.nav li {
  margin: 0 0 0 10px;
}

#header a {
  color: #222;
}

#header a.home {
  width: 80px;
  height: 21px;
  background-image: url('/i/icon.png');
  display: block;
  background-position: left 4px;
  background-repeat: no-repeat;
}

#header a.signIn, #header a.signOut {
  background-color: rgba(0,0,0,0.1);
  padding: 4px 8px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

#header a.signIn:hover, #header a.signOut:hover {
  background-color: rgba(0,0,0,0.25);
  text-decoration: none;
}

.authenticated .signIn, .signOut {
  display: none;
}

.authenticated .signOut {
  display: inline;
}

#header,
#footer {
  display: block;
  width: 100%;
  padding: 20px 0;
}

#footer ul li {
  display: inline-block;
  float: left;
  margin: 0 10px 0 0;
}

#footer {
  position: absolute;
  bottom: 0;
  color: #aaa;
}

#footer a {
  color: #aaa;
}

