<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


  <h2 id="cannotVerifyRequiredEmail"><%= format(gettext('Cannot verify %s'), [email]) %></h2>

  <p>
    <%= format(gettext('%s is a required address, but we cannot verify that you own this address.'), [email]) %>
  </p>


