<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div class="form_section" id="complete_sign_in">
      <% if (email) { %>
        <%- format(gettext("%(email)s verified!"), {
          email: "<strong>" + escape(email) + "</strong>"
        }) %>
      <% } %>

      <h2 class="large">
        <%= gettext("Signing you in&hellip;") %>
      </h2>
  </div>
