<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

    <h2><%= gettext('Confirm your email address') %></h2>

    <p>
      <%= format(gettext('Check your email at %s.'), ["<strong>" + email + "</strong>"]) %>
    </p>

    <p>
      <%= format(gettext('Click the link in the confirmation email. You\'ll then immediately be signed in to %s.'), ["<strong>" + siteName + "</strong>"]) %>
    </p>

