<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

    <h2 id="confirm_address"><%= gettext('Check your email') %></h2>

    <p>
      <%- format(gettext('Click the link in the confirmation email sent to %s to immediately be signed in to %s.'), ["<strong>" + escape(email) + "</strong>" , "<strong>" + siteName + "</strong>"]) %>
    </p>

