<ul id="development">
    <li><a id="showError" href="/">Show Error</a></li>
    <li><a id="showDelay" href="/">Show Delay</a></li>
    <li><a id="showWait" href="/">Show Wait</a></li>
    <li><a id="hideAll" href="/">Hide Screens</a></li>
    <li><a id="clearLocalStorage" href="/">Clear localStorage</a></li>
    <li><a id="clearEmailsForSites" href="/">Clear Site&lt;-&gt;Emails</a></li>
    <li><a id="forceIsThisYourComputer" href="/">Force "Is This Your Computer"</a></li>
    <li><a id="closeDevelopment" href="/">Close</a></li>
</ul>

