<ul id="development">
    <li><a id="showError" href="/">Show Error</a></li>
    <li><a id="showDelay" href="/">Show Delay</a></li>
    <li><a id="showWait" href="/">Show Wait</a></li>
    <li><a id="hideAll" href="/">Hide Screens</a></li>
    <li><a id="closeDevelopment" href="/">Close</a></li>
</ul>

