<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


  <h2 id="invalidRequiredEmail"><%= format(gettext('*%s* is not a valid email address!'), [email]) %></h2>

  <p>
    <%= gettext('To continue, please close the window and enter a valid address.') %>
  </p>


