<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


  <h2 id="invalidRequiredEmail">*<%= email %>* is not a valid email address!</h2>

  <p>
    To continue, please close the window and enter a valid address.
  </p>


