<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


  <h2 id="offline"><%= gettext('You are offline!') %></h2>

  <p>
    <%= gettext('We are sorry, but we cannot communicate with BrowserID while you are offline.') %>
  </p>


