  <a id="thisIsNotMe" href="#">This is not me...</a>
  <strong>Sign in using</strong>

  <div id="selectEmail" class="form_section">
      <ul class="inputs">
          <% _.each(identities, function(email_obj, email_address) { %>
              <li>

                  <label for="<%= email_address %>" class="serif<% if (email_address === siteemail) { %> preselected<% } %> selectable">
                    <input type="radio" name="email" id="<%= email_address %>" value="<%= email_address %>"
                      <% if (email_address === siteemail) { %> checked="checked" <% } %>
                    />
                    <%= email_address %>
                  </label>
              </li>
          <% }); %>
      </ul>
      <a id="useNewEmail" href="#">Use a different email</a>

      <div class="submit add cf">

          <% if (allow_persistent) { %>
            <label for="remember" class="selectable">
              <input type="checkbox" id="remember" name="remember" <% if (remember) { %> checked="checked" <% } %> />
              Always sign in using this email
            </label>
          <% } %>

          <button id="signInButton">sign in</button>

          <p>
          </p>
      </div>
  </div>

