<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

<% if(privacyPolicy && termsOfService) { %>
    <%- format(gettext("You also agree to %(site)s's <a %(terms)s>Terms</a> and <a %(privacy)s>Privacy Policy</a>."),
               {
                 terms: 'href="' + termsOfService + '" class="rp_tos" target="_blank" tabindex="10"',
                 privacy: 'href="' + privacyPolicy + '" class="rp_pp" target="_blank" tabindex="10"',
                 site: siteName || hostname
               })
    %>
<% } %>
