<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

<% if(logoURL) { %>
  <img id="rp_logo" src="<%= logoURL %>" />
<% } %>


<% if(name) { %>
  <h2 id="rp_name"><%= name %></h2>
<% } %>

<% if(hostname) { %>
  <% if(name) { %>
    <h3 id="rp_hostname"><%= hostname %></h3>
  <% } else { %>
    <h2 id="rp_hostname"><%= hostname %></h2>
  <% } %>
<% } %>

