<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <strong>
    Sign in using
  </strong>

  <div class="form_section" id="set_password">
      <ul class="inputs">
          <li>
              <label for="password" class="serif">Password</label>
              <input class="sans" id="password" placeholder="Enter a Password" type="password" autofocus maxlength=80>

              <div class="tooltip" id="password_required" for="password">
                Password is required.
              </div>

              <div class="tooltip" id="password_too_short" for="password">
                Password must be at least 8 characters long.
              </div>
          <li>

          <li>
              <label for="vpassword" class="serif">Verify Password</label>
              <input class="sans" id="vpassword" placeholder="Repeat Password" type="password" maxlength=80>

              <div class="tooltip" id="vpassword_required" for="vpassword">
                Verification password is required.
              </div>

              <div class="tooltip" id="passwords_no_match" for="vpassword">
                Passwords do not match.
              </div>
          <li>


      </ul>

      <div class="submit cf">
          <button tabindex="1">Reset Password</button>
          <!--button id="cancel_set_password" tabindex="2">Cancel</button-->
      </div>
  </div>
