  <strong>Verify With Email Provider</strong>

  <div id="addEmail" class="cf form_section">
    To verify that you own <strong id="primary_email"><%= email %></strong>, you must
    sign in with your provider.  This window will be redirected to

    <p>
      <strong><%= auth_url %></strong>.
    </p>

    <div class="submit cf">
      <button id="verifyWithPrimary">Verify</button>
    </div>

  </div>

