@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/common/fonts/OpenSans-Italic.eot');
  src: local('Open Sans Italic'),
       local('OpenSans-Italic'),
       url('/common/fonts/OpenSans-Italic.eot') format('embedded-opentype'),
       url('/common/fonts/OpenSans-Italic.woff') format('woff'),
       url('/common/fonts/OpenSans-Italic.ttf') format('truetype');
}

