@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/common/fonts/OpenSans-Regular.eot');
  src: local('Open Sans'),
       local('OpenSans'),
       url('/common/fonts/OpenSans-Regular.eot') format('embedded-opentype'),
       url('/common/fonts/OpenSans-Regular.woff') format('woff'),
       url('/common/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/common/fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'),
       local('OpenSans-Light'),
       url('/common/fonts/OpenSans-Light.eot') format('embedded-opentype'),
       url('/common/fonts/OpenSans-Light.woff') format('woff'),
       url('/common/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/common/fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url('/common/fonts/OpenSans-Bold.eot') format('embedded-opentype'),
       url('/common/fonts/OpenSans-Bold.woff') format('woff'),
       url('/common/fonts/OpenSans-Bold.ttf') format('truetype');
}
